<div class="container register-interests">
	<div class="row  center mt50">
		<h3 class="text title m0">¿En qué estás interesado?</h3>
		<p class="text m0">Esto ayudará a personalizar la experiencia</p>
	</div>
	<form class="" method="POST" > {% csrf_token %}
		<div class="row interests-row mt40">
			<div class="col-xs-11 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-0">
				<h3 class="text interests-title">Para individuos</h3>
				<div class="option">
					<p class="interest-title">Eventos de nuestra Comunidad #EEAA</p>
					<p class="interest-text">Entérate de eventos de Emprendedores Anónimos en tu ciudad y conoce otros emprendedores e invitados destacados</p>
					<div class="interests-checkbox">
						<input type="checkbox" value="event" name="people">
					</div>
				</div>
				<div class="option">
					<p class="interest-title">Noticias de Startups e Inversión</p>
					<p class="interest-text">Mantente al tanto de la actualidad de emprendimiento e inversión en la región</p>
					<div class="interests-checkbox">
						<input type="checkbox"  value="notice" name="people">
					</div>
				</div>
				<div class="option">
					<p class="interest-title">Ofrecer Servicios</p>
					<p class="interest-text">Ofrece tus servicios a otros emprendedores en FounderList</p>
					<div class="interests-checkbox">
						<input type="checkbox" value="service" name="people">
					</div>
				</div>
				<div class="option">
					<p class="interest-title">Invertir</p>
					<p class="interest-text">Conoce Startups que están levantando capital</p>
					<div class="interests-checkbox">
						<input type="checkbox" value="invert" name="people">
					</div>
				</div>
				<div class="option">
					<p class="interest-title">Construir una red de contactos</p>
					<p class="interest-text">Conecta con miles de profesionales en Latinoamérica</p>
					<div class="interests-checkbox">
						<input type="checkbox" value="red" name="people">
					</div>
				</div>
			</div>
			<div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
				
			</div>
			<div class="col-xs-11 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-0">
				<h3 class="text interests-title">Para compañías</h3>
				<div class="option">
					<p class="interest-title">Levantando capital</p>
					<p class="interest-text">Conoce inversionistas en FounderList</p>
					<div class="interests-checkbox">
						<input type="checkbox" value="capital" name="company">
					</div>
				</div>
				<div class="option">
					<p class="interest-title">Dar a conocer la Compañía</p>
					<p class="interest-text">Aumenta tu visibilidad ante potenciales clientes, aliados e inversionistas</p>
					<div class="interests-checkbox">
						<input type="checkbox" value="population" name="company">
					</div>
				</div>
			</div>
		</div>
		<div class="row center mt40">
			<button type="submit" class="fancy-button button-line button-white large zoom subform mb100 bold ph40">
			  Guardar y continuar
			</button>
		</div>
	</form>
</div>
{% include 'include/progress_bar.html'%}
