<div class="container register-avatar">
	<div class="row  center mt50">
		<h3 class="text title m0">Sube una foto de perfil</h3>
		<p class="text m0">Ayuda a tus contactos a que te reconozcan y permite que te conozcamos</p>
	</div>
	<form class="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
		<div class="row interests-row mt50 center">
			<div class="circle-container">
				<div class="separator4"></div>
				<input type="file" id="image_picker" name="avatar" class="circle-image-picker" accept="image/*" onchange="readURL(this);"></input>
				<i class="fa fa-user-circle" aria-hidden="true"></i>
				<div class="white-fill"></div>
				<img id="avatar" src="#"/>
				<input type="text" name="avatar_text"  id="avatar_text" class="hidden" value="">
			</div>
		</div>

		<div class="row center">
			<a class="large zoom subform bold ph40 btn-second"  onclick="document.getElementById('image_picker').click()">
			  Cargar foto
			</a>
		</div>
		<div class="row center mt50">
			<button type="submit" class="fancy-button button-line button-white large zoom subform bold ph40">Siguiente</button>
		</div>
		<div class="row center mt50 mb100">
			<a href="/register_mini_resume" class="skip-step">Saltar este paso</a>
		</div>
	</form>
</div>
{% include 'include/progress_bar.html'%}
<script>
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar')
                    .attr('src', e.target.result)
                    .css({'visibility':'visible'})

                $('#avatar_text')
                    .val(e.target.result)
                //$('#avatar_text').val("holaaaa")
								//console.log('holaaa');
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
