<div class="container register-location">
	<div class="row  center register-location-header mt50">
		<h3 class="text title m0">Bienvenido a FOUNDERLIST, {{user.first_name}}!</h3>
		<p class="text m0">Empezaremos por tu perfil personal para luego ir por el de tu compañia.</p>
		<p class="text m0">Esto re ayudará a tener mayor éxito en FounderList</p>
	</div>

	<form class="" method="POST" > {% csrf_token %}
		<div class="row input-area">
			<div class="form-group form-inline">
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<label class="dark-grey-text">Ciudad Actual <span class="grey-text italic">(Requerido)</span></label>	
				</div>
			    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
			    	<input type="text" class="form-control w100 tokenfield-location" id="tokenfield_location" name="location" value="" placeholder="Ej. Santiago" required />
			    </div>
			</div>
		</div>
		<div class="row center">
			<button type="submit" class="fancy-button button-line button-white large zoom subform mb100 bold ph40">
			  Guardar y continuar
			</button>
		</div>
	</form>	
</div>
{% include 'include/progress_bar.html'%}