<div class="container register-mini-resume">
	<div class="row  center mt50">
		<h3 class="text title m0">Crear un Mini Resumen</h3>
		<p class="text m0">Es tu descripcion personal que aparecera en la parte superior de Perfil Personal</p>
	</div>
	<form class="" method="POST" > {% csrf_token %}
		<div class="row interests-row mt50 center">
			<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
				<textarea name="mini_resume" id="mini_resume" class="form-control mini-resume" rows="3" required="required" maxlength="160"></textarea>
				<div id="text-area-counter"></div>
			</div>
			<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
		</div>

		<div class="row center mt20">
			<button type="submit" class="fancy-button button-line button-white large zoom subform bold ph40">
			  Guardar y continuar
			</button>
		</div>
		<div class="row center mt50 mb100">
			<a href="/register_privacy" class="skip-step">Saltar este paso</a>
		</div>
	</form>
</div>
{% include 'include/progress_bar.html'%}
<script>
    $('#text-area-counter').html('0 / 160');
    $('#mini_resume').keyup(function() {
        var text_length = $('#mini_resume').val().length;
        var text_remaining = 0 + text_length;
        $('#text-area-counter').html(text_remaining + ' / 160');
    });
</script>
