{% load staticfiles %}
<div class="container register-mini-resume">
  <div class="row  center mt50">
    <h3 class="text title m0">Perfil de los Visitantes</h3>
    <p class="text m0">Escoge que es lo que otras personas pueden ver cuando te visitan</p>
  </div>
  <form class="" method="POST" > {% csrf_token %}
    <div class="row interests-row mt50 center">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="privacy-option">
          <p class="privacy-subtitle bold">Modo público (Recomendado)</p>
          <p class="privacy-text bold">Puedes ver quien ha visitado tu perfil, y personas y compañías podrán ver que tu visitastes sus perfiles</p>
          <div class="privacy-checkbox">
            <input type="radio" value="public" name="mode" required>
          </div>
          <div class="row privacy-example-wrapper">
            <img class="example-image" src="{%static 'images/''%}{{profile.name_photo }}"/>
            <div class="text-wrapper">
              <p class="example-title">{{user.first_name}} {{user.last_name}}</p>
              <p class="example-subtext">
                {% for i in cities%}
                  {{i.city.name}}, {{i.city.country.name}}
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
        <div class="privacy-option">
          <p class="privacy-subtitle bold">Modo privado</p>
          <p class="privacy-text bold">No puedes ver quien ha visitado tu perfil, ni otras personas ni compañías sabrán que visitaste sus perfiles</p>
          <div class="privacy-checkbox">
            <input type="radio" value="private" name="mode" required>
          </div>
          <div class="row privacy-example-wrapper">
            <img class="example-image" src="{% static 'images/founderlist_arrow.png' %}"/>
            <div class="text-wrapper">
              <p class="example-title">Miembro Anónimo de FounderList</p>
              <p class="example-subtext">Visitó tu perfil en Modo Privado</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>

    <div class="row center mt40">
      <button type="submit" class="fancy-button button-line button-white large zoom subform bold ph40">
        Guardar y continuar
      </button>
    </div>
    <div class="row center mt50 mb100">
      <a href="" class="skip-step">Saltar este paso</a>
    </div>
  </form>
</div>
{% include 'include/progress_bar.html'%}