<!--TABS-->
<div class="row mt20">
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
  <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 p0 menu-box">
    <a href="/login" class="center tab-menu">
      <p class="fs16 pb15">
        Login
      </p>
    </a>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 p0 active-menu">
    <a href="/register" class="center tab-menu">
      <p class="fs16 pb15">
        Registro
      </p>
    </a>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
</div>
<!--END TABS-->
<div class="row forms-container">
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 p0">
    <form class="contact-form support-form" method="POST" > {% csrf_token %}
      <div class='row '>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <input id="name" class="input-field form-item field-name placeholder" type="text" required="required" name="name" placeholder="Nombre">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <input id="last_name" class="input-field form-item field-name placeholder" type="text" required="required" name="last_name" placeholder="Apellido">
        </div>
      </div>
      <div class='row'>
        <div class="col-lg-12">
          <input id="email" class="input-field form-item field-email placeholder" type="email" required="required" name="email" placeholder="Correo Electronico">
        </div>
      </div>
      <div class='row '>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input id="password_1" class="input-field form-item field-name placeholder" type="password" required="required" name="password_1" placeholder="Contraseña">
          </div>
      </div>
      <div class='row '>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input id="password_2" class="input-field form-item field-name placeholder" type="password" required="required" name="password_2" placeholder="Repetir contraseña">
          </div>
      </div>
      <div class="row submit-btn-row m0 center mt20">
        <button type="submit" class="fancy-button button-line button-white large zoom subform m0 bold ph40">
          Registrarse
        </button>
      </div>
      <div class="center mt15">
        <p class="info-text">Al registrarme, estoy de acuerdo con los <a href="" class="inline-link">Términos y Condiciones</a> de FounderList</p>
      </div>
    </form>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
</div>
