{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	{% include 'include/script.html'%}
</head>
<body>
  {% include 'include/header.html'%}
	<div class="alert alert-success custom-alert" style="position: fixed;
		z-index: 9999;
		width: 100%; height: 65px; display:none">
		<div class="message">
		</div>
		<span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -25px;cursor:pointer;" onclick="dismissAlert()">
	      x
	    </span>
	</div>
  <div id="banner" class="header-section parallax" style="max-height: 220px;background-image: url('{% static 'images/banner_vitrina_2.png' %}');">
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container" style="padding-top:100px; padding-bottom:100px;">

  			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  <h3 style="color:#f8f8f8; font-size: 30px;">{{title}}</h3>
					</div>

  		</div>
  	</div>
  	</div>
  	</div>

		<section id="sub_header">

			<div class="container" style="padding-top:20px;">
				<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 {%if id_selection == None %} active-menu {%endif%}">
						<a href="/vitrina" class="center tab-menu">
							<p>
								Todas las compañias
							</p>
							<p>
								{{company.count}}
							</p>
						</a>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 menu-box {%if id_selection == "1" %} active-menu {%endif%}">
					<a href="/vitrina/1/" class="center tab-menu">
						<p>
							Buscando inversionistas
						</p>
						<p>
							{{inversionista.count}}
						</p>
					</a>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 menu-box {%if id_selection == "2" %} active-menu {%endif%}">
					<a href="/vitrina/2/" class="center tab-menu">
						<p>
							Trabajando con founderlist
						</p>
						<p>
							{{founderlist.count}}
						</p>
					</a>
				</div>


			</div>
		</div>
		</section>

		<section>
			<div class="container" style="padding-top:20px; padding-bottom:40px;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="input-group">
							<!--<input type="text" class="form-control" placeholder="Palabra Clave"> -->
							<input type="text" class="form-control" id="tokenfield-1" name="filter" value="" placeholder="Palabra Clave" />
							<span class="input-group-btn save_information">
								<button class="btn btn-default save_btn" type="button" aria-haspopup="true" aria-expanded="false">Guardar</button>
								<ul class="dropdown-menu filter-search">
									<input type="text" name="name_filter" style="width: 95%;" id="name_filter" value="" placeholder="Nombre del filtro">
									<div class='row ' style="margin-left: -8px;margin-right: 25px;">
										<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
											<br>
											<input type="checkbox" value="1" name="" >
										</div>
										<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
											<br>
											Enviame una notificación de alerta <br>
											cuando nuevas compañias <br>
											tengan match con este filtro.
											<p style="font-style: italic;">
												<br>
												Todas las alertas las recibiras en un <br>unico mail diario.
											</p>
										</div>


									</div>
									<li class="container_save"><button class="fancy-button button-line large save" type="button" >Guardar filtro</button>
									 </li>

								</ul>
							</span>
						</div><!-- /input-group -->
					</div>

				</div>

				<div class="row sub-menu">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group">
							<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Tipo <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu filter-menu">
								{%for i in type_filter%}
						    <li class="filter_option" data-type="type">  <a>{{i.name}}</a> <hr></li>
								{%endfor%}
						  </ul>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group box-dropdown">
							<button type="button" class="btn btn-default filter-menu-btn" aria-haspopup="true" aria-expanded="false">
								Locación <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<input  type="text" name="location" id="location" value="" placeholder="Añadir locación">
								<li class="center" style="padding-bottom:15px"><hr><b>Locaciones Top 3</b></li>
								{%for i in places_top%}
								<li class="filter_option" data-type="place"><a>{{i.place__name}}</a></li>
								{%endfor%}
							</ul>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group box-dropdown-2">
							<button type="button" class="btn btn-default filter-menu-btn" aria-haspopup="true" aria-expanded="false">
								Industria <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<input  type="text" name="industry" id="industry" value="" placeholder="Añadir industria">
								<li class="center" style="padding-bottom:15px"><hr><b>Industrias Top 6</b></li>
								{%for i in industries_top%}
								<li class="filter_option" data-type="industry"><a>{{i.industry__name}}</a></li>
								{%endfor%}
							</ul>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group box-dropdown-3">
							<button type="button" class="btn btn-default filter-menu-btn"  aria-haspopup="true" aria-expanded="false">
								Tecnologia <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<input  type="text" name="tecnology" id="tecnology" value="" placeholder="Añadir tecnologia">
								<li class="center" style="padding-bottom:15px"><b>Top tag de tecnologia</b></li>
								{%for i in tecnologies_top%}
								<li class="filter_option" data-type="tecnology"><a>#{{i.tecnology__name}}</a></li>
								{%endfor%}
							</ul>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group">
							<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Equipo <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<li class="center" style="padding-bottom:15px"><b>Miembros de equipo</b></li>
								<input  type="text" name="" id="" value="" placeholder="">
									<hr>
								<li class="center" style="padding-bottom:15px" ><b>Trabajó previamente en</b></li>
								<input  type="text" name="" id="" value="" placeholder="">
								<hr>
								<li class="center" style="padding-bottom:15px"><b>Graduado</b></li>
								<input  type="text" name="" id="" value="" placeholder="">
								<hr>
							</ul>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group">
							<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Mis Filtros y Alertas <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<li class="center" style="padding-bottom:15px"><b>Filtros</b></li>
								{% if myfilters%}
									{%for i in myfilters%}
									<li class=""> <hr> </li>
									<li class="select-filter"><a>{{i.name}}</a></li>
									{%endfor%}
								{%else%}
									<li class="center">No has guardado ningún filtro</li>
								{%endif%}
							</ul>
						</div>
					</div>

					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<h4 class="total-company">{{companies_show.count}} Compañias</h4>
					</div>
					<!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sub-menu-box">
						<div class="form-group">
							<a href="#" class="btn btn-default ">
								Columnas
							</a>
						</div>
					</div>-->
				</div>

				<table class="table table-company">
			    <thead>
			      <tr>
			        <th>Compañia </th>
			        <th>Se unió</th>
			        <th>Locación</th>
			        <th>Industria</th>
			        <th>Sitio Web</th>
			        <th>Dinero levantado</th>
			      </tr>
			    </thead>
			    <tbody class="companies-show">
						{%for i in companies_show%}
			      <tr>
			        <td>
								<table class="">
									<tr>
						        <td>
											<!--<div class="box-logo" data-toggle="tooltip" data-placement="top" title="<div style='width:30%'>hola</div><div style='width:30%'>Tooltip on top</div>" data-content="And here's some amazing content. It's very engaging. Right?">-->
											<div class="box-logo pointer" data-toggle="popover" data-trigger="hover" data-content="<div class='col-md-2 m0 p0'>{%if i.logo %}<div class='box-logo' style='with:20px'><img src=''{{i.logo}}' alt="" /></div>{%else%}<div class='box-logo'>	<i class='fa fa-university'></i></div>{%endif%}</div><div class='col-md-10 m0 p0'><p><b>{{i.name}}</b><p>{{i.description}}</div>" data-placement="top" data-container="body">
												{% if i.logo %}
													<img src="{{i.logo}}" alt=""/>
												{%else%}
													<i class="fa fa-university" aria-hidden="true"></i>
												{%endif%}
											</div>

						        </td>
						        <td>
											<p  data-toggle="popover" data-trigger="hover" data-content="<div class='col-md-2 m0 p0'>{%if i.logo %}<div class='box-logo' style='with:20px'><img src=''{{i.logo}}' alt="" /></div>{%else%}<div class='box-logo'>	<i class='fa fa-university'></i></div>{%endif%}</div><div class='col-md-10 m0 p0'><p><b>{{i.name}}</b><p>{{i.description}}</div>" data-placement="top" data-container="body">
												<b class="pointer">{{i.name}}</b>
											</p>
											<p >
												{{i.description|truncatechars:30}}
											</p>
						        </td>
									</tr>
								</table>


							</td>
			        <td>{{i.date_joined|date:"d-m-y"}}</td>
			        <td>
								{%for place in i.get_place%}
									{{place.place.name}}/
								{%endfor%}
							</td>
			        <td>{{i.industry.name}}</td>
			        <td>{{i.web}}</td>
			        <td>{{i.money}} USD</td>
			      </tr>
						{%endfor%}
			    </tbody>
			  </table>
				<div class='row '>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<a type="submit" class="fancy-button button-line large zoom subform" style="    width: 100%;
    text-align: center; padding: 8px; height: 40px;">
								<b style="font-size: 16px;">Más</b>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

					</div>



				</div>


			</div>
		</section>



  {% include 'include/script_js.html'%}
  {% include 'include/footer.html'%}


	<script type="text/javascript">
	$(document).ready(function () {
		var id_selection = "{{id_selection}}";
		var location = "{{places_array}}";
		var industry = "{{industry_array}}";
		var tecnology = "{{tecnology_array}}";
		industry = industry.replace(/u&#39;/g, '').replace(/&#39;/g, '').replace('[', '').replace(']', '').split(',')
		location = location.replace(/u&#39;/g, '').replace(/&#39;/g, '').replace('[', '').replace(']', '').split(',')
		tecnology = tecnology.replace(/u&#39;/g, '').replace(/&#39;/g, '').replace('[', '').replace(']', '').split(',')
		$( "#tecnology" ).autocomplete({
	      source: tecnology,
				select: function (event, ui) {
					$('#tokenfield-1').tokenfield('createToken', { value: 'tecnology', label: ui.item.label });
					var values = $('#tokenfield-1').tokenfield('getTokens');
					$.ajax({
							url: "/ajax_filter/",
							data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
							dataType: "json",
							cache: false,
							success: function(data) {
										var result = JSON.parse(data['result']);
										var place_company = JSON.parse(data['place_company']);
										var logo;
										var logo_table;
										var html_table;
										for (i in result) {
											if (result[i]['logo']){
												logo= "<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\' style=\'with:20px\'><img src=\'"+ result[i]['logo'] +"\'/></div>"

												logo_table='<img src=\''+result[i]['logo'] +'\'/>'
											}else{
												logo = '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\'><i class=\'fa fa-university\'></i></div>'
												logo_table='<i class=\'fa fa-university\'></i>'
											}
											logo = logo +'</div><div class=\'col-md-10 m0 p0\'><p><b>'+ result[i]['name']+
														'</b><p>'+result[i]['description']+'</div>'
											//logo='<div class=\'hola\'>hola</div>'
											html_table = html_table+ '<tr> \
												<td> \
													<table> \
														<tr> \
															<td> \
																<div class="box-logo" data-toggle="popover" data-trigger="hover" \
																data-content="'+ logo +'" data-placement="top" data-container="body">'+
																logo_table+ '</div> </td> <td> \
																<p data-toggle="popover" data-trigger="hover" data-content="'+logo+'" data-placement="top" data-container="body"><b>'+
																result[i]['name']+'</b></p><p >'+
																result[i]['description'].substring(0, 30)+'...</p>\
															</td>\
														</tr>\
													</table>\
												</td>\
												<td>'+place_company[result[i]['name']]["date"]+'</td>\
												<td>'+JSON.parse(place_company[result[i]['name']]["place"]).toString()+'</td>\
												<td>'+result[i]['industry__name']+'</td>\
												<td>'+result[i]['web']+'</td>\
												<td>'+result[i]['money']+' USD</td>\
											</tr>'
										}
										$('.companies-show').empty()
										$('.companies-show').html(html_table)
										$('.total-company').text(data['total_company']+' Compañias')
										$('[data-toggle="popover"]').popover({html:true});
										return false;
							},
							error: function(jqXHR, textStatus, errorThrown) {
									if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
							},
							crossDomain: false,
							type: "POST",
					})
			  },
	    });
		$( "#location" ).autocomplete({
	      source: location,
				select: function (event, ui) {
					$('#tokenfield-1').tokenfield('createToken', { value: 'location', label: ui.item.label });
					var values = $('#tokenfield-1').tokenfield('getTokens');
					$.ajax({
							url: "/ajax_filter/",
							data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
							dataType: "json",
							cache: false,
							success: function(data) {
										var result = JSON.parse(data['result']);
										var place_company = JSON.parse(data['place_company']);
										var logo;
										var logo_table;
										var html_table;
										for (i in result) {
											if (result[i]['logo']){
												logo= "<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\' style=\'with:20px\'><img src=\'"+ result[i]['logo'] +"\'/></div>"

												logo_table='<img src=\''+result[i]['logo'] +'\'/>'
											}else{
												logo = '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\'><i class=\'fa fa-university\'></i></div>'
												logo_table='<i class=\'fa fa-university\'></i>'
											}
											logo = logo +'</div><div class=\'col-md-10 m0 p0\'><p><b>'+ result[i]['name']+
														'</b><p>'+result[i]['description']+'</div>'
											//logo='<div class=\'hola\'>hola</div>'
											html_table = html_table+ '<tr> \
												<td> \
													<table> \
														<tr> \
															<td> \
																<div class="box-logo" data-toggle="popover" data-trigger="hover" \
																data-content="'+ logo +'" data-placement="top" data-container="body">'+
																logo_table+ '</div> </td> <td> \
																<p data-toggle="popover" data-trigger="hover" data-content="'+logo+'" data-placement="top" data-container="body"><b>'+
																result[i]['name']+'</b></p><p >'+
																result[i]['description'].substring(0, 30)+'...</p>\
															</td>\
														</tr>\
													</table>\
												</td>\
												<td>'+place_company[result[i]['name']]["date"]+'</td>\
												<td>'+JSON.parse(place_company[result[i]['name']]["place"]).toString()+'</td>\
												<td>'+result[i]['industry__name']+'</td>\
												<td>'+result[i]['web']+'</td>\
												<td>'+result[i]['money']+' USD</td>\
											</tr>'
										}
										$('.companies-show').empty()
										$('.companies-show').html(html_table)
										$('.total-company').text(data['total_company']+' Compañias')
										$('[data-toggle="popover"]').popover({html:true});
										return false;
							},
							error: function(jqXHR, textStatus, errorThrown) {
									if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
							},
							crossDomain: false,
							type: "POST",
					})
			  },
	    });
		$( "#industry" ).autocomplete({
	      source: industry,
				select: function (event, ui) {
					$('#tokenfield-1').tokenfield('createToken', { value: 'industry', label: ui.item.label });
					var values = $('#tokenfield-1').tokenfield('getTokens');
					$.ajax({
							url: "/ajax_filter/",
							data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
							dataType: "json",
							cache: false,
							success: function(data) {
										var result = JSON.parse(data['result']);
										var place_company = JSON.parse(data['place_company']);
										var logo;
										var logo_table;
										var html_table;
										for (i in result) {
											if (result[i]['logo']){
												logo= "<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\' style=\'with:20px\'><img src=\'"+ result[i]['logo'] +"\'/></div>"

												logo_table='<img src=\''+result[i]['logo'] +'\'/>'
											}else{
												logo = '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\'><i class=\'fa fa-university\'></i></div>'
												logo_table='<i class=\'fa fa-university\'></i>'
											}
											logo = logo +'</div><div class=\'col-md-10 m0 p0\'><p><b>'+ result[i]['name']+
														'</b><p>'+result[i]['description']+'</div>'
											//logo='<div class=\'hola\'>hola</div>'
											html_table = html_table+ '<tr> \
												<td> \
													<table> \
														<tr> \
															<td> \
																<div class="box-logo" data-toggle="popover" data-trigger="hover" \
																data-content="'+ logo +'" data-placement="top" data-container="body">'+
																logo_table+ '</div> </td> <td> \
																<p data-toggle="popover" data-trigger="hover" data-content="'+logo+'" data-placement="top" data-container="body"><b>'+
																result[i]['name']+'</b></p><p >'+
																result[i]['description'].substring(0, 30)+'...</p>\
															</td>\
														</tr>\
													</table>\
												</td>\
												<td>'+place_company[result[i]['name']]["date"]+'</td>\
												<td>'+JSON.parse(place_company[result[i]['name']]["place"]).toString()+'</td>\
												<td>'+result[i]['industry__name']+'</td>\
												<td>'+result[i]['web']+'</td>\
												<td>'+result[i]['money']+' USD</td>\
											</tr>'
										}
										$('.companies-show').empty()
										$('.companies-show').html(html_table)
										$('.total-company').text(data['total_company']+' Compañias')
										$('[data-toggle="popover"]').popover({html:true});
										return false;
							},
							error: function(jqXHR, textStatus, errorThrown) {
									if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
							},
							crossDomain: false,
							type: "POST",
					})
			  },
	    });

		$('.select-filter').on('click', function (e) {
			var name=$(this).text()
			$.ajax({
					url: "/ajax_filters_select/",
					data: {'name': name, 'user':'{{user.pk}}', 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
					dataType: "json",
					cache: false,
					success: function(data) {
						data_filter = JSON.parse(data['data_filter'])
						$('#tokenfield-1').tokenfield('setTokens', []);
						for (i in data_filter){
							$('#tokenfield-1').tokenfield('createToken', { value: data_filter[i]['data_filter'], label: data_filter[i]['type_filter'] });

						}

						return false;
					},
					error: function(jqXHR, textStatus, errorThrown) {
							if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
					},
					crossDomain: false,
					type: "POST",
			}).done(function() {
				var values = $('#tokenfield-1').tokenfield('getTokens');
				$.ajax({
						url: "/ajax_filter/",
						data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									var result = JSON.parse(data['result']);
									var place_company = JSON.parse(data['place_company']);
									var logo;
									var logo_table;
									var html_table;
									for (i in result) {
										if (result[i]['logo']){
											logo= "<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\' style=\'with:20px\'><img src=\'"+ result[i]['logo'] +"\'/></div>"

											logo_table='<img src=\''+result[i]['logo'] +'\'/>'
										}else{
											logo = '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\'><i class=\'fa fa-university\'></i></div>'
											logo_table='<i class=\'fa fa-university\'></i>'
										}
										logo = logo +'</div><div class=\'col-md-10 m0 p0\'><p><b>'+ result[i]['name']+
													'</b><p>'+result[i]['description']+'</div>'
										//logo='<div class=\'hola\'>hola</div>'
										html_table = html_table+ '<tr> \
											<td> \
												<table> \
													<tr> \
														<td> \
															<div class="box-logo" data-toggle="popover" data-trigger="hover" \
															data-content="'+ logo +'" data-placement="top" data-container="body">'+
															logo_table+ '</div> </td> <td> \
															<p data-toggle="popover" data-trigger="hover" data-content="'+logo+'" data-placement="top" data-container="body"><b>'+
															result[i]['name']+'</b></p><p >'+
															result[i]['description'].substring(0, 30)+'...</p>\
														</td>\
													</tr>\
												</table>\
											</td>\
											<td>'+place_company[result[i]['name']]["date"]+'</td>\
											<td>'+JSON.parse(place_company[result[i]['name']]["place"]).toString()+'</td>\
											<td>'+result[i]['industry__name']+'</td>\
											<td>'+result[i]['web']+'</td>\
											<td>'+result[i]['money']+' USD</td>\
										</tr>'
									}
									$('.companies-show').empty()
									$('.companies-show').html(html_table)
									$('.total-company').text(data['total_company']+' Compañias')
									$('[data-toggle="popover"]').popover({html:true});
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})

			});
		})

		$('.save').on('click', function (e) {
			var name_filter = $('#name_filter').val()
			if (!name_filter){
				$('.custom-alert').css('display', '')
				$('.message').text('Tiene que llenar el nombre del filtro')
				$('.save_information').removeClass('open');
				return 0
			}
			var values = $('#tokenfield-1').tokenfield('getTokens');
			$.ajax({
					url: "/ajax_save_filter/",
					data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , 'name':name_filter, 'user':'{{user.pk}}', csrfmiddlewaretoken:'{{csrf_token}}'},
					dataType: "json",
					cache: false,
					success: function(data) {
								$('.custom-alert').css('display', '')
								$('.message').text(data['message'])
								$('.save_information').removeClass('open');
								return false;
					},
					error: function(jqXHR, textStatus, errorThrown) {
							if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
					},
					crossDomain: false,
					type: "POST",
			})
		})
		$('#tokenfield-1').on('tokenfield:removedtoken', function (e) {
			var values = $('#tokenfield-1').tokenfield('getTokens');
			$.ajax({
					url: "/ajax_filter/",
					data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
					dataType: "json",
					cache: false,
					success: function(data) {
								var result = JSON.parse(data['result']);
								var place_company = JSON.parse(data['place_company']);
								var logo;
								var logo_table;
								var html_table;
								for (i in result) {
									if (result[i]['logo']){
										logo= '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\' style=\'with:20px\'><img src=\''+ result[i]['logo'] +'\'/></div>'

										logo_table='<img src=\''+result[i]['logo'] +'\'/>'
									}else{
										logo = '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\'><i class=\'fa fa-university\'></i></div>'
										logo_table='<i class=\'fa fa-university\'></i>'
									}
									logo = logo +'</div><div class=\'col-md-10 m0 p0\'><p><b>'+ result[i]['name']+
												'</b><p>'+result[i]['description']+'</div>'
									//logo='<div class=\'hola\'>hola</div>'
									html_table = html_table+ '<tr> \
										<td> \
											<table> \
												<tr> \
													<td> \
														<div class="box-logo" data-toggle="popover" data-trigger="hover" \
														data-content="'+ logo +'" data-placement="top" data-container="body">'+
														logo_table+ '</div> </td> <td> \
														<p data-toggle="popover" data-trigger="hover" data-content="'+logo+'" data-placement="top" data-container="body"><b>'+
														result[i]['name']+'</b></p><p >'+
														result[i]['description'].substring(0, 30)+'...</p>\
													</td>\
												</tr>\
											</table>\
										</td>\
										<td>'+place_company[result[i]['name']]["date"]+'</td>\
										<td>'+JSON.parse(place_company[result[i]['name']]["place"]).toString()+'</td>\
										<td>'+result[i]['industry__name']+'</td>\
										<td>'+result[i]['web']+'</td>\
										<td>'+result[i]['money']+' USD</td>\
									</tr>'
								}
								$('.companies-show').empty()
								$('.companies-show').html(html_table)
								$('.total-company').text(data['total_company']+' Compañias')
								$('[data-toggle="popover"]').popover({html:true});
								return false;
					},
					error: function(jqXHR, textStatus, errorThrown) {
							if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
					},
					crossDomain: false,
					type: "POST",
			})
	  })
		$('.filter_option').on('click', function (e) {
				$(this).parent().parent().removeClass('open');
				var data_type= $(this).attr('data-type')
				var value = $(this).text();
				console.log($(this).text());
				if (data_type=='tecnology'){
					value = value.substr(1)
				}
				$('#tokenfield-1').tokenfield('createToken', { value: data_type, label: value });
				var values = $('#tokenfield-1').tokenfield('getTokens');
				$.ajax({
						url: "/ajax_filter/",
						data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									var result = JSON.parse(data['result']);
									var place_company = JSON.parse(data['place_company']);
									var logo;
									var logo_table;
									var html_table;
									for (i in result) {
										if (result[i]['logo']){
											logo= "<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\' style=\'with:20px\'><img src=\'"+ result[i]['logo'] +"\'/></div>"

											logo_table='<img src=\''+result[i]['logo'] +'\'/>'
										}else{
											logo = '<div class=\'col-md-2 m0 p0\'><div class=\'box-logo\'><i class=\'fa fa-university\'></i></div>'
											logo_table='<i class=\'fa fa-university\'></i>'
										}
										logo = logo +'</div><div class=\'col-md-10 m0 p0\'><p><b>'+ result[i]['name']+
													'</b><p>'+result[i]['description']+'</div>'
										//logo='<div class=\'hola\'>hola</div>'
										html_table = html_table+ '<tr> \
							        <td> \
												<table> \
													<tr> \
										        <td> \
															<div class="box-logo" data-toggle="popover" data-trigger="hover" \
															data-content="'+ logo +'" data-placement="top" data-container="body">'+
															logo_table+ '</div> </td> <td> \
															<p data-toggle="popover" data-trigger="hover" data-content="'+logo+'" data-placement="top" data-container="body"><b>'+
															result[i]['name']+'</b></p><p >'+
															result[i]['description'].substring(0, 30)+'...</p>\
										        </td>\
													</tr>\
												</table>\
											</td>\
							        <td>'+place_company[result[i]['name']]["date"]+'</td>\
							        <td>'+JSON.parse(place_company[result[i]['name']]["place"]).toString()+'</td>\
							        <td>'+result[i]['industry__name']+'</td>\
							        <td>'+result[i]['web']+'</td>\
							        <td>'+result[i]['money']+' USD</td>\
							      </tr>'
									}
									$('.companies-show').empty()
									$('.companies-show').html(html_table)
									$('.total-company').text(data['total_company']+' Compañias')
									$('[data-toggle="popover"]').popover({html:true});
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
		});

	})
	</script>
	<script type="text/javascript">
	function dismissAlert () {
			$('.alert.alert-success').fadeOut();
		};
	</script>
</body>
