{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user}}';
		var event_id;
	</script>
	{% include 'include/script.html'%}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body>
	{% if message %}
	<div class="alert alert-success custom-alert" style="position: absolute;
    z-index: 9999;
    width: 100%;">
		{{message}}
    <span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -1px;cursor:pointer;" onclick="dismissAlert()">
      x
    </span>
	</div>
	{% endif %}
  {% include 'include/header.html'%}
  <div class="inv-register-welcome-body">
    <!-- TITLE -->
    <div id="banner" class="header-section parallax" style="max-height: 220px;');">
      <div id="section-home" class="home-section-wrap center">
        <!--<div class="section-overlay"></div>-->
        <div class="container" style="padding-top:100px; padding-bottom:100px;">
          <div class="row mt45">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3 class="irw-title">Syndicates</h3>
              <p class="irw-subtitle">Fondo de capital para invertir en una compañia, liderado por inversionistas destacados</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ENDTITLE -->
    <!-- TOP BTNS ROW -->
    <div class="row mt40">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ph10">
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn blue-btn" href="">
            Cómo funciona
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ph10">
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn" href="/home/register_investor_s1">
            Comenzar
          </a>
        </div>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <!-- END TOP BTNS ROW -->
    <!-- COUNTERS AREA -->
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center mt60">
          <p class="counter-number">
            +220
          </p>
          <p class="counter-label">
            INVERSIONISTAS
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center mt60">
          <p class="counter-number p0">
            $30K - $200K
          </p>
          <p class="counter-label">
            USD
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center mt60">
          <p class="counter-number">
            2500
          </p>
          <p class="counter-label">
            COMPAÑÍAS REGISTRADAS INVERSIÓN PROMEDIO BUSCADA REGISTRADAS
          </p>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <!-- END COUNTERS AREA -->
    <!-- PARAGRAPH AREA 1 -->
    <div class="row center ph5p mt90">
      <p class="irp-area-title">
        ¿Qué es un Syndicate?
      </p>
      <p class="irp-area-text">
        Es un Fondo de capital creado para invertir en un deal específico. Inversionistas co-invierten en el fondo para de manera conjunta invertir en una compañía. Esta inversión es liderada por inversionistas ángeles o inversionistas institucionales destacados y si lo deseas, puedes aplicar para crear tu propio Syndicate con tus contactos y/o con Inversionistas de FounderList
      </p>
      <p class="irp-area-text">
        Los Syndicates son privados. Inversionistas pueden aplicar a un Syndicate y podrán decidir en qué deals les gustaría participar
      </p>
    </div>
    <!-- END PARAGRAPH AREA 1 -->
    <!-- BTNS WITH THUMNAILS AREA 1 -->
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ph5p mt100 md-mt40">
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn blue-btn mt20" href="">
            Founderlist Inversionistas Líderes
          </a>
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn blue-btn mt20" href="">
            Founderlist para Inversionistas
          </a>
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn blue-btn mt20" href="">
            FounderList para Emprendedores
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row mt50 center">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español CNN en español CNN en español CNN en español CNN en español CNN en español</p>
            </div>
            <div class="clear pt10">
              <a class="inline-link" href="">Ver más deals relacionados</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <!-- END BTNS WITH THUMNAILS AREA 1 -->
    <!-- PARAGRAPH AREA 2 -->
    <div class="row center ph5p mt90">
      <p class="irp-area-title">
        Syndicates Activos
      </p>
      <p class="irp-area-text">
        Los Syndicates están liderados por inversionistas que suelen contar con experiencia de inversión en Startups, han liderado negocios ó tienen conocimientos específicos para aportar a la compañía en que se invertirá. Generalmente son Inversionistas ángeles experimentados, fondos de inversión o profesionales con cargos corporativos altos
      </p>
    </div>
    <!-- END PARAGRAPH AREA 2 -->
    <!-- BTNS WITH THUMNAILS AREA 2 -->
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ph5p mt135 md-mt40">
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn blue-btn mt20" href="">
            Ver Syndicates Activos
          </a>
          <a class="fancy-button button-line button-white large zoom subform m0 bold wide-btn blue-btn mt20" href="">
            Crear un Syndicate
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row mt50 center">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center">
              <div class="thum-container" style="background-image: url({% static 'images/cnn-logo.jpg' %})"></div>
              <p class="ir-thumb-label">CNN en español CNN en español CNN en español CNN en español CNN en español CNN en español</p>
            </div>
            <div class="clear pt10">
              <a class="inline-link" href="">Ver más deals relacionados</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <!-- END BTNS WITH THUMNAILS AREA 2 -->
    <!-- FINAL OPTIONS SECTION -->
    <div class="row center ph5p mt90 mb100">
      <p class="irp-area-title">
        Comenzar
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt50">
          <i class="fa fa-flag grey-circled-icon"></i>
          <p class="irp-area-text p0 bold">
            Inversionistas: Liderar un Syndicate
          </p>
          <p class="list-text p0 text-left m0 lh20 md-center">
            1. Gana Carry de tus inversiones
          </p>
          <p class="list-text p0 text-left m0 lh20 md-center">
            2. Accede a deals atractivos y a su información más fácil y rápido
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt50">
          <i class="fa fa-line-chart grey-circled-icon"></i>
          <p class="irp-area-text p0 bold">
            Inversionistas: Invierte en Compañías y Syndicates
          </p>
          <p class="list-text p0 text-left m0 lh20 md-center">
            1. Aumenta tus posibilidades co-invirtiendo con inversionistas experimentados
          </p>
          <p class="list-text p0 text-left m0 lh20 md-center">
            2. Diversifica tus inversiones
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt50">
          <i class="fa fa-flag-checkered grey-circled-icon"></i>
          <p class="irp-area-text p0 bold">
            Fundadores: Iniciar Ronda de Inversión
          </p>
          <p class="list-text p0 text-left m0 lh20 md-center">
            1. Obtén financiamiento de inversionistas destacados que te agreguen valor
          </p>
          <p class="list-text p0 text-left m0 lh20 md-center">
            2. Se invertido por un grupo de inversionistas, de manera ordenada y normada
          </p>
        </div>
      </div>
    </div>
    <!-- END FINAL OPTIONS SECTION -->
    <!-- BOTTOM BTN -->
    <!--<div class="container mt60">
      <div class='row' >
        <div class='container p0'>
          <a class="fancy-button button-line button-white large zoom subform m0 bold ph40" href="/home/register_investor_s1">
            Comenzar
          </a>
        </div>
      </div>
    </div>-->
    <!-- END BOTTOM BTN -->
  </div>

  {% include 'include/script_js.html'%}

	<section id="sub_header">


	</section>
{% include 'include/footer.html'%}
  <script type="text/javascript">
    setTimeout(function() {
      dismissAlert();
    }, 2500);
    function dismissAlert () {
      $('.alert.alert-success').fadeOut();
    }

  </script>
  </body>
