{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user}}';
		var event_id;
	</script>
	{% include 'include/script.html'%}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body>
  <script type="text/javascript">
    var industries = "{{industries}}"
    var industries = industries.replace(/u&#39;/g, '"').replace(/&#39;/g, '"')
    var industries = JSON.parse(industries)
  </script>
	{% if message %}
	<div class="alert alert-success custom-alert" style="position: absolute;
    z-index: 9999;
    width: 100%;">
		{{message}}
    <span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -1px;cursor:pointer;" onclick="dismissAlert()">
      x
    </span>
	</div>
	{% endif %}
  {% include 'include/header.html'%}
  {%if step == 1%}
  {% include 'include/banner_register.html'%}
  {%endif%}

    {% include 'include/script_js.html'%}

	<section id="sub_header">

		<div class="container">
      <!--BODY CONTAINER-->
      <div class='row' >
        <div class='container p0'>
            {%if step == 1%}
              {% include 'register/step_1.html'%}
            {%endif%}
            {%if step == 2%}
              {% include 'register_investor/step_2.html'%}
            {%endif%}
            {%if step == 3%}
              {% include 'register_investor/step_3.html'%}
            {%endif%}
            {%if step == 4%}
              {% include 'register_investor/step_4.html'%}
            {%endif%}
            {%if step == 5%}
              {% include 'register_investor/step_5.html'%}
            {%endif%}
            {%if step == 6%}
              {% include 'register_investor/step_6.html'%}
            {%endif%}
      </div>
    </div>
      <!--END BODY CONTAINER-->
	 </div>
	</section>
{% include 'include/footer.html'%}
<script type="text/javascript">

    $('.checkbox-radio').click(function(){
      $('.checkbox-radio').each(function(){
          $(this).prop('checked', false); 
        }); 
        $(this).prop('checked', true);
        $("#acreditation").css("display", "block")
        var value=$(this).val()
        if(value==1){
          $("#investment_fund_box").css("display", "none")
          $("#name_contact_box").css("display", "none")
          $("#web_box").css("display", "none")
        }else if (value==2){
          $("#investment_fund").text("Nombre del fondo de inversion")
          $("#name_contact").text("Nombre del contacto dentro del fondo de inversión")
          $("#web").text("Web del fondo de inversión")
          $("#investment_fund_box").css("display", "block")
          $("#name_contact_box").css("display", "block") 
          $("#web_box").css("display", "block")        
        }else if(value==3){
          $("#investment_fund").text("Nombre del family office")
          $("#name_contact").text("Nombre del contacto dentro del family office")
          $("#web").text("Web del family office")
          $("#investment_fund_box").css("display", "block")
          $("#name_contact_box").css("display", "block")
          $("#web_box").css("display", "block")  
        }else if(value==4){
          $("#investment_fund").text("Nombre de la empresa")
          $("#name_contact").text("Nombre del contacto dentro de la empresa")
          $("#web").text("Web de la empresa")
          $("#investment_fund_box").css("display", "block")
          $("#name_contact_box").css("display", "block")
          $("#web_box").css("display", "block")  
        }
    });
	setTimeout(function() {
		dismissAlert();
	}, 2500);
	function dismissAlert () {
		$('.alert.alert-success').fadeOut();
	}
	var city = "{{city}}"
	var city = city.replace(/u&#39;/g, '"').replace(/&#39;/g, '"')
	var city = JSON.parse(city)
  var country = "{{country}}"
  var country = country.replace(/u&#39;/g, '"').replace(/&#39;/g, '"')
  var country = JSON.parse(country)
	console.log(city);
	$('#tokenfield_location').tokenfield({
		autocomplete: {
			source: city,
			delay: 100
		},
		showAutocompleteOnFocus: true,
		delimiter: [',',' ', '-', '_']
	}).on('tokenfield:createtoken', function (e) {
      if (city.indexOf(e.attrs.value)<0){
        $(this).tokenfield('setTokens', []);
        $('#tokenfield_location').val("")
        return false

      }
      if (token_first){
        $(this).tokenfield('setTokens', []);
      }
      token_first = true
      console.log(e.attrs.value)
  });
  $('#tokenfield_industry').tokenfield({
    autocomplete: {
      source: industries,
      delay: 100,
    },
    showAutocompleteOnFocus: true,
    delimiter: [',',' ', '-', '_']
  });
  var token_first = false
  $('#tokenfield_country').tokenfield({
    autocomplete: {
      source: country,
      delay: 100,
    },
    showAutocompleteOnFocus: true,
    delimiter: [',',' ', '-', '_']
  }).on('tokenfield:createtoken', function (e) {
      if (country.indexOf(e.attrs.value)<0){
        $(this).tokenfield('setTokens', []);
        $('#tokenfield_location').val("")
        return false

      }
      if (token_first){
        $(this).tokenfield('setTokens', []);
      }
      token_first = true
      console.log(e.attrs.value)
  });

  $[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      element=item.label
      var res = element.split(",");
      if (res[1]==undefined){
        second=""
      }else{
        second="<div class='complete-2'><a>" + res[1] + "</a</div>"
      }
      return $( "<li class='li-ui'></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<div><a></a></div>" ).html("<div class='complete-1'><a>"+ res[0] + "</a></div>" + second ) )
        .appendTo( ul );
   };
</script>
  </body>
