<!-- TITLE -->
<div id="banner" class="header-section parallax" style="max-height: 220px;');">
  <div id="section-home" class="home-section-wrap center">
    <!--<div class="section-overlay"></div>-->
    <div class="container" style="padding-top:100px; padding-bottom:100px;">
      <div class="row m0 mt30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="irw-title dark-text">Aplica para ser inversionista</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENDTITLE -->
<!-- WIZARD CIRCLES -->
<div class="row m0 mt40">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 relative">
    <div class="sm-circle-container-wrapper sm-circle-left sm-mb50">
      <div class="sm-circle-container grey-background">
        <div class="sm-circle center grey-background">
          <h3 class="number-label">1</h3>
          <p class="irw-subtitle mt40 dark-text">Acreditación</p>
        </div>
      </div>
    </div>
    <div class="sm-circle-container-wrapper sm-circle-center sm-mb50">
      <div class="sm-circle-container grey-background">
        <div class="sm-circle center grey-background">
          <h3 class="number-label">2</h3>
          <p class="irw-subtitle mt40 dark-text">Experiencia</p>
        </div>
      </div>
    </div>
    <div class="sm-circle-container-wrapper sm-circle-right sm-mb50">
      <div class="sm-circle-container">
        <div class="sm-circle center">
          <h3 class="number-label">3</h3>
          <p class="irw-subtitle mt40 dark-text">Detalles</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="clear"></div>
<!-- END WIZARD CIRCLES -->
<!-- **** FORM START **** -->
<form class="contact-form support-form" method="POST" > {% csrf_token %}
<!-- INPUTS AREA 1 -->
<div class="row m0 pt190 sm-pv0">
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <p class="irw-subtitle input-label">¿Cuál es tu presupuesto anual para invertir como Startup?</p>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
	   	<select  name="budget" class="form-control">
			  <option value="1">USD $1k-4k</option>
		</select>
	  </div>
	</div>
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" class="form-control">
	    <p class="irw-subtitle input-label">¿Cuál es el monto de dinero promedio que deseas inverir por Startup?</p>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <select  name="money" class="form-control">
			  <option value="1">USD $1k-4k</option>
		</select>
	  </div>
	</div>
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <p class="irw-subtitle input-label">¿Tienes alguna industria de preferencia en la que deseas invertir?</p>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <input type="text" class="form-control w100" id="tokenfield_industry" name="industry" value="" placeholder="" />
			
	  </div>
	</div>
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <p class="irw-subtitle input-label">¿En qué ciudad recides actualmente?</p>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <input type="text" class="form-control w100" id="tokenfield_location" name="location" value="" placeholder="" />
	  </div>
	</div>
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <p class="irw-subtitle input-label">¿En qué país recides actualmente?</p>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <input type="text" class="form-control w100" id="tokenfield_country" name="country" value="" placeholder="" />
	  </div>
	</div>
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    <p class="irw-subtitle input-label">Mini resumen - Ayuda a que otros inversionistas y Líderes de Syndicates te conozcan</p>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    <textarea class="grey-border" rows="6" cols="81" name="description" maxlength="160" id="mini_resume"> </textarea>
	    <div id="text-area-counter"></div>
	  </div>
	</div>
	<div class="row m0 mt20">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  <p class="irw-subtitle input-label">
	  	 Estoy de acuerdo con los Términos y Condiciones  de Founderlist &nbsp;&nbsp; <input type="checkbox" name="category" class="checkbox-radio" value="" required>
	  </p>
           
	  </div>
	</div>
	<div class="row m0 mt20">
	<ul class="ul-founderlist">
		<li><span>Entiendo que gran parte de las Startups pierden el dinero invertido y FounderList no tiene responsabilidad en ello</li>
		<li>Entiendo que es mi responsabilidad verificar la información de Startups e Inversionistas y que FounderList no se hace responsable de este diu diligence</span></li>
		<li>Entiendo que seré eliminado y bloqueado permanentemente de FounderList si es que falseo parcial o totalmente la información de mi aplicación como inversionista</li>
		<li>Quiero recibir mails de FounderList en relación a deals abiertos, eventos y más</li>
	</ul>
	</div>
</div>
<!-- END INPUTS AREA 1 -->
<!-- **** FORM END **** -->






<div class="row center">
  <button type="submit" class="fancy-button button-line button-white large zoom subform mb100 bold ph40">
    Aplicar
  </button>
</div>

</form>
{% include 'include/progress_bar.html'%}

<script>
    $('#text-area-counter').html('0 / 160');
    $('#mini_resume').keyup(function() {
        var text_length = $('#mini_resume').val().length;
        var text_remaining = 0 + text_length;
        $('#text-area-counter').html(text_remaining + ' / 160');
    });
</script>
