<!-- TITLE -->
<div id="banner" class="header-section parallax" style="max-height: 220px;');">
  <div id="section-home" class="home-section-wrap center">
    <!--<div class="section-overlay"></div>-->
    <div class="container" style="padding-top:100px; padding-bottom:100px;">
      <div class="row m0 mt30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="irw-title dark-text">Aplica para ser inversionista</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENDTITLE -->
<!-- WIZARD CIRCLES -->
<div class="row m0 mt40">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 relative">
    <div class="sm-circle-container-wrapper sm-circle-left sm-mb50">
      <div class="sm-circle-container">
        <div class="sm-circle center">
          <h3 class="number-label">1</h3>
          <p class="irw-subtitle mt40 dark-text">Acreditación</p>
        </div>
      </div>
    </div>
    <div class="sm-circle-container-wrapper sm-circle-center sm-mb50">
      <div class="sm-circle-container grey-background">
        <div class="sm-circle center grey-background">
          <h3 class="number-label">2</h3>
          <p class="irw-subtitle mt40 dark-text">Experiencia</p>
        </div>
      </div>
    </div>
    <div class="sm-circle-container-wrapper sm-circle-right sm-mb50">
      <div class="sm-circle-container grey-background">
        <div class="sm-circle center grey-background">
          <h3 class="number-label">3</h3>
          <p class="irw-subtitle mt40 dark-text">Detalles</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="clear"></div>
<!-- END WIZARD CIRCLES -->
<!-- **** FORM START **** -->
<form class="contact-form support-form" method="POST" > {% csrf_token %}
<!-- CHECKS AREA -->
<div id="banner" class="header-section parallax" style="max-height: 220px;');">
  <div id="section-home" class="home-section-wrap center">
    <!--<div class="section-overlay"></div>-->
    <div class="container pv100 sm-pv0">
      <div class="row m0 mt50">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr>
          <h4 class="irw-title dark-text">¿Cómo te gustaría invertir?</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m0 mt40">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pl40">
    <div class="option">
      <p class="irw-subtitle bold">Como individuo</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="1" name="invest_type" class="checkbox-radio">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pl40">
    <div class="option">
      <p class="irw-subtitle bold">Como Fondo de inversión</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="2" name="invest_type" class="checkbox-radio">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pl40">
    <div class="option">
      <p class="irw-subtitle bold">Como Family Office</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="3" name="invest_type" class="checkbox-radio">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pl40">
    <div class="option">
      <p class="irw-subtitle bold">Como Empresa</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="4" name="invest_type" class="checkbox-radio">
      </div>
    </div>
  </div>
</div>
<!-- END CHECKS AREA -->
<!-- INPUTS AREA 1 -->
<div style="display: none" id="acreditation">
<div class="row m0 mt40" id="investment_fund_box">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p class="irw-subtitle input-label" id="investment_fund">Nombre del fondo de inversion</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <input id="" class="input-field form-item field-name placeholder" type="text" name="investment_fund" placeholder="">
  </div>
</div>
<div class="row m0 mt20" id="name_contact_box">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="name_contact">
    <p class="irw-subtitle input-label">Nombre del contacto dentro del fondo de inversión</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <input id="" class="input-field form-item field-name placeholder" type="text" name="name_contact" placeholder="">
  </div>
</div>
<div class="row m0 mt20" id="web_box">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="web">
    <p class="irw-subtitle input-label">Web del fondo de inversión</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <input id="" class="input-field form-item field-name placeholder" type="text" name="web" placeholder="">
  </div>
</div>
<!-- END INPUTS AREA 1 -->
<!-- SUB TITLE 1 -->
<div class="row m0 mt30">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="irw-subtitle bold input-label">Contacto y Links a tu perfil personal - Nos ayudará a evaluar tu aplicacion</p>
  </div>
</div>
<!-- END SUB TITLE 1 -->
<!-- INPUTS AREA 2 -->
<div class="row m0 mt20">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p class="irw-subtitle input-label">Linkedin</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <input id="" class="input-field form-item field-name placeholder" type="text" required="required" name="linkedin" placeholder="">
  </div>
</div>
<div class="row m0 mt20">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p class="irw-subtitle input-label">¿Conoces a un Inversionista registrado en FounderList?</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <input class="mr15" type="radio" value="True" name="contact_founderlist">
    <span class="pl10 mr30">Si</span>
    <input class="mr15" type="radio" value="False" name="contact_founderlist">
    <span class="pl10">No</span>
  </div>
</div>
<div class="row m0 mt20">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p class="irw-subtitle input-label">Nombre del contacto</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <input id="" class="input-field form-item field-name placeholder" type="text" name="contact_name_founderlist" placeholder="">
  </div>
</div>
</div>
<!-- END INPUTS AREA 2 -->
<!-- SUBMIT BTN -->
<div class="row m0 center mt40">
  <button type="submit" class="fancy-button button-line button-white large zoom subform mb100 bold ph40">
    Siguiente
  </button>
</div>
<!-- END SUBMIT BTN -->
</form>
{% include 'include/progress_bar.html'%}

<script type="text/javascript">
$(document).ready(function () {
})
</script>
