<!-- TITLE -->
<div id="banner" class="header-section parallax" style="max-height: 220px;');">
  <div id="section-home" class="home-section-wrap center">
    <!--<div class="section-overlay"></div>-->
    <div class="container" style="padding-top:100px; padding-bottom:100px;">
      <div class="row m0 mt30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="irw-title dark-text">Aplica para ser inversionista</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ENDTITLE -->
<!-- WIZARD CIRCLES -->
<div class="row m0 mt40">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 relative">
    <div class="sm-circle-container-wrapper sm-circle-left sm-mb50">
      <div class="sm-circle-container grey-background">
        <div class="sm-circle center grey-background">
          <h3 class="number-label">1</h3>
          <p class="irw-subtitle mt40 dark-text">Acreditación</p>
        </div>
      </div>
    </div>
    <div class="sm-circle-container-wrapper sm-circle-center sm-mb50">
      <div class="sm-circle-container">
        <div class="sm-circle center">
          <h3 class="number-label">2</h3>
          <p class="irw-subtitle mt40 dark-text">Experiencia</p>
        </div>
      </div>
    </div>
    <div class="sm-circle-container-wrapper sm-circle-right sm-mb50">
      <div class="sm-circle-container grey-background">
        <div class="sm-circle center grey-background">
          <h3 class="number-label">3</h3>
          <p class="irw-subtitle mt40 dark-text">Detalles</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="clear"></div>
<!-- END WIZARD CIRCLES -->
<!-- **** FORM START **** -->
<form class="contact-form support-form" method="POST" >
   {% csrf_token %}
<!-- SUB TITLE 1 -->
<div class="row m0 mt30 pt190 sm-pv0">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="irw-subtitle bold input-label">¿De cual de las siguientes formas has invertido anteriormente?</p>
  </div>
</div>
<!-- END SUB TITLE 1 -->
<!-- CHECKS AREA 1 -->
<div class="row m0 sm-m0">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">Directamente en una Startup</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="1" name="value_to_startup">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">Desde una Family Office</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="2" name="value_to_startup">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">Directamente desde mi empresa</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="3" name="value_to_startup">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">No he invertido anteriormente</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="4" name="value_to_startup">
      </div>
    </div>
  </div>
</div>
<!-- END CHECKS AREA 1 -->
<!-- SUB TITLE 1 -->
<div class="row m0 mt30">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="irw-subtitle bold input-label">¿De que otras formas has agregado o podrias agregar valor a una Startup?</p>
  </div>
</div>
<!-- END SUB TITLE 1 -->
<!-- CHECKS AREA 2 -->
<div class="row m0 sm-m0">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">Conocimiento en alguna industria en particular</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="1" name="previously_invested">
      </div>
    </div>
  </div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">Conexion con clientes y/o afiliados</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="2" name="previously_invested">
      </div>
    </div>
  </div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pl40">
    <div class="option">
      <p class="irw-subtitle">Direccion estratégica del negocio</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="3" name="previously_invested">
      </div>
    </div>
  </div>
</div>
<div class="row m0 sm-m0">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 pl40">
    <div class="option">
      <p class="irw-subtitle">Marketing</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="4" name="previously_invested">
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pl40">
    <div class="option">
      <p class="irw-subtitle">Otros:</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="5" name="previously_invested">
      </div>
    </div>
  </div>
    <div class="col-xs-11 col-sm-11 col-md-8 col-lg-8 pl40">
    <div class="option">
          <textarea class="grey-border" rows="6" cols="79" id="other_text" name="other_text" maxlength="500"> </textarea>
          <div id="text-area-counter"></div>
    </div>
  </div>
</div>
<!--
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl40">
    <div class="option">
      <p class="irw-subtitle">Otros:</p>
      <div class="interests-checkbox">
        <input type="checkbox" value="5" name="previously_invested">
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <textarea class="grey-border" rows="4" cols="50" name="other_text"> </textarea>
  </div>
    </div>
  </div>-->

<!-- END CHECKS AREA 2 -->
<!-- BOTTOM BTN -->
<div class="row center mt30">
	<button type="submit" class="fancy-button button-line button-white large zoom subform mb100 bold ph40">
		Siguiente
	</button>
</div>
<!-- END BOTTOM BTN -->
</form>
{% include 'include/progress_bar.html'%}
<script>
    $('#text-area-counter').html('0 / 500');
    $('#other_text').keyup(function() {
        var text_length = $('#other_text').val().length;
        var text_remaining = 0 + text_length;
        $('#text-area-counter').html(text_remaining + ' / 500');
    });
</script>
















