{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    {% include 'include/script.html'%}
    <!-- CUSTOM FILE STYLES -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/startup_profile.css' %}" />
  </head>
  <body>
    {% include 'include/header.html'%}  
    <!-- BODY -->
    <div class="body mb15">
      <!-- GLOBAL WRAPPER -->
      <div class="container">

        <!-- LOGO IMG ROW -->
        <div class="row m0 mt15">

          <!-- IMGS BOXES -->
          <div class="relative">

            <!-- ADD IMG BOX + LABEL -->
            <div class="box-and-label-container">
              <div class="img-add-box">
                <p class="plus-text">+</p>
                <p>Añadir</p> 
                <p>Imagen</p>
              </div>
              <div class="img-add-box-label">
                <p>Logo</p>
              </div>
            </div>
            <!-- END ADD IMG BOX + LABEL -->

            <div class="clear-sm p10-sm"></div>

            <!-- ADD IMG BOX + LABEL -->
            <div class="box-and-label-container">
              <div class="img-add-box">
                <p class="plus-text">+</p>
                <p>Añadir</p> 
                <p>Imagen</p>
              </div>
              <div class="img-add-box-label">
                <p>Portada</p>
              </div>
            </div>
            <!-- END ADD IMG BOX + LABEL -->
      
            <div class="clear-md"></div>

            <!-- SUBMIT BTNS -->
            <div class="submit-btns logo-row-btns float-l-md">
              <div class="row submit-btn-row m0 center mt20">
                <button type="submit" class="fancy-button button-line button-white large zoom subform m0 ph40 no-box-shadow grey-background black mr5">
                  Cancelar
                </button>
                <button type="submit" class="fancy-button button-line button-white large zoom subform m0 ph40 no-box-shadow">
                  Guardar
                </button>
              </div>
            </div>
            <!-- END SUBMIT BTNS -->
          </div>
          <!-- END IMGS BOXES -->
        </div>
        <!-- END LOGO IMG ROW -->

        <!-- STARTUP FORM AREA 1 -->
        <div class="form-area-1">

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre de la compañia">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <div class="input-group w100">
                <input type="text" class="form-control input-field form-item field-name placeholder input-normalize select2-like-normaliza" id="tokenfield1" name="filter" value="" placeholder="Palabra Clave" />
              </div><!-- /input-group -->
            </div>
          </div>

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <textarea name="mini_resume" id="mini_resume" class="form-control mini-resume black-boder" rows="3" required="required" maxlength="160"></textarea>
              <div id="text-area-counter"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
          </div>

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
          </div>

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
          </div>

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
          </div>

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
          </div>

          <!-- INPUT HORIZONTAL PAIR CONTAINER -->
          <div class="inputs-duo">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pr30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p0 mt20 pl30 p-sm-0">
              <input id="name" class="input-field form-item field-name placeholder input-normalize" type="text" required="required" name="name" placeholder="Nombre">
            </div>
          </div>

        </div>
        <!-- END STARTUP FORM AREA 1 -->

      </div>
      <!-- END GLOBAL WRAPPER -->
    </div>
    <!-- END BODY -->
    {% include 'include/footer.html'%}
    <!-- IMPORT GLOBAL SCRIPTS -->
    {% include 'include/script_js.html'%}
    <!-- CUSTOM FILE SCRIPTS -->
    <script type="text/javascript">
      $('#text-area-counter').html('160 / 160');
      $('#mini_resume').keyup(function() {
        var text_length = $('#mini_resume').val().length;
        var text_remaining = 160 - text_length;
        $('#text-area-counter').html(text_remaining + ' / 160');
      });
    </script>
    <!-- END CUSTOM FILE SCRIPTS -->
  </body>
</html>
