{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user}}';
		var event_id;
	</script>
	{% include 'include/script.html'%}
	<link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body>
  {% if message %}
  <div class="alert alert-success custom-alert" style="position: absolute;
    z-index: 9999;
    width: 100%;">
    {{message}}
    <span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -1px;cursor:pointer;" onclick="dismissAlert()">
      x
    </span>
  </div>
  {% endif %}
  {% include 'include/header.html'%}
	<div id="banner" class="header-section parallax" style="max-height: 220px;>
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container" style="padding-top:100px; padding-bottom:100px;">

  			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  <h3 style="font-size: 30px;">Registro/Login</h3>
					</div>

  		</div>
  	</div>
  	</div>
  	</div>

<div class="row forms-container" style="text-align: center; padding-bottom: 200px">
  <h3>¿Olvidaste tu contraseña?</h3>
  <br>
  <br>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 p0">
    <form class="contact-form support-form" method="POST" > {% csrf_token %}
      <div class='row '>
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        <p>Te hemos enviado un correo a tu cuenta registrado para que restablezcas tu contraseña.</p>
	      </div>
	    </div>
      <br>
      <br>
		<center>
			<a  href="/login" class="fancy-button button-line button-white large zoom subform" style="width: 400px;">Volver</a>
		</center>
    </form>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
</div>

  {% include 'include/script_js.html'%}
  {% include 'include/footer.html'%}
  </body>
