{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	{% include 'include/script.html'%}
</head>
<body>
{% if message %}
<div class="alert alert-success custom-alert">
	{{message}}
</div>
{% endif %}
 {% include 'include/header.html'%}

<div id="header" class="header-section parallax" style="background-image: url('{% static 'images/banner.png' %}');">
	<div id="section-home" class="home-section-wrap center">
		<!--<div class="section-overlay"></div>-->
		<div class="container home" style="padding-top:150px; ">

			<div class="row">

				<div class="col-md-6 " style="color:#fff">
          <img src="{% static 'images/organizadores1_1.png' %}" alt="" />
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="font-weight: 600;">
                Startups e Inversionistas Latinoamericanos para el mundo.
            </div>
            <div class="col-md-3">
            </div>
          </div>

				</div>
				<div class="col-md-4 " style="color:#fff; padding-top:70px; font-weight: 600;">
          <div class="row box-menu box-head" style="">
            <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10" style="text-align:left">
              <a href="/register"> Registra tu Startup</a>
            </div>
            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="row box-menu box-middle" style="">
            <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10" style="text-align:left">
              <a href="register_investor_s1/"> Invierte en Startups</a>
            </div>
            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </div>

          </div>
          <div class="row box-menu box-footer" style="margin-bottom:20px;">
            <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10" style="text-align:left">
              <a href="#"> Únete a Emprendedores Anónimos</a>
            </div>
            <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
              <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </div>
          </div>
				</div>
        <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">

        </div>
			</div>


		</div>
	</div>

  <section style="background:rgba(0, 0, 0, 0.5)">
    <div class="container">
    	<div class="row">
	      <div class="col-md-12" style="text-align:left">
	        <span style="font-weight: 600;">Apoyado por:</span>
	      </div>
	    </div>
	    <div class="row" style="min-height:130px;">
	      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align:center;margin-bottom:30px;opacity:.8;height:114px;">
	        <img style="margin-top: 37px;" src="{% static 'images/nxtp.png' %}" alt="" />
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align:center;margin-bottom:30px;opacity:.8;height:114px;">
	        <img src="{% static 'images/magma_partners.png' %}" alt="" />
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align:center;margin-bottom:30px;opacity:.8;height:114px;">
	          <img style="margin-top: 24px;" src="{% static 'images/bci_blank.png' %}" alt="" />
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align:center;margin-bottom:30px;opacity:.8;height:114px;">
	        <img style="margin-top: 24px;" src="{% static 'images/corfo.png' %}" alt="" />
	      </div>
	    </div>
    </div>
  </section>
  <section class="desc-section">
    <div class="container desc">
    	<div class="row">
	      <div class="col-md-12">
	        <span class="desc-title">Inversión en Startups Latinoamericanas</span>
			<p class="desc-p">FounderList es una plataforma online que facilita la inversión en compañías latinoamericanas de etapa temprana.</p>
	      </div>
	    </div>
	    <div class="row row-numbers">
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="box-info">
			    <p class="box-info-number">+220</p>
			    <p class="box-info-text-sides"><span>INVERSIONISTAS
			    	REGISTRADOS</span></p>
			</div>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<div class="box-info">
			    <p class="box-info-number-center">$30K - $200K</p>
			    <p class="box-info-text"><span>INVERSIÓN PROMEDIO BUSCADA</span></p>
			</div>
	        
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<div class="box-info">
			    <p class="box-info-number">+2500</p>
			    <p class="box-info-text-sides"><span>COMPAÑÍAS
			    	REGISTRADAS</span></p>
			</div>  
	      </div>
	    </div>
    </div>
  </section>
  <section class="offer-section">
    <div class="container">
    	<div class="row offer-title-p">
	      <div class="col-md-12">
	        <span class="offer-title">¿QUÉ TE OFRECEMOS?</span>
	        <div class="period period-1">
			</div>
			<div class="period period-2">
			</div>
			<div class="period period-3">
			</div>
	      </div>
	    </div>
	    <div class="row offer-types">
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 with-border">
			<p class="offer-sub-title">INVESTORS: </p>
			<p class="offer-sub-title-legend">Liderar un Syndicate</p>
			<ol class="offer-list" start="1">
				<li class="offer-list-item">1. Gana Carry de tus inversiones</li>
				<li class="offer-list-item">2. Accede a deals atractivos y a su información más fácil y rápido </li>
			</ol>
			
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 with-border">
	      	<p class="offer-sub-title">FUNDADORES:</p>
			<p class="offer-sub-title-legend">Iniciar Rondas de Inversión</p>
			<ol class="offer-list">
				<li class="offer-list-item">1. Obtén financiamiento en menos reuniones y de inversionistas destacados que te agreguen valor</li>
				<li class="offer-list-item">2. Se invertido por un grupo de inversionistas, de manera ordenada y normada<li>
			</ol>
	      </div>
	      
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<p class="offer-sub-title">INVESTORS:</p>
			<p class="offer-sub-title-legend">Invierte en Compañías y Syndicates</p>
	      	<ol class="offer-list">
				<li class="offer-list-item">1. Aumenta tus posibilidades co-invirtiendo con inversionistas experimentados</li>
				<li class="offer-list-item">2. Diversifica tus inversiones </li>
			</ol>
	      </div>
	    </div>
	    <div class="row offer-last-step-row">
	      <div class="col-md-12 offer-last-step-col">
	        <span class="offer-list-item">3. Invierte o recibe inversión más rápido y simple. Facilitamos todos los procesos legales, administrativos y contables de la creación del Syndicate y de la inversión. Contamos con plantillas editables de los instrumentos de inversión y de toda la documentación legal necesaria
			</span>
	      </div>
	    </div>
    </div>
  </section>
  <section class="links-section">
    <div class="container">
    	<div class="row links-row">
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Qué es y Cómo funciona</dt>
			  <dd class="block-links-item"><a href="">Qué es FounderList</a></dd>
			  <dd class="block-links-item"><a href="">FounderList para Inversionistas Líderes</a></dd>
			  <dd class="block-links-item"><a href="">Founderlist para Inversionistas Backers</a></dd>
			  <dd class="block-links-item"><a href="">FounderList para Emprendedores</a></dd>
			  <dd class="block-links-item"><a href="">Q&A</a></dd>
			</dl>
			
			
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Registrate</dt>
			  <dd class="block-links-item"><a href="">Registra tu Startup</a></dd>
			  <dd class="block-links-item"><a href="">Regístrate como Inversionista</a></dd>
			  <dd class="block-links-item"><a href="">Crea un Syndicate</a></dd>
			  <dd class="block-links-item"><a href="">Solicita unirte a un Syndicate</a></dd>
			</dl>
			
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Emprendedores Anónimos #EEAA</dt>
			  <dd class="block-links-item"><a href="">Organiza #EEAA en tu ciudad</a></dd>
			  <dd class="block-links-item"><a href="">Crea una Sesión</a></dd>
			  <dd class="block-links-item"><a href="">Asiste a una Sesión</a></dd>
			</dl>
			
	      </div>
	    </div>
	    <div class="row links-row">
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Syndicates</dt>
			  <dd class="block-links-item"><a href="">Ver Syndicates</a></dd>
			</dl>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Blog</dt>
			  <dd class="block-links-item"><a href="">Medium de FounderList</a></dd>
			</dl>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Redes Sociales</dt>
			  <dd class="block-links-item"><a href="">Facebook</a></dd>
			  <dd class="block-links-item"><a href="">Twitter</a></dd>
			  <dd class="block-links-item"><a href="">Linkedin</a></dd>
			</dl>
	      </div>
		</div>
		<div class="row links-row">
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      	<dl>
			  <dt class="block-links-title">Contacto</dt>
			  <dd class="block-links-item"><a href="">hello@founderlist.la</a></dd>
			</dl>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      </div>
		</div>
    </div>
  </section>
</div>



<!--==== Js files ====-->
<!--==== Essential files ====-->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.baraja.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<!--==== MailChimp Widget plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!--==== Scroll and navigation plugins ====-->
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>

 {% include 'include/footer.html'%}



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 800px;">

    <!-- Modal content-->
    <div class="modal-content modal-attend">
      <!--<div class="modal-header">-->
			<div class="row">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

        <!--<h4 class="modal-title"></h4>-->
      <!--</div>-->
				<form class="attend-form support-form" method="POST" > {% csrf_token %}
      <div class="row" >
				<div class="col-md-6">
					<input id="name_2" class="input-field form-item field-name placeholder" type="text" required="required" name="name" placeholder="Nombre">
				</div>

				<div class="col-md-6">
					<input id="last_name" class="input-field form-item field-name placeholder" type="text" required="required" name="last_name" placeholder="Apellido">
				</div>

      </div>
			<div class="row">
				<div class="col-md-12">
					<input id="mail" class="input-field form-item field-name placeholder" type="text" required="required" name="mail" placeholder="Correo electrónico">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input id="web" class="input-field form-item field-name placeholder" type="text"  name="web" placeholder="Web de la empresa">
				</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<b>Me interesa:</b>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Ofrecer servicios:</span>
					</div>
			</div>
			<div class="row">

					<div class="col-md-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="1" name="sell_service[]">Contaduria</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="2" name="sell_service[]">Coaching y Mentoría</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="3" name="sell_service[]">Diseño</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="4" name="sell_service[]">Catering</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="5" name="sell_service[]">Marketing</label>
						</div>
					</div>
			</div>
			<div class="row">

					<div class="col-md-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="6" name="sell_service[]">Desarrollo de software</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="7" name="sell_service[]">Servicio al cliente</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="8" name="sell_service[]">Recursos Humanos</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="9" name="sell_service[]">Legal</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="10" name="sell_service[]">Ventas</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
						  <label><input type="checkbox" value="11" name="sell_service[]">Otros</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Ofrecer productos:</span>
					</div>
			</div>
			<div class="row">

					<div class="col-md-12">
						<div class="checkbox">
						  <label><input type="checkbox" value="sell" name="sell_product">Ofrecer productos</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Aprender a invertir:</span>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
						  <label><input type="checkbox" value="invest" name="invest">Aprender a invertir en empresas</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>¿Eres clientes BCI? </span>
					</div>
			</div>
			<div class="row">
					<div class="col-md-1">
						<div class="checkbox">
						  <label><input type="radio" value="1" name="bci">SI</label>
						</div>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
						  <label><input type="radio" value="0" name="bci">NO</label>
						</div>
					</div>
					<div class="col-md-10">
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Por dónde te enteraste del evento</span>
					</div>
			</div>
			<div class="row">
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="1" name="information[]">Por mi ejecutivo BCI</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="2" name="information[]">Por email</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="3" name="information[]">Por facebook</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="4" name="information[]">Por twitter</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="5" name="information[]">Por referencia</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="6" name="information[]">Otra</label>
						</div>
					</div>
			</div>


      <div class="modal-footer" style="text-align: center;">
        <button type="submit" class="fancy-button button-line button-white large zoom subform">Enviar</button>
      </div>
			</form>
    </div>

  </div>
</div>

</body>
</html>
