{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Como funciona</title>
    {% include 'include/script.html'%}
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/how_work.css' %}" />
</head>
<body class="m0">
    {% include 'include/header.html'%}
    <div id="banner" class="header-section parallax" style="max-height: 220px;">
      <div id="section-home" class="home-section-wrap center">
        <div class="container" style="padding-top:100px; padding-bottom:100px;">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2 style="font-size: 30px;">Como funciona FounderList</h2>
            </div>

        </div>
      </div>
      </div>
      </div>
    <div class="row pb15">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu-box active-menu">
        <a href="#what_is" data-toggle="tab" class="center tab-menu">
          <p>
            Que es FounderList
          </p>
        </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu-box" >
      <a data-toggle="tab" href="#emprendedores" class="center tab-menu">
        <p>
          FounderList para emprendedores
        </p>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu-box" >
      <a data-toggle="tab" href="#inversionistas_lideres" class="center tab-menu">
        <p>
          FounderList para inversionistas lideres
        </p>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu-box">
      <a data-toggle="tab" href="#inversionistas_follow" class="center tab-menu">
        <p>
          FounderList para inversionistas seguidores
        </p>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu-box">
      <a data-toggle="tab" href="#qa" class="center tab-menu">
        <p>
          Q&A
        </p>
      </a>
    </div>
  </div>
  <div class="tab-content">
    <section id="what_is" class="section_tabs tab-pane fade in active" >
      {% include 'include_how/section_1.html'%}
    </section>
    <section id="emprendedores" class="section_tabs tab-pane fade">
      {% include 'include_how/section_2.html'%}
    </section>
    <section id="inversionistas_lideres" class="section_tabs tab-pane fade">
      {% include 'include_how/section_3.html'%}
    </section>
    <section id="inversionistas_follow" class="section_tabs tab-pane fade">
      {% include 'include_how/section_4.html'%}
    </section>
    <section id="qa" class="section_tabs tab-pane fade">
      {% include 'include_how/section_5.html'%}
    </section>
  </div>

    {% include 'include/footer.html'%}
</body>
  {% include 'include/script_js.html'%}
<script type="text/javascript">
  var countries = []
  $(document).ready(function () {
    $(".box-lateral-menu a").click(function() {
        var id_menu = $(this).attr("attr-id");
        $('html, body').animate({
          scrollTop: $("#"+id_menu).offset().top - 60
        }, 500)
   })
   $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
        var href = $(".active-menu a").attr("href");
        var scroll_limit = 230
        var top = 60
        if (href=="#qa"){
          scroll_limit = 636
        }else{
          scroll_limit = 230
        }
        if (scroll>scroll_limit){
          for (var i = 0; i < $(".box-lateral-menu").length; i++) {
            if ($(".box-lateral-menu")[i].clientWidth > 0) {
              $(".box-lateral-menu").css('width', ($(".box-lateral-menu")[i].clientWidth).toString() + 'px' )
            }
          }
          $(".box-lateral-menu").css('position', 'fixed')
          $(".box-lateral-menu").css('top', '65px')
        }else{
          $(".box-lateral-menu").css('position', '')
          $(".box-lateral-menu").css('width', '')
        }
    });
    $(".menu-box").click(function() {
      $(".menu-box").removeClass('active-menu')
      $(this).addClass('active-menu')
      console.log($(this).find('a').attr('href'))
      var href = $(this).find('a').attr('href')
      if (href=="#what_is"){
        $(".button-new").text('Registro como startup')
        $(".button-new").href('/home/register')
      }else if (href=="#emprendedores") {
        $(".button-new").text('Registro como startup')
        $(".button-new").href('/home/register')
      }else if (href=="#inversionistas_lideres") {
        $(".button-new").text('Registro como inversionista')
        $(".button-new").href('/home/register_investor_s1/')
      }else if (href=="#inversionistas_follow") {
        $(".button-new").text('Registro como inversionista')
        $(".button-new").href('/home/register_investor_s1/')
      }
    });
  });
</script>
</html>
