{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>Página web TeamUs</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/linea-icon.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fancy-buttons.css' %}" />

	<!--=== Google Fonts ===-->
	<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!--=== Other CSS files ===-->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.vegas.css' %}" />
	<link rel="stylesheet" href="{% static 'css/baraja.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />

	<!--=== Main Stylesheets ===-->
	<link rel="stylesheet" href="{% static 'css/style_template.css' %}" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

	<!--=== Color Scheme, three colors are available red.css, orange.css and gray.css ===-->
	<link rel="stylesheet" id="scheme-source" href="{% static 'css/schemes/gray.css' %}" />

	<!--=== Internet explorer fix ===-->
	<!-- [if lt IE 9]>
		<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif] -->
    <!-- Se puede cambiar:
    -color de logo
    - fondo header
-->
    <style>
    /*Color de log*/
        .site-name span, .photo-overlay h4 {
    /*background-color:chocolate*/
}
        /*color de header*/

        .nav-bg {
   /* background: rgba(10,58,255, .6);*/
}
        /*Iconos seccion de portafolio*/
        .btn-col, .project-details h5, .project-info h5{
            /*color:blueviolet*/
        }
        .btn-col, .project-details h5, .project-info h5{
           /* border-color:blueviolet*/
        }
        /*seccion de servicios fondo y color de texto de descripcion*/
        #section-services{
           /* background-color: #f8f;
           /* color: #fcc;*/
        }
        /*Titulos de seccion de servicios y secciones de como lo hacemps, planes, iconos planes */
        .color-scheme, .service-icon, .step-no .no-inner, .site-name:hover, .project-details .details-list li .strong, .social-icons ul li a:hover{
            /*color: brown*/
        }

        /*titulo secciones */
        .section-title h3, .section-title h4, .pricing .section-title h3{
            /*color:chartreuse*/
        }
        /*seccion de como lo hacemos 2*/
        .step-even{
            /*background-color: blueviolet*/
        }
        /* precio destacado */
        .best-pricing .pricing-head {
            /*background: #f8f;*/
        }
        /*covertura de imagen color y opacidad*/
        .section-overlay {
            /*background: rgba(255, 255, 255, .3) !important;*/
        }
        /*hover menu*/
        li.current a, ul.nav > li > a:hover {
    /*color: #f8f!important;*/
}
    </style>


</head>
<body>
	<!--=== Preloader section starts ===-->
	<section id="preloader">
		<div class="loading-circle fa-spin"></div>
	</section>
	<!--=== Preloader section Ends ===-->

	<!--=== Header section Starts ===-->
	<div id="header" class="header-section">
		<!-- sticky-bar Starts-->
		<div class="sticky-bar-wrap">
			<div class="sticky-section">
				<div id="topbar-hold" class="nav-hold container">
					<nav class="navbar" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
							</button>
							<!--=== Site Name ===-->
							<a class="site-name navbar-brand" href="#"><span>U </span>Logo</a>
						</div>

						<!-- Main Navigation menu Starts -->
						<div class="collapse navbar-collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="current"><a href="#header">Inicio</a></li>
								<li><a href="#section-feature">Portafolio</a></li>
								<li><a href="#section-services">Servicios</a></li>
								<li><a href="#step-1">Cómo lo hacemos</a></li>
								<li><a href="#section-pricing">Precios</a></li>
								<li><a href="#section-download">Contáctanos</a></li>
							</ul>
						</div>
						<!-- Main Navigation menu ends-->
					</nav>
				</div>
			</div>
		</div>
		<!-- sticky-bar Ends-->
		<!--=== Header section Ends ===-->

		<!--=== Home Section Starts ===-->
		<div id="section-home" class="home-section-wrap center">
			<div class="section-overlay"></div>
			<div class="container home">
				<div class="row">
					<h1 class="well-come">Slogan de la empresa</h1>

					<div class="col-md-8 col-md-offset-2">
						<p class="intro-message">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet qui dolorem</p>

					</div>
				</div>
			</div>
		</div>
		<!--=== Home Section Ends ===-->
	</div>


	<!--=== Features section Starts ===-->
	<section id="section-feature" class="feature-wrap">
		<div class="container features center">
			<div class="row">
				<div class="col-lg-12">
						<!--Features container Starts -->
						<ul id="card-ul" class="features-hold baraja-container">

							<!-- Single Feature Starts -->
							<li class="single-feature" title="Card style">
								<img src="{% static 'images/5.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 1</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
								</p>


							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="50+ SVG Icon included">
								<img src="{% static 'images/2.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">trabajo 2</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="MailChimp Ready">
								<img src="{% static 'images/3.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 3</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="4 home style">
								<img src="{% static 'images/4.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 4</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="Parallax Backgrounds">
								<img src="{% static 'images/5.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 5</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="Ajax contact form">
								<img src="{% static 'images/6.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 6</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="unlimited Google fonts">
								<img src="{% static 'images/7.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 7</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->

							<!-- Single Feature Starts -->
							<li class="single-feature" title="Feature heading">
								<img src="{% static 'images/8.jpg' %}" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Trabajo 8</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut
								</p>
							</li>
							<!-- Single Feature Ends -->
						</ul>
						<!--Features container Ends -->

						<!-- Features Controls Starts -->
						<div class="features-control relative">
							<button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
								<span class="icon">
									<i class="fa fa-arrow-left"></i>
								</span>
							</button>
							<button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
								<span class="icon">
									<i class="fa fa-expand"></i>
								</span>
							</button>
							<button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
								<span class="icon">
									<i class="fa fa-compress"></i>
								</span>
							</button>
							<button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
								<span class="icon">
									<i class="fa fa-arrow-right"></i>
								</span>
							</button>
						</div>
						<!-- Features Controls Ends -->
				</div>
			</div>
		</div>
	</section>
	<!--=== Features section Ends ===-->

	<!--=== Services section Starts ===-->
	<section id="section-services" class="services-wrap">
		<div class="container services">
			<div class="row">

				<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>Servicios</h3>
				</div>

				<!-- Single Service Starts -->
				<div class="col-md-6 col-sm-6 service animated" data-animation="fadeInLeft" data-animation-delay="700">
					<span class="service-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
					<div class="service-desc">
						<h4 class="service-title color-scheme">Diseños elegantes</h4>
						<p class="service-description justify">
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
						</p>
					</div>
				</div>
				<!-- Single Service Ends -->

				<!-- Single Service Starts -->
				<div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
					<span class="service-icon center"><i class="icon icon-basic-paperplane fa-3x"></i></span>
					<div class="service-desc">
						<h4 class="service-title color-scheme">Imagenes de alta calidad</h4>
						<p class="service-description justify">
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
						</p>
					</div>
				</div>
				<!-- Single Service ends -->

				<!-- Single Service Starts -->
				<div class="col-md-6 col-sm-6 service animated" data-animation="fadeInRight" data-animation-delay="700">
					<span class="service-icon center"><i class="icon icon-basic-accelerator fa-3x"></i></span>
					<div class="service-desc">
						<h4 class="service-title color-scheme">En poco tiempo</h4>
						<p class="service-description justify">
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
						</p>
					</div>
				</div>
				<!-- Single Service Ends -->

				<!-- Single Service Starts -->
				<div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
					<span class="service-icon center"><i class="icon icon-basic-lightbulb fa-3x"></i></span>
					<div class="service-desc">
						<h4 class="service-title color-scheme">Con las mejores ideas</h4>
						<p class="service-description justify">
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
							Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
						</p>
					</div>
				</div>
				<!-- Single Service Ends -->
			</div>
		</div>
	</section>
	<!--=== Services section Ends ===-->

	<!--=== Step-1 section Starts ===-->
	<section id="step-1" class="section-step step-wrap">
		<div class="container step animated" data-animation="bounceInLeft" data-animation-delay="700">
			<div class="row">
				<!-- Step Description Starts -->
				<div class="col-md-8 step-desc">
					<div class="col-md-2 center">
						<div class="step-no">
							<span class="no-inner">1</span>
						</div>
					</div>

					<div class="col-md-10 step-details">
							<h3 class="step-title color-scheme">Contactanos y pide nuestros servicios</h3>
							<p class="step-description">Cillum laboris <strong>consequat</strong>, qui elit retro next level
							skateboard freegan hella. Cillum laboris consequat qui elit retro next level
							skateboard freegan hella. Cillum laboris consequat skateboard freegan hella</p>

					</div> <!-- End step-details -->
				</div>
				<!-- Step Description Ends -->
				<div class="col-md-4 step-img">
					<img src="{% static 'images/note.png' %}" alt="" /> <!-- Step Photo Here -->
				</div>
			</div>
		</div>
	</section>
	<!--=== Step-1 section Ends ===-->

	<!--=== Step-2 section Starts ===-->
	<section id="step-2" class="section-step step-even step-wrap">
		<div class="container step animated" data-animation="bounceInRight" data-animation-delay="700">
			<div class="row">
				<!-- Step Description Starts -->
				<div class="col-md-8 step-desc">
					<div class="col-md-2 center">
						<div class="step-no">
							<span class="no-inner">2</span>
						</div>
					</div>

					<div class="col-md-10 step-details">
							<h3 class="step-title color-scheme">Hacemos la sección de fotos.</h3>
							<p class="step-description">Cillum laboris <strong>consequat</strong>, qui elit retro next level
							skateboard freegan hella. Cillum laboris consequat qui elit retro next level
							skateboard freegan hella. Cillum laboris consequat skateboard freegan hella</p>

					</div><!-- End step-details -->
				</div>
				<!-- Step Description Ends -->
				<div class="col-md-4 step-img">
					<img src="{% static 'images/desk.png' %}" alt="" /> <!-- Step Photo Here -->
				</div>
			</div>
		</div>
	</section>
	<!--=== Step-2 section Ends ===-->

	<!--=== Video section Starts ===-->
	<section id="section-video" class="section-video-wrap">
		<div class="section-overlay"></div>
		<div class="container big-video center animated" data-animation="fadeInLeft" data-animation-delay="700">
			<div class="row">
				<div class="col-md-12 section-title">
					<h3>Nuestra aplicación en un video</h3>
				</div>
				<div class="col-md-10 col-md-offset-1 video-content">
					<iframe src="http://player.vimeo.com/video/75317749?title=0&amp;byline=0&amp;portrait=0" width="400" height="240"></iframe>
				</div>
			</div>
		</div>
	</section>
	<!--=== Video section Ends ===-->

	<!--=== ScreenShots section Starts ===
	<section id="section-screenshots" class="screenshots-wrap">
		<div class="container screenshots animated" data-animation="fadeInUp" data-animation-delay="1000">
			<div class="row porfolio-container">
				<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>Our Latest Projects</h3>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
						<div class="photo-box">
							<img src="{% static 'images/7.jpg' %}" alt="" />
							<div class="photo-overlay">
								<h4>Wordpress theme</h4>
							</div>
							<span class="photo-zoom">
								<a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
						<div class="photo-box">
							<img src="{% static 'images/2.jpg' %}" alt="" />
							<div class="photo-overlay">
								<h4>User Interface design</h4>
							</div>
							<span class="photo-zoom">
								<a href="single-project-2.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
							</span>
						</div>

					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
						<div class="photo-box">
							<img src="{% static 'images/3.jpg' %}" alt="" />
							<div class="photo-overlay">
								<h4>PSD template design</h4>
							</div>
							<span class="photo-zoom">
								<a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
							</span>
						</div>

					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
						<div class="photo-box">
							<img src="{% static 'images/4.jpg' %}" alt="" />
							<div class="photo-overlay">
								<h4>User Experience design</h4>
							</div>
							<span class="photo-zoom">
								<a href="single-project-2.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
							</span>
						</div>

					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
						<div class="photo-box">
							<img src="{% static 'images/5.jpg' %}" alt="" />
							<div class="photo-overlay">
								<h4>Page builder plugin</h4>
							</div>
							<span class="photo-zoom">
								<a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
							</span>
						</div>

					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
						<div class="photo-box">
							<img src="{% static 'images/6.jpg' %}" alt="" />
							<div class="photo-overlay">
								<h4>Corporate website</h4>
							</div>
							<span class="photo-zoom">
								<a href="single-project-2.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
							</span>
						</div>

					</div>
				</div>

			</div>

			<div id="portfolio-loader" class="center">
				<div class="loading-circle fa-spin"></div>
			</div>

			<div id="portfolio-load"></div>

			<div class="col-md-12 center back-button">
				<a class="backToProject fancy-button button-line bell btn-col" href="#">
					Back
					<span class="icon">
						<i class="fa fa-arrow-left"></i>
					</span>
				</a>
			</div>
		</div>
	</section>-->
	<!--=== ScreenShots section Ends ===-->

	<!--=== Testimonials section Starts ===-->
	<section id="section-testimonials" class="testimonials-wrap">
		<div class="section-overlay"></div>
		<div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonial-slider">
						<!-- Single Testimonial Starts -->
						<div class="testimonial">
							<p class="comment">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sem ante. Nullam quis risus eu
								purus commodo dignissim. Donec iaculis ac ex vel posuere. Sed posuere, elit vitae mattis condimentum,
								quam urna fringilla magna
							</p>

						</div>
						<!-- Single Testimonial Ends -->

						<!-- Single Testimonial Starts -->
						<!-- Single Testimonial Ends -->

						<!-- Single Testimonial Starts -->
						<!-- Single Testimonial Ends -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=== Testimonials section Ends ===-->


	<!--=== Pricing section Starts ===-->
	<section id="section-pricing" class="pricing-wrap">
		<div class="container pricing">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>Planes y precios</h3>
				</div>
				<!-- Single Price Starts -->
				<div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="500">
					<div class="single-pricing">

						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Básico</h4>
							<div class="price">
								<h3>
									<span class="dollar">$</span>
									40.000
									<span class="month">/mes</span>
								</h3>
							</div>
						</div>

						<ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas descargas</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas actualizaciones</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas fotos </li>
							<li><span class="color-scheme fa fa-close"></span>Imágenes digitales</li>
							<li><span class="color-scheme fa fa-close"></span>Soporte</li>
							<li><span class="color-scheme fa fa-close"></span>Álbum digital</li>
						</ul>
					</div>
				</div>
				<!-- Single Price Ends -->


				<!-- Single Price Starts -->
				<div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="700">
					<div class="single-pricing best-pricing"> <!-- this is best-pricing -->

						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Avanzado</h4>
							<div class="price">
								<h3>
									<span class="dollar">$</span>
									60.000
									<span class="month">/mes</span>
								</h3>
							</div>
						</div>

						<ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas descargas</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas actualizaciones</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas fotos </li>
							<li><span class="color-scheme fa fa-check"></span>Imágenes digitales</li>
							<li><span class="color-scheme fa fa-close"></span>Soporte</li>
							<li><span class="color-scheme fa fa-close"></span>Álbum digital</li>
						</ul>
					</div>
				</div>
				<!-- Single Price Ends -->

				<!-- Single Price Starts -->
				<div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="900">
					<div class="single-pricing">

						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Premium</h4>
							<div class="price">
								<h3>
									<span class="dollar">$</span>
									80.000
									<span class="month">/mes</span>
								</h3>
							</div>
						</div>

						<ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas descargas</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas actualizaciones</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas fotos </li>
							<li><span class="color-scheme fa fa-check"></span>Imágenes digitales</li>
							<li><span class="color-scheme fa fa-check"></span>Soporte</li>
							<li><span class="color-scheme fa fa-close"></span>Álbum digital</li>
						</ul>
					</div>
				</div>
				<!-- Single Price Ends -->

				<!-- Single Price Starts -->
				<div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="1100">
					<div class="single-pricing">

						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Ultra</h4>
							<div class="price">
								<h3>
									<span class="dollar">$</span>
									100.000
									<span class="month">/mes</span>
								</h3>
							</div>
						</div>

						<ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas descargas</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas actualizaciones</li>
							<li><span class="color-scheme fa fa-check"></span>Ilimitadas fotos </li>
							<li><span class="color-scheme fa fa-check"></span>Imágenes digitales</li>
							<li><span class="color-scheme fa fa-check"></span>Soporte</li>
							<li><span class="color-scheme fa fa-check"></span>Álbum digital</li>
						</ul>
					</div>
				</div>
				<!-- Single Price Ends -->

			</div>
		</div>
	</section>
	<!--=== Pricing section Ends ===-->




	<!--=== Download section Ends ===-->


	<!--=== Contact section Starts ===-->
	<section id="section-contact" class="contact-wrap">
	<div class="section-overlay"></div>
		<div class="container contact center animated" data-animation="flipInY" data-animation-delay="1000">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-10 col-md-offset-1 center section-title">
						<h3>Contáctanos</h3>
					</div>

					<div class="confirmation">
						<p><span class="fa fa-check"></span></p>
					</div>

					<form class="contact-form support-form">

						<div class="col-lg-12">
							<input id="name" class="input-field form-item field-name" type="text" required="required" name="contact-name" placeholder="Nombre completo" />

							<input id="email" class="input-field form-item field-email" type="email" required="required" name="contact-email" placeholder="Email" />
							<textarea id="message" class="textarea-field form-item field-message" rows="10" name="contact-message" placeholder="Mensaje"></textarea>
						</div>
						<button type="submit" class="fancy-button button-line button-white large zoom subform">
							Enviar mensaje
							<span class="icon">
								<i class="fa fa-paper-plane-o"></i>
							</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--=== Contact section Ends ===-->

	<!--=== Footer section Starts ===-->
	<div id="section-footer" class="footer-wrap">
		<div class="container footer center">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="footer-title"><!-- Footer Title -->
						<a class="site-name" href="#"><span>U</span>Logo</a>
					</h4>

					<!-- Social Links -->
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
							<li><a href="#"><i class="fa fa-flickr"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>

					<p>Copyright &copy; 2016 - Todos los derechos reservados <a href="http://www.teamussolutions.com">TemUs Solutions</a></p>
				</div>
			</div>
		</div>
	</div>
	<!--=== Footer section Ends ===-->

<!--==== Js files ====-->
<!--==== Essential files ====-->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.baraja.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<!--==== MailChimp Widget plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!--==== Scroll and navigation plugins ====-->
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>

<!--==== Custom Script files ====-->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>
</html>
