{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>FounderList</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/linea-icon.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fancy-buttons.css' %}" />

	<!--=== Google Fonts ===-->
	<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
	<!--=== Other CSS files ===-->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.vegas.css' %}" />
	<link rel="stylesheet" href="{% static 'css/baraja.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />

	<!--=== Main Stylesheets ===-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

	<!--=== Color Scheme, three colors are available red.css, orange.css and gray.css ===-->
	<link rel="stylesheet" id="scheme-source" href="{% static 'css/schemes/gray.css' %}" />

	<!--=== Internet explorer fix ===-->
	<!-- [if lt IE 9]>
		<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif] -->
    <!-- Se puede cambiar:
    -color de logo
    - fondo header
-->


</head>
<body>
{% if message %}
<div class="alert alert-success custom-alert">
	{{message}}
</div>
{% endif %}
<div id="header" class="header-section parallax" style="background-image: url('{% static 'images/costanera.png' %}');">
	<div id="section-home" class="home-section-wrap center">
		<!--<div class="section-overlay"></div>-->
		<div class="container home">
			<div class="row">
				<div class="col-md-3 col-xs-0 col-lg-3">
				</div>
				<div class="col-md-2 col-xs-4 col-lg-2">
					<img src="{% static 'images/logoBCI.png' %}" alt="" class="logo1"/>
				</div>
				<div class="col-md-2 col-xs-4 col-lg-2">
					<img src="{% static 'images/organizadores1_1.png' %}" alt="" />
				</div>
				<div class="col-md-2 col-xs-4 col-lg-2">
					<img src="{% static 'images/organizadores3_3.png' %}" alt="" class="logo3"/>
				</div>
				<div class="col-md-3 col-xs-0 col-lg-3">
				</div>
			</div>
			<div class="row">
				<h1 class="well-come" style="margin-top: 40px;">After Office Conecta y Crece</h1>

				<div class="col-md-10 col-md-offset-1">
					<p class="intro-message">Te invitamos a participar de este increíble encuentro para emprendedores y empresarios, donde podrás aprender cómo ofrecer tus servicios y productos a través de la red de <span>MercadoLibre</span> y cómo invertir en emprendimientos de etapa temprana a través de <span>FounderList</span>, la plataforma de co-inversión online más importante de Latinoamérica.</span></p>
					<a href="#" type="submit" class="fancy-button button-line large zoom subform" data-toggle="modal" data-target="#myModal">
							<b>¡Quiero asistir!</b>
						</a>
						<p style="color:#fff; font-weight:500">
							Lugar: Oficinas Mercado Libre.
						</p>
						<p style="color:#fff; font-weight:500">
							Metro Escuela Militar
						</p>
						<p style="color:#fff; font-weight:500">
							Fecha: Jueves 12 de enero.
						</p>
						<p style="color:#fff; font-weight:500">
							Hora: 18:00
						</p>
				</div>
			</div>
			<div class="row">
				<a href="#section-contact">
					<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<section id="section-feature" class="feature-wrap">
			<div class="row mlr0">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 section box_red">
						<div class="row">
							<div class="col-md-12 ">
								<!--<i class="fa fa-search fa-2x" aria-hidden="true"></i>-->
								<img src="{% static 'images/icon1.png' %}" alt="" />
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Ofrece Servicios/ Productos</b>
								</p>
								<p>
									A través de MercadoLibre y FounderList aprenderás cómo alcanzar a nuevos clientes y ofrecer tus productos/ servicios.
									<!--Alcanza a nuestros potenciales clientes y ofreces tus servicios/productos.-->
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 section blue">
						<div class="row">
							<div class="col-md-12">
								<!--<i class="fa fa-search fa-2x" aria-hidden="true"></i>-->
								<img src="{% static 'images/icon2.png' %}" alt="" />
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Encontrar Servicios/ Productos</b>
								</p>
								<p>
									A través de MercadoLibre y FounderList aprenderás cómo encontrar productos/servicios de forma simple y rápida.
									<!--Alcanza a nuestros potenciales clientes y ofreces tus servicios/productos.-->
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 section yellow">
						<div class="row">
							<div class="col-md-12">
								<!--<i class="fa fa-search fa-2x" aria-hidden="true"></i>-->
								<img src="{% static 'images/icon3.png' %}" alt="" />
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Beneficios MercadoLibre y FounderList</b>
								</p>
								<p>
									Podrás optar a increíbles beneficios y descuentos para potenciar tu empresa.
									<!--Beneficios exclusivos, descuentos y más para los asistentes.-->
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 section blue-dark">
						<div class="row">
							<div class="col-md-12">
								<!--<i class="fa fa-search fa-2x" aria-hidden="true"></i>-->
								<img src="{% static 'images/icon4.png' %}" alt="" />
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Invitación a invertir</b>
								</p>
								<p>
									Podrás aprender cómo cientos de personas están invirtiendo de la mano de notables Inversionistas Ángeles a través de FounderList.
									<!--Introducción de cómo invertir en compañias en etapas tempranas.-->
									<br>
									<br>
								</p>
							</div>
						</div>
					</div>
		</div>
	</section>
	<!--=== Features section Ends ===-->

	<section id="section-feature" class="feature-wrap">
		<div class="features center">
			<div class="row mlr0">
					<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>Ponentes</h3>
				</div>
			</div>

			<div class="row mlr0">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-6 col-lg-push-6 speaker-content ">
						<h3>Edgardo Ochoa</h3>
						<span>Head of BCI Labs, "FinTech is coming"</span>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-pull-6 col-lg-pull-6 speaker-1 ">
						<div class="speaker-1-box ">
						</div>
				</div>
			</div>
			<div class="row mlr0">
				<div class="col-md-6 speaker-content ">
						<h3>Alan Meyer</h3>
						<span>Gerente Comercial Chile de MercadoLibre, “E-Commerce y empresas”</span>
				</div>
				<div class="col-md-6 speaker-2 ">
					<div class="speaker-2-box ">
					</div>
				</div>
			</div>
			<div class="row mlr0">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-6 col-lg-push-6 speaker-content ">
						<h3>Sebastián Arias</h3>
						<span>Gerente de Operaciones en FounderList: “Ayudando a crecer a las empresas a través de la Inversión Angel”</span>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-pull-6 col-lg-pull-6 speaker-3 ">
					<div class="speaker-3-box ">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="step-1" class="section-step step-wrap">
		<div class="container step animated bounceInLeft visible" data-animation="bounceInLeft" data-animation-delay="700">
			<div class="row">
					<div class="col-md-6 center">
						<h3>Organizadores</h3>
						<div class="row">
							<div class="col-md-12 center">
								<img src="{% static 'images/organizadores1.png' %}" alt="" />
							</div>
						</div>
					</div>
					<div class="col-md-6 center">
						<h3>Invitan</h3>
						<div class="row">
								<div class="col-md-6 center">
											<img src="{% static 'images/logoBCI.png' %}" alt="" style="max-width: 85%;"/>
								</div>
								<div class="col-md-6 center">
											<img src="{% static 'images/organizadores3.png' %}" alt="" />
								</div>
						</div>
					</div>
			</div>
			<!--<div class="row">
				<div class="col-md-6 center">
					<img src="{% static 'images/organizadores1.png' %}" alt="" />
				</div>
				<div class="col-md-6 center">
					<div class="row">
							<div class="col-md-6 center">
										<img src="{% static 'images/organizadores2.png' %}" alt="" />
							</div>
							<div class="col-md-6 center">
										<img src="{% static 'images/organizadores3.png' %}" alt="" />
							</div>
					</div>

				</div>
			</div>-->

		</div>
	</section>


<!--==== Js files ====-->
<!--==== Essential files ====-->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.baraja.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<!--==== MailChimp Widget plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!--==== Scroll and navigation plugins ====-->
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>

<!--==== Custom Script files ====-->
<!--<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>-->
<section id="section-contact" class="contact-wrap">
	<div class="section-overlay"></div>
		<div class="container contact center animated flipInY visible" data-animation="flipInY" data-animation-delay="1000">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-10 col-md-offset-1 center section-title">
						<h3>Contacto y dudas</h3>
					</div>

					<div class="confirmation">
						<p><span class="fa fa-check"></span></p>
					</div>

					<form class="contact-form support-form" method="POST" > {% csrf_token %}

						<div class="col-lg-12">
							<input id="name" class="input-field form-item field-name placeholder" type="text" required="required" name="contact-name" placeholder="Nombre completo">

							<input id="email" class="input-field form-item field-email placeholder" type="email" required="required" name="contact-email" placeholder="Correo Electrónico">
							<textarea id="message" class="textarea-field form-item field-message placeholder" required="required"  rows="10" name="contact-message" placeholder="Comentarios"></textarea>
						</div>
						<button type="submit" class="fancy-button button-line button-white large zoom subform">
							Enviar mensaje
							<span class="icon">
								<i class="fa fa-paper-plane-o"></i>
							</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>

<footer>
	<div id="section-footer" class="footer-wrap">
		<div class="footer center">
			<!--<div class="row" style="padding-bottom: 30px;">
					<div class="col-md-12 center">
						<img src="{% static 'images/logocorfo_2.png' %}" alt="" style="height: 100px;" />
					</div>
			</div>-->
			<div class="row">
				<div class="col-lg-4">
					<p>Copyright © 2016 <b>Founderlist.</b> Made by <a href="www.teamussolutions.com"><b>Teamus</b></a></p>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'images/logocorfo_2.png' %}" alt="" style="height: 100px;" />
				</div>
				<div class="col-lg-1">
					<p>
						<a href="#">ASISTIR</a>
					</p>
				</div>
				<div class="col-lg-1">
					<p>
						<a href="#">PONENTES</a>
					</p>
				</div>
				<div class="col-lg-2">
					<p>
						<a href="#">ORGANIZADORES</a>
					</p>
				</div>
			</div>

		</div>
	</div>

</footer>


<!-- Modal -->
<div id="myModal" class="modal" role="dialog" style="-webkit-overflow-scrolling: auto !important;">
  <div class="modal-dialog" style="max-width: 800px; width: auto !important;">

    <!-- Modal content-->
    <div class="modal-content modal-attend">
      <!--<div class="modal-header">-->
			<div class="row">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

        <!--<h4 class="modal-title"></h4>-->
      <!--</div>-->
				<form class="attend-form support-form" method="POST" > {% csrf_token %}
      <div class="row" >
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<input id="name_2" class="input-field form-item field-name placeholder" type="text" required="required" name="name" placeholder="Nombre">
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<input id="last_name" class="input-field form-item field-name placeholder" type="text" required="required" name="last_name" placeholder="Apellido">
				</div>
      </div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input id="mail" class="input-field form-item field-name placeholder" type="text" required="required" name="mail" placeholder="Correo electrónico">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input id="phone" class="input-field form-item field-name placeholder" type="text" name="phone" placeholder="Teléfono de contacto">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input id="web" class="input-field form-item field-name placeholder" type="text"  name="web" placeholder="Web de la empresa">
				</div>
			</div>
			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<b>Me interesa:</b>
					</div>
			</div>
			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span>Ofrecer servicios:</span>
					</div>
			</div>
			<div class="row">

					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="1" name="sell_service[]">Contaduria</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="2" name="sell_service[]">Coaching y Mentoría</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="3" name="sell_service[]">Diseño</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="4" name="sell_service[]">Catering</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="5" name="sell_service[]">Marketing</label>
						</div>
					</div>
			</div>
			<div class="row">

					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="6" name="sell_service[]">Desarrollo de software</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="checkbox">
						  <label><input type="checkbox" value="7" name="sell_service[]">Servicio al cliente</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="8" name="sell_service[]">Recursos Humanos</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="9" name="sell_service[]">Legal</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="10" name="sell_service[]">Ventas</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
						  <label><input type="checkbox" value="11" name="sell_service[]">Otros</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Ofrecer productos:</span>
					</div>
			</div>
			<div class="row">

					<div class="col-md-12">
						<div class="checkbox">
						  <label><input type="checkbox" value="sell" name="sell_product">Ofrecer productos</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Aprender a invertir:</span>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
						  <label><input type="checkbox" value="invest" name="invest">Aprender a invertir en empresas</label>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>¿Eres clientes BCI? </span>
					</div>
			</div>
			<div class="row">
					<div class="col-md-1">
						<div class="checkbox">
						  <label><input type="radio" value="1" name="bci">SI</label>
						</div>
					</div>
					<div class="col-md-1">
						<div class="checkbox">
						  <label><input type="radio" value="0" name="bci">NO</label>
						</div>
					</div>
					<div class="col-md-10">
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<span>Por dónde te enteraste del evento</span>
					</div>
			</div>
			<div class="row">
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="1" name="information[]">Por mi ejecutivo BCI</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="2" name="information[]">Por email</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="3" name="information[]">Por facebook</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="4" name="information[]">Por twitter</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="5" name="information[]">Por referencia</label>
						</div>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
						  <label><input type="checkbox" value="6" name="information[]">Otra</label>
						</div>
					</div>
			</div>


      <div class="modal-footer" style="text-align: center;">
        <button type="submit" class="fancy-button button-line button-white large zoom subform">Enviar</button>
      </div>
			</form>
    </div>

  </div>
</div>

</body>
</html>
