{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user}}';
		var event_id;
	</script>
	{% include 'include/script.html'%}
	<link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body>
	{% if message %}
	<div class="alert alert-success custom-alert" style="position: absolute;
    z-index: 9999;
    width: 100%;">
		{{message}}
    <span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -1px;cursor:pointer;" onclick="dismissAlert()">
      x
    </span>
	</div>
	{% endif %}
  {% include 'include/header.html'%}
	<div id="banner" class="header-section parallax" style="max-height: 220px;background-image: url('{% static 'images/banner_vitrina_2.png' %}');">
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container" style="padding-top:100px; padding-bottom:100px;">

  			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  <h3 style="color:#f8f8f8; font-size: 30px;">Registro/Login</h3>
					</div>

  		</div>
  	</div>
  	</div>
  	</div>

<!--TABS-->
<div class="row mt20">
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
  <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 p0 active-menu">
    <a href="/login" class="center tab-menu">
      <p class="fs16 pb15">
        Login
      </p>
    </a>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 p0 menu-box">
    <a href="/register" class="center tab-menu">
      <p class="fs16 pb15">
        Registro
      </p>
    </a>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
</div>
<!--END TABS-->
<div class="row forms-container">
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 p0">
    <form class="contact-form support-form" method="POST" > {% csrf_token %}
      <div class='row '>
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        <input id="email" class="input-field form-item field-name placeholder black" type="email" required="required" name="email" placeholder="Correo electrónico">
	      </div>
	    </div>
	    <div class='row '>
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        <input id="password" class="input-field form-item field-name placeholder black" type="password" required="required" name="password" placeholder="Contraseña">
	      </div>
	    </div>
		<center>
			<button type="submit" class="fancy-button button-line button-white large zoom subform">Iniciar sesión</button>
			<p class="mt10">
				<a href="/recover" class="red">¿Olvidaste tu contraseña?</a>
			</p>
			<p class="black">
				Al registrarme, estoy de acuerdo con los <a href="#" class="red">Términos y Condiciones</a> de FounderList
			</p>
		</center>
    </form>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 "></div>
</div>

  {% include 'include/script_js.html'%}
  {% include 'include/footer.html'%}
  <script type="text/javascript">
    setTimeout(function() {
      dismissAlert();
    }, 2500);
    function dismissAlert () {
      $('.alert.alert-success').fadeOut();
    }
  </script>
  </body>
