{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user}}';
		var event_id;
	</script>
	{% include 'include/script.html'%}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body>
	{% if message %}
	<div class="alert alert-success custom-alert" style="position: absolute;
    z-index: 9999;
    width: 100%;">
		{{message}}
    <span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -1px;cursor:pointer;" onclick="dismissAlert()">
      x
    </span>
	</div>
	{% endif %}
  {% include 'include/header.html'%}
	<div id="banner" class="header-section parallax" style="max-height: 220px;">
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container" style="padding-top:100px; padding-bottom:100px;">

  			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  <h3 style=" font-size: 30px;">Registro/Login</h3>
					</div>

  		</div>
  	</div>
  	</div>
  	</div>
    {% include 'include/script_js.html'%}

	<section id="sub_header">

		<div class="container">
      <!--BODY CONTAINER-->
      <div class='row' >
        <div class='container p0'>
            {%if step == 1%}
              {% include 'register/step_1.html'%}
            {%endif%}
            {%if step == 2%}
              {% include 'register/step_2.html'%}
            {%endif%}
            {%if step == 3%}
              {% include 'register/step_3.html'%}
            {%endif%}
            {%if step == 4%}
              {% include 'register/step_4.html'%}
            {%endif%}
            {%if step == 5%}
              {% include 'register/step_5.html'%}
            {%endif%}
            {%if step == 6%}
              {% include 'register/step_6.html'%}
            {%endif%}
      </div>
    </div>
      <!--END BODY CONTAINER-->
	 </div>
	</section>
{% include 'include/footer.html'%}
  <script type="text/javascript">
    setTimeout(function() {
      dismissAlert();
    }, 2500);
    function dismissAlert () {
      $('.alert.alert-success').fadeOut();
    }
    var city = "{{city}}"
    var city = city.replace(/u&#39;/g, '"').replace(/&#39;/g, '"')
    var city = JSON.parse(city)
    var token_first = false
    $('#tokenfield_location').tokenfield({
      autocomplete: ({
        source: city,
        delay: 100,
      }),
      showAutocompleteOnFocus: true,
      delimiter: ['-', '_']
    }).on('tokenfield:createtoken', function (e) {
      //$(this).tokenfield('setTokens', [e.attrs.value]);
      console.log(city.indexOf(e.attrs.value))
      if (city.indexOf(e.attrs.value)<0){
        $(this).tokenfield('setTokens', []);
        $('#tokenfield_location').val("")
        return false

      }
      if (token_first){
        $(this).tokenfield('setTokens', []);
      }
      token_first = true
      console.log(e.attrs.value)
    });
    /*$[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      element=item.label
      var res = element.split(",");
      return $( "<li class='li-ui'></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<div><a></a></div>" ).html("<div class='complete-1'><a>"+ res[0] + "</a></div>" + "<div class='complete-2'><a>"+ res[1] + "</a</div>") )
        .appendTo( ul );
    };*/
    $[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      element=item.label
      var res = element.split(",");
      return $( "<li class='li-ui'></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<div><a></a></div>" ).html("<div class='complete-1'><a>"+ res[0] + "</a></div>" + "<div class='complete-2'><a>"+ res[1] + "</a</div>") )
        .appendTo( ul );
    };

  </script>
  </body>
