{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipo</title>
    {% include 'include/script.html'%}
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/our_team.css' %}" />
</head>
<body class="m0">
    {% include 'include/header.html'%}
    <!-- TITLE -->
    <div id="banner" class="header-section parallax" style="max-height: 220px;');">
      <div id="section-home" class="home-section-wrap center">
        <!--<div class="section-overlay"></div>-->
        <div class="container" style="padding-top:100px; padding-bottom:100px;">
          <div class="row m0 mt30">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3 class="irw-title dark-text">Equipo / Partners</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ENDTITLE -->
    <!-- HIDE MOBILE -->
    <div class="hide-md">
        <!-- SUB TITLE -->
        <div class="row m0 center mt70">
            <h3 class="team-sub-title">Fundadores</h3>
            <div class="relative">
                <div class="three-dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <!-- END SUB TITLE -->
        <!-- FOUNDERS -->
        <div class="row m0 founders-row" >
            <div class="founders-bg" style="background: url({% static 'images/banner_team.png' %}); background-size: cover;"></div>

            <!-- BIG THUMBNAIL-->
            <div class="big-thumbnail-wrapper co-founder-box" attr-name="pedro">
                <div class="team-img bg-center" style="background: url({% static 'images/pedro.png' %})"></div>
                <div class="thumbnail-text-area ">
                    <p class="team-name m0">Pedro Varas</p>
                    <p class="team-role m0">Co-founder</p>
                </div>
            </div>
            <!-- END BIG THUMBNAIL-->

            <!-- BIG THUMBNAIL-->
            <div class="big-thumbnail-wrapper co-founder-box" attr-name="sebas">
                <div class="team-img bg-center" style="background: url({% static 'images/sebas.png' %})"></div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Sebastián Arias</p>
                    <p class="team-role m0">Co-founder</p>
                </div>
            </div>
            <!-- END BIG THUMBNAIL-->

            <!-- FOUNDER DESCRIPTION 1 -->
            <div id="pedro" class="founder-description-text-area">
                <p class="founder-name">
                    Pedro Varas Buzzone
                </p>
                <p class="founder-role">
                    CEO & Co-Fundador de FounderList
                </p>
                <p class="founder-description">
                  Busco facilitar la inversión en compañías latinoamericanas de etapa temprana. Creamos Emprendedores Anónimos #EEAA, de las comunidades más grandes de LATAM
                </p>
                <div class="founder-icons">
                    <a href="" class="founder-thumbnail-icon">
                        <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="" class="founder-thumbnail-icon">
                        <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="" class="founder-thumbnail-icon">
                        <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
            </div>
            <!-- END FOUNDER DESCRIPTION 1 -->

            <!-- FOUNDER DESCRIPTION 1 -->
            <div id="sebas" class="founder-description-text-area" style="display:none">
              <p class="founder-name">
                  Sebastián Arias
              </p>
              <p class="founder-role">
                COO & Co-fundador de FounderList
              </p>
              <p class="founder-description">
                Co-Fundador de Founderlist. 5 años impulsando el ecosistema emprendedor Latinoamericano
              </p>
              <div class="founder-icons">
                  <a href="" class="founder-thumbnail-icon">
                      <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x"></i>
                      </span>
                  </a>
                  <a href="" class="founder-thumbnail-icon">
                      <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x"></i>
                      </span>
                  </a>
                  <a href="" class="founder-thumbnail-icon">
                      <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x"></i>
                      </span>
                  </a>
              </div>
            </div>
            <!-- END FOUNDER DESCRIPTION 1 -->

        </div>
        <!-- END FOUNDERS -->
    </div>
    <!-- END HIDE MOBILE -->
    <!-- SUB TITLE -->
    <div class="row m0 center clear">
        <h3 class="team-sub-title">EL ELQUIPO</h3>
        <div class="relative">
            <div class="three-dots-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <!-- END SUB TITLE -->
    <!-- THUMBNAILS AREA -->
    <div class="row m0">
        <div class="team-row-wrapper">

            <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper show-mobile">
                <div class="team-img center-bg" style= "background: url({% static 'images/pedro.png' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Pedro Varas</p>
                    <p class="team-role m0">Co-founder</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

            <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper show-mobile">
                <div class="team-img center-bg" style= "background: url({% static 'images/sebas.png' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Sebastián Arias</p>
                    <p class="team-role m0">Co-founder</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

            <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style= "background: url({% static 'images/nate.png' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Nathan Lustig</p>
                    <p class="team-role m0">Inversionista de FounderList</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

            <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style="background: url({% static 'images/max.png' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Max Grekin</p>
                    <p class="team-role m0">Inversionista de FounderList</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

            <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style="background: url({% static 'images/perfil2.jpg' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Patricio Velasquez</p>
                    <p class="team-role m0">Diseñador</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

            <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style="background: url({% static 'images/cami.jpg' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0 pt15">Camila Baraya</p>
                    <p class="team-role m0">Encargada de comunicaciones y comunidades</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

                        <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style="background: url({% static 'images/narbe.jpg' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Narbelys Oropeza</p>
                    <p class="team-role m0">Ing. en Computación</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->
                        <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style="background: url({% static 'images/augusto.png' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Augusto Ascanio</p>
                    <p class="team-role m0">Ing. en Computación</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->
                        <!-- THUMBNAIL-->
            <div class="thumbnail-wrapper">
                <div class="team-img" style="background: url({% static 'images/sebas2.jpg' %})"></div>
                <div class="overlay-wrapper">
                    <div class="overlay"></div>
                    <a class="thumbail-btn" href="">Ver perfil de FounderList</a>
                    <div class="row thumbnail-icons-row m0">
                        <a href="" class="thumbnail-icon icon-left">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="thumbnail-icon icon-right">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="thumbnail-text-area">
                    <p class="team-name m0">Sebastián Garantón</p>
                    <p class="team-role m0">Diseñador UI</p>
                </div>
            </div>
            <!-- END THUMBNAIL-->

        </div>
    </div>
    <!-- END THUMBNAILS AREA -->
    <div class="row m0 partners-area">
        <p class="section-title">
            ALIADOS
        </p>
        <div class="row m0 mt20">
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
            <!-- PARTNER THUMBNAIL -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb50">
                <img src="{% static 'images/founderlist_arrow.png' %}" alt="" class="partner-thumbnail">
                <p class="team-name m0 partner-name">Startup Chile</p>
            </div>
            <!-- END PARTNER THUMBNAIL -->
        </div>
    </div>
    {% include 'include/footer.html'%}
</body>
  {% include 'include/script_js.html'%}
<script type="text/javascript">
  var countries;
  $(document).ready(function () {
    $('.co-founder-box').on('click', function (e) {
      var id_name = $(this).attr("attr-name");
      $('#'+id_name).css('display', '')
      if (id_name=="sebas"){
        $('#pedro').css('display', 'none')
      }else{
        $('#sebas').css('display', 'none')
      }

    });
  });
</script>



</html>
