/*
Table of contents:
- CALENDAR
- DATETIMEPICKER
*/

/*---------------- CALENDAR ----------------*/

/* GENERAL FORMAT */

.datepicker {
  padding: 0 !important;
  margin: 0 !important;
}
.datepicker:before{
  display: none !important;
}
.datepicker:after{
  display: none !important;
}
.datepicker-days .table-condensed th,
.datepicker-days .table-condensed td {
  border-radius: 0;
}
.datepicker-days .table-condensed td {
  padding-left: 15px;
  padding-right: 15px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: auto !important;
}
 
/* HEADERS */

.datepicker-days .table-condensed thead tr .prev,
.datepicker-days .table-condensed thead tr .next,
.datepicker-days .table-condensed thead tr .datepicker-switch,
.datepicker-months .table-condensed thead tr .prev,
.datepicker-months .table-condensed thead tr .next,
.datepicker-months .table-condensed thead tr .datepicker-switch,
.datepicker-years .table-condensed thead tr .prev,
.datepicker-years .table-condensed thead tr .next,
.datepicker-years .table-condensed thead tr .datepicker-switch {
  background-color: #e13f4e !important;
  border-radius: 0 !important;
  color: white;
}
.datepicker-days .table-condensed thead tr .dow,
.datepicker-months .table-condensed thead tr .dow,
.datepicker-years .table-condensed thead tr .dow {
  background-color: #eaeaea !important;
  border-radius: 20 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* BODY DATES */

.datepicker-days .table-condensed td.active.day,
.datepicker-days .table-condensed td.active.day:hover,
.datepicker-days .table-condensed td.active.day:active,
.datepicker-months .table-condensed td.active.day,
.datepicker-months .table-condensed td.active.day:hover,
.datepicker-months .table-condensed td.active.day:active,
.datepicker-years .table-condensed td.active.day,
.datepicker-years .table-condensed td.active.day:hover,
.datepicker-years .table-condensed td.active.day:active {
  background-color: #e13f4e;
  color: white;
}
.datepicker-days .table-condensed td.active.day:hover,
.datepicker-months .table-condensed td.active.day:hover,
.datepicker-years .table-condensed td.active.day:hover {
  font-weight: bold;
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active,
.open>.dropdown-toggle.datepicker table tr td span.active,
.open>.dropdown-toggle.datepicker table tr td span.active.disabled,
.open>.dropdown-toggle.datepicker table tr td span.active.disabled:hover,
.open>.dropdown-toggle.datepicker table tr td span.active:hover {
  background-color: #e13f4e !important;
  
  color: white;
}
.datepicker table tr td span {
   display: block;
    width: 23%;
    border-radius: 0 !important;
    height: 37px;
    line-height: 23px;
    float: left;
    margin: 1%;
    cursor: pointer;
    padding: 8px 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 0 !important;
}
th.picker-switch[title="Select Decade"] {
    pointer-events: none;
}
/*---------------- DATETIMEPICKER ----------------*/
.bootstrap-datetimepicker-widget {
  display: block !important;
}
.timepicker-picker {
  padding: 0 !important;
}
.timepicker-picker .fa {
  color: #e13f4e !important;
}
.timepicker-picker .fa:hover {
  background-color: #e13f4e !important;
  color: white !important;
}

/* INNER ICONS */
#date,
#start_time,
#end_time {
  position: relative;
}
.date-icon {
  float: right;
  font-size: 22px;
  margin-right: 13px;
  margin-top: -46px;
  position: relative;
  z-index: 2;
}

