.bold {font-weight: bold !important;}
.clear {clear: both;}
.hide {display: none !important;}
.inline-block {display: inline-block;}
.normal {font-weight: normal !important;}
input,
textarea,
select {
	border-radius: 0 !important;
}
.two-lines {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* MARGINS */
.m0 {margin: 0;}
.mt10 {margin-top: 10px;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb80 {margin-bottom: 80px;}

/* PADDINGS */
.p0 {padding: 0;}
.pt0 {padding-top: 0;}
.pt0i {padding-top: 0 !important;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pt5 {padding-top: 5px;}
.pl0i {padding-left: 0 !important;}

/* HEIGHTS */

.h55 {height: 55px;}

/* FONTS */

.f14 {font-size: 14px;}

.show-xs {display: none !important;}
.show-md {display: none !important;}

@media (max-width: 991px) {  /* Bootstrap md */
	.hide-md {display: none !important;}
	.show-md {display: block !important;}
	.m0-md-i {margin: 0 !important;}
	.ml15-md-i {margin-left: 15px !important;}
	.mt-md-15-i {margin-top: 15px !important;}
	.text-left-md {text-align: left !important;}
}

@media (max-width: 767px){  /* Bootstrap xs */
	.hide-xs {display: none !important;}
	.show-xs {display: block !important;}
	.mr15-xs {margin-right: 15px;}
	.m0-xs-i {margin: 0 !important;}
	.ml15-xs-i {margin-left: 15px !important;}
	.text-left-xs {text-align: left !important;}
}