body{
  font-size: 14px
}
h3{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans';
  letter-spacing: 0px;
}
.box-lateral-menu{
  background: #f4f4f4;
  padding: 15px;
<<<<<<< HEAD
  /*width: 495px;*/
=======
  padding-top: 0;
>>>>>>> 20048e57feccc6aab047abed6cecee6b320856f6
  width: 100%;
  margin-top: 18px
  /*position: fixed;*/
}
.box-lateral-menu a{
  color: #4d4d4d;
}
.box-lateral-menu a.option{
  width: 100%;
  display: inline-block;
  margin-top: 0;
  padding: 15px 0;
}
.box-lateral-menu hr {
  margin: 0;
}
.box-lateral-menu a:hover{
  font-weight: bold;
}
.section_tabs{
  padding-top:20px;
  padding-bottom:40px
}
.section_tabs ul{
  margin-left: 20px;
}
.section_tabs li{
  list-style: disc;
  color:#e13f4e
}
.section_tabs li span{
  color:#4d4d4d
}
.box-img{
  border: 1px solid #ccc;
}
.sub-menu-invest a{
  color: #1daab5
}
.sub-menu-invest ul{
  margin-left: 0px
}
.sub-menu-invest li{
  list-style: none;
}

.menu-box{
  min-height: 58px;
}

.how-top-title {
    line-height: 10px;
    margin-bottom: 18px;
}