.mb50 {
    margin-bottom: 50px;
}

/* THUMBNAIL */
.thumbnail-wrapper,
.big-thumbnail-wrapper {
    position: relative;
    float: left;
    z-index: 10;
}

.thumbnail-text-area {
    max-height: 95px;
    width: 250px;
    font-size: 13px;
    line-height: 21px;
}

.thumbnail-wrapper:nth-of-type(odd) .thumbnail-text-area {
    background-color: #f9f9fb;
}

.thumbnail-wrapper:nth-of-type(even) .thumbnail-text-area {
    background-color: #e7eef4;
}

.team-name {
    color: #333;
    padding: 27px 17px 0px 17px;
    font-weight: bold;
}

.team-role {
    color: #666;
    padding: 1px 17px 25px 17px;
}


.team-img {
    width: 250px;
    height: 250px;
    background-size: cover !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
}

.bg-center {
    background-position: center !important;
}

.overlay-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 250px;
}

.overlay {
    width: 250px;
    height: 250px;
    background-color: #000;
    opacity: 0;
}

.overlay-wrapper:hover .overlay {
    opacity: 0.5;
}

.overlay-wrapper:hover .thumbnail-icon,
.overlay-wrapper:hover .thumbail-btn {
    opacity: 1;
}

.thumbail-btn {
    position: absolute;
    bottom: 30px;
    width: 80%;
    left: 10%;
    text-align: center;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    opacity: 0;
    text-decoration: none;
    border-radius: 3px;
}

.thumbnail-icons-row {
    position: absolute;
    top: 35%;
    width: 50%;
    left: 25%;
}

.thumbnail-icon {
    color: white;
    opacity: 0;
}

.icon-left {
    position: absolute;
    left: 0;
}

.icon-center {
    position: absolute;
    left: 50%;
    margin-left: -16px;
}

.icon-right {
    position: absolute;
    right: 0;
}

/* width */
.big-thumbnail-wrapper .thumbnail-text-area,
.big-thumbnail-wrapper .overlay,
.big-thumbnail-wrapper .overlay-wrapper,
.big-thumbnail-wrapper .team-img {
    width: 309px;
}
.big-thumbnail-wrapper .thumbnail-text-area {
    background-color: #f9f9fb;
}
/* height */
.big-thumbnail-wrapper .overlay,
.big-thumbnail-wrapper .overlay-wrapper,
.big-thumbnail-wrapper .team-img {
    height: 309px;
}

.big-thumbnail-wrapper .thumbnail-text-area {
    font-size: 15px;
}

.big-thumbnail-wrapper .thumbnail-icons-row {
    top: 50%;
}
/* END THUMBNAIL */

/* ALL PAGE */

.team-row-wrapper {
    width: 1000px;
    margin: auto;
}

.three-dots-container {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: -50px;
}

.relative {
    position: relative;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #e13f4e;
    float: left;
    margin-right: 6px;
}

.team-sub-title {
    font-size: 22px;
    margin: 40px auto 70px auto;
    text-transform: uppercase;
}

.section-title {
    color: #999;
}

.partners-area {
    clear: both;
    margin: 0 5%;
    padding-top: 50px;
}

.partner-thumbnail {
    float: left;
    width: 48px;
    height: 48px;
}

.partner-name {
    margin-left: 12px;
    float: left;
    margin-top: -15px;
}

.pad-header {
    padding-top: 56px;
}

.founders-row {
    position: relative;
    height: 400px;
    width: 100%;
    padding: 0 5%;
}

.founders-bg {
    background-color: #333;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    top: 10%;
    z-index: -1;
}

.founder-description-text-area {
    float: left;
    width: calc( 100% - 618px );
    height: calc( 400px - 30%);
    margin-top: 5%;
    padding: 0 2% 0 7%;
    z-index: 10;
}

.founder-name {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.founder-role {
    color: white;
    font-size: 15px;
    margin-top: -14px;
}

.founder-description {
    color: white;
    font-size: 15px;
}

.founder-icons {
    margin-top: 10px;
    margin-left: -4px;
}

.founder-thumbnail-icon {
    color: white;
}

@media only screen and (max-width: 999px) {

    .team-row-wrapper {
        width: 750px;
    }

}

@media only screen and (max-width: 749px) {

    .team-row-wrapper {
        width: 500px;
    }

}

@media only screen and (max-width: 499px) {

    .team-row-wrapper {
        width: 250px;
    }

}

.co-founder-box{
 cursor: pointer;
}
