@media (min-width: 992px) {
    .container {
        position: relative;
        max-width: 900px !important;
    }
}

.pd-r-0{
    padding-right: 0px;
}
.pd-l-0{
    padding-left: 0px;
}
.pd-b-28{
    padding-bottom: 28px;
}
.section-action{
    cursor: pointer;
}
.btn-padding{
    padding-top: 25px !important;
    padding-bottom: 30px;
}

.anchor {
    position: absolute;
    margin-top: -70px;
}
    
/* ****************************************************************
 *                                                                *
 *                         PROFILE SECTION                        *
 *                                                                *
 ******************************************************************/
/* ================ Profile Section - Final View ================ */
/*-------------------------- Two images Background and profile photos */
.inv-profile .inv-image-lg{
    z-index: 0;
    margin-bottom: 10px;
    background: url(/static/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 12%;
    height: 250px;
}
.inv-image-profile{
    height: 120px;
    margin: -76px 0 0 0;
    width: 120px;
    z-index: 9;
}
.profile-info-box {
    left: 149px;
    position: absolute;
    right: 0;
    top: -70px;
}
/*----------------------------------Info text*/
.label-box {
    padding-right: 12px;
    position: relative;
}
.profile-info-box .profile-name{
    color: #ffffff;
    font-family: 'Asap', sans-serif;
    text-align: left;
}
.profile-info-box .short-description {
    color: #ffffff;  
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    text-align: left;
}
.profile-info-box .short-description > div {
    margin-top: -4px;
}
.profile-info-box .info-labels {
    display: inline-block;
    padding-top: 14px;
    width: 85%;
}
.profile-info-box .share-btn {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 14%;
}
.info-1-level-name{
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px;
}
.info-dot{
    font-size: 21px;
    float:right;
}
.info-1-level-text-normal{
    font-size: 16px;
}
.info-level-2-text{
    color: #4d4d4d;
    display: inline-block;
    font-family: Asap;
    font-size: 13px;
    line-height: 1.29;
}
.info-labels .info-label:nth-of-type(1) .info-level-2-text {
    padding-left: 20px;
}
.info-labels .info-label:nth-of-type(2) .info-level-2-text {
    padding-left: 29px;
}
.info-labels .info-label:nth-of-type(3) .info-level-2-text {
    padding-left: 22px;
}
.info-labels .info-label:nth-of-type(4) .info-level-2-text {
    padding-left: 29px;
}

.a-line{
    margin-bottom: 45px;
    margin-top: -35px;
}

/*-------------------------Icons*/
.icon-text-container{
    display: flex;
}
.banner-info-icon {
    left: 0;
    position: absolute;
    top: 6px;
}
.location-icon{
    height: 19px;
    object-fit: contain;
}
.tag-icon{
    width: 21px;
    height: 21px;
    object-fit: contain;
}
.world-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.share-icon{
    height: 20px;
    object-fit: contain;
    position: absolute;
    right: 15px;
    top: -27px;
    width: 19px;
}

/*---------------------------- right side action buttons*/
.profile-action{
    text-align: right;
    cursor: pointer;
}
.action-1{
    color: #ffffff;
}
.action-2{
    font-size: 14px;
    color: #4d4d4d;
}
.banner-right-side-btns {
    position: absolute;
    top: -70px;
    right: 15px;
}
.profile-action .fa-pencil-square-o {
    color: #d4d4d4;
    font-size: 18px;
    vertical-align: middle;
}

/*---------------------------- social media */
.profile-social-media{
    position: absolute;
    top: 76px;
    text-align: right;
    padding-right: 49px;
}

.media-icon{
    width: 28.6px;
    height: 28px;
    border-radius: 50%;
    border: solid 2px #ffffff;
    text-align: center;
    padding-top: 3px;
    color: white;
    margin-right: 11px;
}

/* ================ Profile Section - Edit View ================ */
/*----------------------------------First row: load images + submit buttons*/


.edit-profile{
    padding-top: 70px;
}
.relative {
    position: relative;
}
.img-add-box {
    float: left;
    width: 80px;
    height: 80px;
    /*border: solid 1px #989898;*/
    opacity: 0.7;
    position: relative; */
}
.img-add-box p.plus-text {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 6px;
}
.img-add-box p {
    color: #1daab5;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    text-align: center;
}
.img-add-box-label p {
    float:left;
    margin-left: 32px;
    margin-right: 43px;
    margin-top: 24px;

    font-size: 18px;
    line-height: 1.67;
    text-align: left;
    color: #989898;

    font-family: Asap;
}

.img-add-box [type=file]{
    position: absolute;
    top: 0px;
    opacity: 0;
    height: 80px;
    cursor: pointer;
}
.image-file{
    position: absolute;
    height: 80px;   
}

.submit-row-btns {
    text-align: right;
}
/*-----Buttons*/
.btn-profile{
    width: 96px;
    height: 55px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    border: 0px solid;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    line-height: 0.31;
    font-weight: initial;
}

.submit-cancel{
    background-color: #eeeeee;
    color: #646464;
    margin-right: 10px;
}
.submit-ok{
    background-color: #e13f4e;
    color: #ffffff;
}
/*----------------------------------Form*/
.textarea-field{
    
}
.textarea-field, .input-field, .select-styled {
    border: 1px solid #111;
}
.personal-info-form,.main-style-form{
    padding-top: 11px;
}
.main-style-form .form-item {
    color: #989898;
    background: transparent;
    border-color: #ccc;
    border-radius: 4px;
    box-shadow: none;
    font-family: Asap;
    font-size: 14px;
    padding: 5px 15px;
    text-align: left;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    width: 100%;
}

.main-style-form .input-field {
    height: 40px;
}
.input-separator {
    margin-bottom: 20px;
}
.text-area-counter{
    text-align: right;
    margin-top: 0px;
}

/* ****************************************************************
 *                                                                *
 *                       ACTIONS SECTION                          *
 *                                                                * 
 ******************************************************************/
 section#actions-section{
    color: #4d4d4d;
 }
 .actions-container{
    padding-top: 70px;
}
 section#actions-section .title-section{
    font-size: 17.5px;
    font-weight: bold;
    line-height: 4;
    text-align: left;
    height: 17px;
}
.divider-bottom-edit{
    padding-bottom: 70px;
    margin-bottom: 28px;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #ccc6;
    -webkit-border-after-color: rgba(204, 204, 204, 0.54);
}
.divider-top{
    border-top-width: 0.5px;
    border-top-style: solid;
    border-top-color: #ccc6;
    -webkit-border-before-color: rgba(204, 204, 204, 0.54);
}

.action-row{
    padding-top: 12px;
    padding-bottom: 12px;
}
.concept-column{
    color: rgba(21, 29, 36, 0.9);
    font-family: Asap;
    font-size: 15.4px;
    font-weight: 500;
    letter-spacing: 0.4px;
    opacity: 0.9;
    text-align: left;
}
.btn-column{
    text-align: right;
}
.btn-actions{
    width: 141px;
    height: 39px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    border: 0px solid;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    line-height: 0.31;
    font-weight: initial;
    text-align: center;
}
.what-would-text {
    font-weight: normal;
}
/* ****************************************************************
 *                                                                *
 *                      INVESTMENTS SECTION                       *
 *                                                                * 
 ******************************************************************/
 /* ================ First section - Description investment ================ */
/*Padding between sections */
.an-investment,.experience-section{
    padding-top: 70px;
}
/*Padding between rows */
#noedit-investment,#noedit-done-investments,#edit-done-investments,#investors,#edit-experience{
    padding-top: 40px;
}
.period-row{
    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}
.an-investment .period-row .period{
    background: #e13f4e;
    border-color: #e13f4e;
    box-shadow: 0px 0px 0px #444;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 6px;
    width:6px;
}
.period-row .period-1{
    left:0%;
}

.period-row .period-2{
    left:1%;
}

.period-row .period-3{
    left:2%;
}
.the-section-title{
    font-size: 23px;
    font-weight: normal;
    line-height: 3.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: #4d4d4d;
}
.the-section-subtitle{
    font-size: 16px;
    font-weight: normal;
    line-height: 3.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: #4d4d4d;
}
.well {
    padding: 21px 19px 20px 19px;
}
.well-align{
    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    
}
.well-margin-top{
    margin-top: 39px;
}
.lock-icon{
    width: 38px;
    height: 41px;
    object-fit: contain;
    padding-top: 10px;
}
.hv-aling-center{
    vertical-align: middle;
    text-align: center;
}
.caret-span{
    padding-left: 5px;
    font-size: 18px;
}
.section-subtitle{
    font-size: 16.5px;
  
  letter-spacing: 0.8px;
  text-align: left;
  color: #4d4d4d;
}
.a-right{
    text-align: right;
}
.section-action{
    color: #8c8c8c;
}
.section-subtitle-2{
    font-size: 23px;
    font-weight: bold;
    line-height: 2.86;
    text-align: left;
    color: #4d4d4d;
}
.item-title{
    font-weight: bold;
}
.visitor-box-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 22px;
    max-width: 201px;
    min-height: 200px;
    width: auto;
}
.visitor-box-name {
    margin-top: 3px;
}
.visitor-box-role {
    color: #888888;
    display: block;
    font-family: Asap;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 11px;
    text-align: left;
}
.visitor-box-city {
    color: #4d4d4d;
    display: inline-block;
    font-family: Asap;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
}
.visitor-box-time {
    color: #888888;
    display: inline-block;
    font-family: Asap;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 38px;
    text-align: left;

}
.item-desc{
  padding-left: 4px;  
}
/* ================ An investment - Edit View ================ */
#edit-investment{
    padding-top: 70px;
}
.label-investment{
  color: #989898;
  font-family: Asap;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
/* ================ Investments done section - Final View ================ */
/*------------------------------------------------------space between title and row of items*/
#noedit-done-investments > div.row:nth-child(1), #investors > div.row:nth-child(2), #edit-aboutme > div.row:nth-child(1){
    padding-top: 26px;    
}
#edit-done-investments > div.row:nth-child(1){
    padding-top: 26px;    
}
/*------------------------------------------------------space at the bottom of an entire row of items*/
#noedit-done-investments, #investors > div.row:nth-child(2),#noedit-experience, .a-project, .list-images{
    padding-bottom: 40px;    
}

.media-container-row{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.edit-done-investments .media-container-row:nth-child(3n+1),
.element-investments .media-container-row:nth-child(3n+1){
    clear: both;
}
.media-left{
    flex:0.5;
}
.media-right{
    flex:3;   
}
.media-left > img.company-icon{
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
.media-title{
    font-size: 16.5px;
    font-weight: bold;
    text-align: left;
    color: #4d4d4d;
    display: flex;
    flex-direction: row;
}
.just-title{
    flex:1;
}

.media-text{
    font-size: 13.2px;
    line-height: 1.25;
    text-align: left;
}
.media-text > .item-title{
    font-weight: initial;
    
}
.media-text > .item-desc{
    font-weight: bold;
    color: #4d4d4d;
}


/* ================ Investments done section - Edit View ================ */
.label-well{
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    text-align: left;
}
.btn-well{
    width: 110px;
    height: 39px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 0.31;
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
    padding-top: 17px;
}
.btn-cancel{
    width: 110px;
    height: 39px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 0.31;
    text-align: center;
    margin-top: 5px;
    padding-top: 15px;
}
.btn-well:hover{
    color:#fff;
}
.investment-form .input-field, .experience-form .input-field {
    background: #ffffff;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 40px;    
}
.investment-form{
    padding-top: 0px;
}
.caption-input{
    font-size: 14px;
    line-height: 2.14;
    text-align: left;
    color: #989898;
}

#edit-done-investments{
    padding-bottom: 33px;    
}
.company-form, #noedit-done-investments > div.row:nth-child(1){
    padding-bottom: 20px;
}
.company-form, #edit-done-investments > div.row:nth-child(1){
    padding-bottom: 20px;
}
select.select-styled{
    height: 40px;
    border-color: #ccc;
    width: 100%;
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background-color: transparent;
    background-image: url("/static/images/arrow_down.png");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-clip: initial;
    background-origin: initial;
    background-position-x: 100%;
    background-position-y: center;
    background-size: 12px;*/
    color: #6d6d6d !important;
    font-size: 14px;
    font-family: Asap;
}
.investment-form .select-styled, .experience-form .select-styled{
    background-color: #ffffff;
}

select.select-styled:required:invalid {
    color: #999;
}
select.select-styled option[value=””][disabled] {
    display: none;
}
select.select-styled option {
    color: #000;
}
.btn-x{
    width: 28px;
    height: 28px;
    background-color: #e13f4e;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
}
.btn-delete{
    width: 28px;
    height: 28px;
    background-color: #e13f4e;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
}
/* ****************************************************************
 *                                                                *
 *                      EXPERIENCE SECTION                        *
 *                                                                * 
 ******************************************************************/
 /* ================ Final view ================ */
 #noedit-experience .media-title{
    font-size: 16.5px;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: #4d4d4d;
 }
 #noedit-experience .media-text .item-title{
    font-size: 13.2px;
    line-height: 1.8;
    text-align: left;
    color: #4d4d4d;
 }
 #noedit-experience .media-right {
    flex: 4;
 }
 #noedit-experience .media-left {
    margin-top: -3px;
 }
 .container-column{
    display: flex;
    flex-direction: column;
 }
 .pad-top{
    padding-top: 20px;
 }

 /* ================ Edit view ================ */
 .upload-thumbnail{
    width: 80px;
    height: 80px;
 }

.file-upload {
    position: relative;
    display: inline-block;
}
.file-upload__label {
    padding: 16px;
    color: #fff;
    background: #e13f4e;
    border-radius: 5px;
    height: 55px;
    width: 96px;
    text-align: center;
    cursor: pointer;
    font-weight: initial;
    font-size: 16px;
  
}    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
/*.experience-form a{
    width: 116px;
    height: 13px;
    font-family: Asap;
    font-size: 16.5px;
    line-height: 3.6;
    text-align: left;
    color: #1daab5;
}*/
/* ****************************************************************
 *                                                                *
 *                      ABOUT ME SECTION                          *
 *                                                                * 
 ******************************************************************/
 /* ================ Final view ================ */
#noedit-aboutme .concept-column{
    color: #4d4d4d;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    padding-left: 60px;
    text-align: left;

}
#noedit-aboutme .desc-column{
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #4d4d4d;
}

/* ****************************************************************
 *                                                                *
 *                      PROJECTS SECTION                          *
 *                                                                * 
 ******************************************************************/
 /* ================ Final view ================ */
 #noedit-projects .media-left{
    text-align: center;
 }

 #noedit-projects .media-right{
    color: #4d4d4d;
 }

#noedit-projects .media-left .project-image{
    margin-top: 7px;
    margin-right: 5px;
    width: 210px;
    height: 161px;
 }
 #noedit-projects .media-title .just-title, #noedit-projects .media-title .just-subtitle {
    padding-bottom: 9px;
 }
 #noedit-projects .media-title .just-subtitle{
    font-size: 16.5px;
    text-align: left;
    color: #4d4d4d;
 }
 #noedit-projects .media-right{
    padding-left: 52px;
}
/* ================ Edit view ================ */
.subtitle-form{
    font-size: 23px;
    font-weight: bold;
    line-height: 2.86;
    text-align: left;
    color: #4d4d4d;
}
.projects-form .file-upload__label{
    margin-top: 10px;
    height: 50px;
    padding: 10px;
}

.item-project-image{
    width: 130px;
    height: 99px;
    background: url(/static/images/founderlist_arrow.png) no-repeat;
    background-size: 100%;
}

.item-project-image:after {
    content: "X";
    position: absolute;
    left: 2px;
    padding: 2px 5px;
    top: -7px;
    font-size: 15px;
    width: 28px;
    height: 28px;
    background-color: #e13f4e;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    font-weight: bold;
}

.pt10{
    padding-top: 10px !important;
}
.pl10{
    padding-left: 10px !important;
}
.pb20{
    padding-bottom: 20px;
}    

/* ****************************************************************
 *                                                                *
 *               WHAT WOULD YOU LIKE TO DO SECTION                *
 *                                                                * 
 ******************************************************************/

#what-would-you-like .w-w-y-l-title {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 16.5PX;
    margin-bottom: -8px;
    margin-top: 0;
    text-align: left;
}

#what-would-you-like .w-w-y-l-text-1 {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    font-weight: bold;
    line-height: 1.75;
    text-align: left;
}

#what-would-you-like .w-w-y-l-text-2 {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    line-height: 1.75;
    text-align: left;
}

#what-would-you-like button {
    background-color: #e13f4e;
    border-radius: 5px;
    color: #ffffff;
    font-family: Asap;
    font-size: 14px;
    height: 39px;
    line-height: 0.36;
    margin-bottom: 15px;
    text-align: center;
    width: 120px;
}

/* ****************************************************************
 *                                                                *
 *                        INVESTMENT ROUND                        *
 *                                                                * 
 ******************************************************************/

 #investments .grey-bar,
 #noedit-investment-round .grey-bar {
    background-color: #eee;
    border-radius: 5px;
    padding: 32px 61px 18px;
 }

#investments .grey-bar .icon-box,
#noedit-investment-round .grey-bar .icon-box{
    position: absolute;
    top: 34px;
    left: 23px;
}

#investments .grey-bar .icon-box i,
#noedit-investment-round .grey-bar .icon-box i {
    font-size: 16px;
}

#investments .grey-bar .grey-bar-status,
#noedit-investment-round .grey-bar .grey-bar-status{
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 16.5px;
    text-align: left;
}

#investments .grey-bar .grey-bar-description,
#noedit-investment-round .grey-bar .grey-bar-description{
    color: #989898;
    font-family: Asap;
    font-size: 14px;
    line-height: 2.14;
    margin: -9px 0 0 0;
    text-align: left;
}

#noedit-investment-round .competitor-row {
    padding-top: 19px;
    padding-bottom: 16px;
}

#noedit-investment-round .competitor-title {
    line-height: 18px;
    padding: 19px 0;
}

.round-terms-title {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 9px;
    text-align: left;
}

.round-text {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    line-height: 1;
    text-align: left;
}

/* ****************************************************************
 *                                                                *
 *                       COMMITED INVESTORS                       *
 *                                                                * 
 ******************************************************************/

.commited-investors-see-more {
    color: #4ab6be;
    font-family: Asap;
    font-size: 13.2px;
    line-height: 13.2px;
    position: absolute;
    text-align: left;
    top: 0;
}

/* ****************************************************************
 *                                                                *
 *                          EQUITY BASIS                          *
 *                                                                * 
 ******************************************************************/

.equity-basis-radio-inputs label {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    line-height: 13.2px;
    text-align: left;
}

.equity-basis-radio-inputs input {
    margin-top: -1px !important;
}

 /* ****************************************************************
 *                                                                *
 *                  PRODUCT AND FOUNDERS SECTION                  *
 *                                                                * 
 ******************************************************************/

 #product-founders {
    margin-top: 20px;
}
 .title-row {
    margin-bottom: 4px;
 }
 .period-row {
    margin-bottom: 42px;
 }
 .product-image-area {
    margin-bottom: 51px;
    text-align: center;
 }
 .product-image {
    display: inline-block;
    margin: auto;
    width: 500px;
    max-width: 90%;
 }
 .product-image-description-area {
    font-family: Asap;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #4d4d4d;
 }
 .divider-bottom {
    padding-bottom: 38px;
    margin-bottom: 17px;/*should be 40 but section title line heigh gives a 23px distance*/
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #ccc6;
    -webkit-border-after-color: rgba(204, 204, 204, 0.54);  
 }
 .bordered-bottom {
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #ccc6;
    -webkit-border-after-color: rgba(204, 204, 204, 0.54);  
 }

 /* ================ FOUNDERS SUMMARY ================ */

 .founder-summary{
    margin-bottom: 30px;
 }
.founder-summary-pic {
    display: inline-block;
    width: 201px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }
 .founder-summary-info {
    display: inline-block;
    padding-left: 27px;
    vertical-align: top;
    width: calc( 90% - 207px );
 }
.founder-summary-info .name {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 16.5px;
    margin-bottom: 8px;
    text-align: left;
}
.founder-summary-info .role {
    color: #4e4e4e;
    font-family: Asap;
    font-size: 13.2px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: left;
}
.founder-summary-info .description {
    color: #888888;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 0;
    margin-top: 16px;
    text-align: left;
}

/* ================ ALLIES ================ */

 .allies-boxes-area {
 }
 .allies-boxes-area .media-container-row{
    margin-bottom: 30px;
 }
 .allies-boxes-area .media-right {
    padding-left: 11px;
 }
 .allies-boxes-area .media-title {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 2px;
    text-align: left;
 }
 .allies-boxes-area .media-text p {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    line-height: 1.25;
    margin: 0;
    text-align: left;
 }

/* ================ ABOUT FOUNDERS ================ */

.founders-video-area {
    margin-top: 38px;
}
.founders-lg-video {
    height: 404px;
    margin: auto;
    width: 720px;
}
.founders-xs-video {
    display: none;
}
.below-vid-text {
    margin-top: 23px;
}
.below-vid-text .founder-text-title{
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 4;
    text-align: left;
    color: #4d4d4d;
}
.below-vid-text .founder-text-content{
    color: #4d4d4d;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.57;
    margin-top: -24px;
    text-align: left;
}
@media (max-width: 767px){  /* Bootstrap xs */
    .founders-xs-video {
        display: block;
        height: 180px;
        margin: auto;
        margin-top: -32px;
        width: 320px;
    }
    .founders-lg-video {
        display: none;
    }
}

/* ================ CLIENTS ================ */

.clients-description {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
}

.sm-boxes-see-more {
    height: 85px;
    overflow: hidden;
}

.see-more-btn-box {

}

.see-more-btn {
    color: #1daab5;
    font-size: 13px;
}

.see-less-btn {
    color: #1daab5;
    display: none;
    font-size: 13px;
}

.see-more-btn:hover,
.see-less-btn:hover {
    color: #666;
    cursor: pointer;
    text-decoration: none;
}

/* ================ TRACTION ================ */

.traction-columns {
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #ccc6;
    -webkit-border-after-color: rgba(204, 204, 204, 0.54);
    margin-bottom: 12px;
}
.traction-area .the-section-subtitle{
    margin-bottom: 18px;
}
.traction-columns .traction-name {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 50px;
    text-align: left;
}
.traction-columns .traction-value {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    line-height: 50px;
    text-align: left;
}

/* ================ COMPETITORS ================ */

.competitors-titles-row {
    background-color: #f4f4f4;
}
.competitor-title {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 55px;
    margin: 0;
    text-align: left;
}
.competitor-row {
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #ccc6;
    -webkit-border-after-color: rgba(204, 204, 204, 0.54);
    padding-top: 25px;
    padding-bottom: 32px;
}
.competitor-row-text {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
    max-height: 80px;
    text-align: left;
    overflow: hidden;
}

/* ================ RECEIVED INVESTMENTS ================ */

.received-inv-box {
    background-color: #f4f4f4;
    width: 100%;
    padding: 18px 21px;
    padding-bottom: 10px;
}

.received-inv-box .amount{
    padding-bottom: 14px;
}

.received-inv-box .amount p{
    color: #4d4d4d;
    font-family: Asap;
    font-size: 29.6px;
    font-weight: bold;
    max-width: 80%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.received-inv-box .amount .date{
    bottom: 6px;
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    position: absolute;
    right: 0;
}

.received-inv-box .type p {
    color: #4d4d4d;   
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    text-align: left;
}
.received-inv-box .type{
    padding-bottom: 18px;
    padding-top: 15px;
}
.received-inv-box .type .date{
    bottom: -1px;
    padding-bottom: 18px;
    padding-top: 15px;
}
.received-inv-box .link {
    padding-bottom: 14px;
    padding-top: 14px;
}
.received-inv-box .link a {
    color: #1eaab4;
    font-family: Asap;
    font-size: 16.5px;
    text-align: left;
}
.received-inv-box .link a:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer;   
}
.received-inv-box .description {
    padding-bottom: 9px;
    padding-top: 13px;
}
.received-inv-box .description p {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
}
.received-inv-box .investors {
    padding-bottom: 9px;
    padding-top: 9px;
}
.received-inv-box .investors p {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16.5px;
    font-weight: bold;
    text-align: left;
}
.received-inv-box .investors .small-investor-box p {
    font-weight: normal;
}
.small-investor-box {
    margin-bottom: 10px;
    margin-top: 18px;
    padding-left: 67px;
    position: relative;
}
.small-investor-box .sib-title{
    font-weight: bold !important;
    line-height: 1.37;
}
.small-investor-box .sib-text{
    color: #4d4d4d;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.37;
    text-align: left;
}
.sib-picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 48px;
}

.abs-edit-btn {
    position: absolute;
    right: 0;
    top: 0;
}
.abs-edit-btn-text {
    color: #8c8c8c;
    font-family: Asap;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
}




/* ================ INVESTMENT PREFERENCES ================ */
.investment-preferences-list {
    margin-bottom: 12px;
    margin-top: 18px;
}
.investment-preferences-list p {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 13.2px;
    font-weight: bold;
    line-height: 1.53;
    margin-bottom: 0;
    text-align: left;
}
.investment-preferences-list p span{
    font-weight: normal;
}

/* ================ INVESTMENT PREFERENCES ================ */
.investments-done-text p {
    line-height: 1.43 !important;
}
.investments-done-text p span {
    font-weight: bold;
}

/* ================ ABOUT ME ================ */
.about-me-row {
    margin-bottom: 25px;
}
.about-me-label {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
}
.about-me-text {
    color: #4d4d4d;
    font-family: Asap;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
}