a {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}
.relative {
	position: relative;
}
.text-left {
	text-align: left;
}
.lh20 {
	line-height: 20px;
}
.p0 {
	padding: 0;
}
.pb15 {
	padding-bottom: 15px;
}
.pt15 {
	padding-top: 15px !important;
}
.pt150 {
	padding-top: 150px;
}
.pt190 {
	padding-top: 190px;
}
.pl40 {
	padding-left: 40px;
}
.pl30 {
	padding-left: 30px;
}
.pl20 {
	padding-left: 20px;
}
.pl15 {
	padding-left: 15px;
}
.pl10 {
	padding-left: 10px;
}
.ph10 {
	padding-left: 10px;
	padding-right: 10px;
}
.ph10p {
	padding-left: 10%;
	padding-right: 10%;
}
.ph5p {
	padding-left: 5%;
	padding-right: 5%;
}
.ph40 {
	padding-left: 40px;
	padding-right: 40px;
}
.pt10 {
	padding-top: 10px;
}
.pv100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.clear {
	clear: both;
}

.m0 {
	margin: 0;
}
.mr15 {
	margin-right: 15px;
}
.mr30 {
	margin-right: 30px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt45 {
	margin-top: 45px;
}
.mt50 {
	margin-top: 50px;
}
.mt60 {
	margin-top: 60px;
}
.mt70 {
	margin-top: 70px;
}
.mt80 {
	margin-top: 80px;
}
.mt90 {
	margin-top: 90px;
}
.mt100 {
	margin-top: 100px;
}
.mt135 {
	margin-top: 135px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb100 {
	margin-bottom: 100px;
}

.fs16 {
	font-size: 16px;
}

.bold {
	font-weight: 700;
}

.center {
	text-align: center;
}

.submit-btn-row button {
	margin: 0;
}

.forms-container {
	padding-top:37px;
	margin-bottom: 30px;
}

.progress-footer{
	margin-bottom: 60px;
}

.info-text {
	color: #111;
	font-size: 14px;
}

.inline-link {
	color: #e13f4e;
	text-decoration: underline;
}

.inline-link:hover,
.inline-link:active,
.inline-link:focus {
	color: #e13f4e;
	text-decoration: underline;
}

.text {
	color: #111;
	font-size: 14px;
	line-height: 22px;
}

.title {
	font-size: 20px;
	margin-bottom: 16px;
}

.register-location .input-area {
	margin: 90px 0;
}

.register-location .tokenfield {
	width: 100% !important;
}

.dark-grey-text {
	color: #999;
}
.grey-text {
	color: #ccc;
}

.w100 {
	width: 100%;
}

.interests-title {
	color: #333;
	font-size: 24px;
	font-weight: 700;
}

.option {
	margin-top: 20px;
	position: relative;
}

.option p {
	color: #999;
	line-height: 24px;
	margin: 0;
}

.interest-title {
	font-size: 20;
	font-weight: 700;
}

.interest-text {
	font-size: 16px;
}

.interests-checkbox {
	position: absolute;
    top: -4px;
    left: -30px;
}

.circle-container {
	background-image: linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -o-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -moz-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -webkit-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -ms-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	border-radius: 50%;
	height: 180px;
	margin: auto;
	position: relative;
	width: 180px;
	z-index: 1;
}

.circle-image-picker {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 92%;
    margin: auto;
    width: 92%;
    z-index: 4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 165px;
    position: relative;
}

.circle-image-picker:focus,
.circle-image-picker:active,
.circle-image-picker:hover {
	outline: none !important;
}

.separator4{
	height: 4%;
}

.register-avatar .fa-user-circle {
	color: #d0d0d0;
    position: absolute;
    font-size: 166px;
    top: 4%;
    left: 4%;
    z-index: 2;
}

.white-fill {
	background-color: white;
	border-radius: 50%;
    display: inline-block;
    height: 92%;
    margin: auto;
    width: 92%;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 165px;
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 1;
}

.skip-step {
	color: #999;
	text-decoration: underline;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.skip-step:hover,
.skip-step:active,
.skip-step:focus {
	color: #333;
	text-decoration: underline;
}

.register-avatar #avatar {
	visibility: hidden;
	border-radius: 50%;
    position: absolute;
    height: 92%;
    width: 92%;
    top: 4%;
    left: 4%;
    z-index: 3;
	background: #fff;
}

.mini-resume {
	min-height: 140px;
}

#text-area-counter {
	text-align: right;
	margin-top: 10px;
}

.privacy-option {
	position: relative;
	text-align: left;
}

.privacy-subtitle {
	color: #333;
	margin: 0;
}

.privacy-text {
	color: #999;
	margin: 0;
}

.privacy-checkbox {
	position: absolute;
    top: -2px;
    left: -37px;
}

.privacy-example-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 8%;
}

.example-image {
	float: left;
    background-color: #d0d0d0;
    width: 40px;
    height: 40px;
}

.text-wrapper {
	margin-top: -5px;
    margin-left: 57px;
    position: absolute;
}

.example-title {
	color: #333;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

.example-subtext {
	color: #333;
	margin: 0;
	font-size: 14px;
}

.text-wrapper p {
	line-height: 21px;
}

.black {
	color: black;
}

.red{
	text-decoration: underline;
}

.red:hover,
.red:active,
.red:focus {
	color: #9a3227;
	text-decoration: underline;
}

.contact-form .form-item {
	color: black;
}

/* INV REGISTER */
/* home */
/**
	.inv-register-welcome-body irw-
**/
.inv-register-welcome-body .irw-title {
	color: #4d4d4d;
	font-size: 30px;
	margin: 0;
}

.inv-register-welcome-body .irw-subtitle {
	color: #4d4d4d;
	font-size: 15px;
	line-height: 23px;
	margin: 0;
}

.wide-btn {
	width: 100%;
	text-align: center;
}

.blue-btn {
	background-color: #1daab5;
	box-shadow: 0px 5px 1px #14828b;
}

.counter-number {
	margin: 0;
	color: #4d4d4d;
	font-size: 40px;
	font-weight: bold;
}

.counter-label {
	margin: 0;
	color: #4d4d4d;
	font-size: 15px;
	margin-top: 10px;
	padding: 0 6%;
	font-weight: bold;
}

.irp-area-title {
	margin: 0;
	color: #4d4d4d;
	font-size: 20px;
	font-weight: bold;
}

.irp-area-text {
	margin: 0;
	color: #4d4d4d;
	font-size: 15px;
	margin-top: 10px;
	padding: 1% 6%;
}

.ir-thumb {
	border: 1px solid #333;
	height: 150px;
}

.ir-thumb-label {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.thum-container {
	border: 1px solid #333;
	height: 150px;
	max-width: 150px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin: auto;
}

.blue-btn,
.fancy-button {
	padding: 20px;
}

.grey-circled-icon {
	background-color: #ededed;
	border-radius: 50%;
	color: black;
	padding: 70px;
	font-size: 30px;
}

.list-text {
	margin: 0;
	color: #333;
	font-size: 15px;
	padding: 1% 6%;
}

.sm-circle-container-wrapper {
	position: absolute;
}

.sm-circle-container {
	background-image: linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -o-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -moz-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -webkit-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	background-image: -ms-linear-gradient(bottom, #e00017 50%, #00adb6 50%);
	border-radius: 50%;
	height: 100px;
	margin: auto;
	position: relative;
	width: 100px;
	z-index: 1;	
}

.sm-circle {
	border-radius: 50%;
    position: absolute;
    height: 92%;
    width: 92%;
    top: 4%;
    left: 4%;
    z-index: 3;
	background: #fff;
}

.number-label {
	color: #4d4d4d;
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	margin-top: 25px;
	line-height: 45px !important;
}

.sm-circle-left {
	left: 0;
}

.sm-circle-center {
	left: 50%;
	margin-left: -50px;
}

.sm-circle-right {
	right: 0;
}

.input-label {
	color: #999;
}

.dark-text {
	color: #333;
}

.grey-background {
	background: #ededed;
}

.grey-border {
	border: 1px solid #ccc;
}

.show-mobile {
	display: none;
}

.team-img.center-bg {
	background-position: center center !important;
}

@media (max-width: 991px) {
	.md-mt40 {
		margin-top: 40px;
	}

	.hide-md {
		display: none;
	}

	.show-mobile {
		display: block;
	}
}

@media (max-width: 767px) {
	.sm-m0 {
		margin: 0;
	}
	.sm-mb50 {
		margin-bottom: 50px !important;
	}
	.sm-mt40 {
		margin-top: 40px;
	}
	.sm-pv0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.md-center {
		text-align: center;
	}
	.sm-circle-container-wrapper {
		position: relative;
	}
	.sm-circle-left,
	.sm-circle-center,
	.sm-circle-right {
		margin: 0;
		left: 0;
	}

}
