.body {
	padding-top: 56px;
}

.img-add-box {
	border: 1px solid #333;
	height: 120px;
	width: 120px;
	float: left;
}

.img-add-box p {
	color: #1daab5;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	text-align: center;
}

.img-add-box p.plus-text {
	font-size: 31px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 19px;
}

.img-add-box-label p {
	color: #333;
	float: left;
	font-size: 22px;
	margin-left: 43px;
	margin-right: 43px;
	margin-top: 43px;
}

.submit-btns {
}

.logo-row-btns {
	float: right;
}

.input-normalize {
	padding: 10px;
	width: 100%;
}

.black-boder {
	border: 1px solid black;
}

.inputs-duo {
	clear: both;
}

.select2-like-normaliza {
	font-size: 16px;
	padding: 24px 10px;
}