/* ===========================

Author: MH Rafi
Website: http://themegret.com

============================== */

/* ==================== CSS Structure ====================
1. COMMON STYLES
	- Reset Styles
	- Common Classes
	- Pre Loader Styles

2. HTML ELEMENTS STYLE
	- Button Styles

3. HEADER SECTION
	- Main Navigation Styles
	- Home section

4. FEATURE SECTION
5. SERVICE SECTION
6. STEP SECTION
7. Video SECTION

8. SCREENSHOT SECTION
	- ScreenShots hover effect style

9. TESTIMONIAL SECTION
10. PRICING SECTION
	- Folding Effect

11. SUBSCIBE SECTION
12. DOWNLOAD SECTION
13. CONTACT SECTION
14. FOOTER SECTION
========================================================== */


/* --------------- Reset Styles --------------- */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #4d4d4d;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
}

a {
	/*color: #cccccc;*/
	color: #f9f9f9;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus, .btn:focus {
    text-decoration: none;
	outline: none;
	color: inherit;
}

.btn-second{
	background: #00adb6;
    display: inline-block;
    font-weight: 400;
    border-radius: 4px;
    border: 0px solid;
    margin: 10px;
    overflow: visible;
}

.form-control{
border-radius: 0px
}

input:focus, textarea:focus {
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	/*text-transform:capitalize;*/
	letter-spacing: 1px;
}

h1 {
    font-size: 72px;
    line-height: 82px;
}

h2 {
    font-size: 48px;
    line-height: 60px;
}

h3 {
    font-size: 32px;
    line-height: 45px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
	line-height: 25px;
}

img {
	max-width: 100%;
	height: auto;
}

ul, ol {
	padding-left: 0 !important;
}

li {
	list-style: none;
}

/* --------------- Common Classes --------------- */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.justify {
	text-align: justify;
}

.strong {
font-weight: 700;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

.floatnone {
	float:none;
}

.fixed {
	position:fixed;
}

.absolute {
	position:absolute;
}

.relative {
	position:relative;
}

.container {
	position:relative;
	z-index: 10;
}

.section-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*.animated {
	visibility: hidden;
}*/

.visible {
	visibility: visible;
}

.section-title {
	margin-bottom: 4%;
}

.section-title h3, .section-title h4 {
	color: #959494;
	border-top: 1px solid;
	border-bottom: 1px solid;
	display: inline-block;
	margin-top: 0;
	padding: 8px 0;

}

.section-overlay {
	/*background: rgba(0, 0, 0, .7) !important;*/
	background: #fff;
	z-index: 5;
}



/* --------------- Pre Loader Styles --------------- */
#preloader {
	position:fixed;
	top: 0;
	left: 0;
	background-color:#FFF;
	width: 100%;
	height: 100%;
	z-index: 10050;
}

.loading-circle {
	position: absolute;
	left: 49%;
	top: 49%;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	border-top: 2px solid #7F8C8D;
	border-right: 2px solid rgba(0,0,0, 0);
	border-bottom: 2px solid #7F8C8D;
	border-left: 2px solid rgba(0,0,0, 0);
}

/* =============== HTML element styles =============== */
/* --------------- Button Styles --------------- */
.button-line {
	background: transparent;
	display: inline-block;
	font-weight: 400;
	border-radius: 4px;
	border: 0px solid;
	margin: 10px;
	overflow: visible;
	color: #fff;
	background-color: #e13f4e

}

.button-blue {
	background-color: #2d5066
}

.no-text .icon {
	margin: 0;
}

.btn .icon {
	margin-left: 13px;
}

.button-white {
	border-color: #fff;
	color: #fff !important;
}

.button-white:hover {
	border-color: #fff;
	color: #fff;
}

.button-new:hover {
	font-weight: normal !important;
}



/* ================ Header Section ================ */

.header-section {
	position:relative;
}

/* --------------- Main Navigation Styles --------------- */
.sticky-bar-wrap {
	position:fixed;
	width: 100%;
	z-index: 1025;
}

.sticky-section {
	width: 100%;
	height: 56px;
	z-index: 1025;
	transition: all .3s ease-in;
	background: #fff;
}

.nav-bg {
	background: rgba(0,0,0, .6);
}

.site-name {
	color: #fff;
	font-family: 'Bangers', cursive;
	font-size: 24px;
	padding: 8px 15px;
	letter-spacing: 1px;
	position: absolute;
	top: -18px;
}

.site-name span {
	color: #fff;
	padding: 0 13px;
	font-weight: 400;
	height: 35px;
	width: 35px;
	display: inline-block;
	margin-right: 3px;
	font-size: 28px;
	line-height: 35px;
}
.site-name img {
	height: 65px;
	padding-top: 10px;
}

.nav-hold {
	left: 0;
	right: 0;
	top: 0;
	padding-top: 0px;
	z-index: 1025;

}

ul.nav > li > a {
	color:#666;
	font-size: 14px;
	font-weight: 400;
}

ul.nav > li > a:hover, ul.nav > li > a:focus {
	background: none !important;
}

li.current a,
ul.nav > li > a:hover {
color:#ccc !important;
}

.navbar-toggle .icon-bar {
	background: #666;
}


/* --------------- Home section --------------- */


.section-home {
	position:relative;
}

.home {
	min-height: 550px;
}

.well-come {
	position:relative;
	font-size: 50px;
	line-height: 62px;
	margin-top: 80px;
	margin-bottom: 48px;
	color:#fff !important;
	font-weight: 700;
	text-transform: none;
	/*text-transform:uppercase;*/
}

/*.well-come:after {
position: absolute;
content: "";
width: 220px;
height: 1px;
background-color: #FFF;
bottom: -16px;
left: calc(50% - 110px);
}*/

.intro-message {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 48px;
	color: #fff;
}

.intro-message span {
	font-weight: 700;
}


/* ================ Features Section ================ */
#section-feature {
	background-color: #fff;
}


.features {
	padding-top: 5%;
	/*padding-bottom: 190px;*/
	margin-left: 30px;
	margin-right: 30px
}

.baraja-container {
	width: 250px;
	height: 400px;
}

.baraja-container .single-feature {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.single-feature .feature-title {
	margin-top: 18px;
}

.single-feature .feature-text {
	line-height: 1.5;
	padding: 0 10px;
	margin-bottom: 16px;
}

.baraja-container .single-feature:hover {
	-webkit-box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.5);
	-o-box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.5);
	box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.5);
}

.single-feature .feature-image {

}


.features-control {
	margin: auto;
	margin-top: 55px;
	width: 253px;
	z-index: 1020;
}

.control-icon {
	position: absolute;
	top:0;
	padding: 5px 15px;
	font-size: 20px;
	height: 46px;
}

.feature-link a{
	color:#fff;
	font-weight: 400;
}
.feature-link a i {
	font-weight: 300;
}

.features-control #feature-prev {
	left: 0px;
}

.features-control #feature-expand {
	left: 60px;
}

.features-control #feature-close {
	left: 120px;
}

.features-control #feature-next {
	left: 180px;
}



/* ================ Services Section ================ */
#section-services {
	position:relative;
	background-color: #333333;
	color: #e5e5e5;
}

.container.services {
	padding-top: 120px;
	padding-bottom: 72px;
}


.service {
	padding-bottom: 48px;
}

.service-icon {
	float:left;
	width: 30%;
}

.service-desc {
	display:table;
}

.service-desc h4 {
	margin-top: 0;
}

/* ================ Step-1,step-2,step-3 Sections ================ */
.container.step {
	padding-top: 120px;
	padding-bottom: 120px;
}


.section-step {
	background-color:#eef1f2;
}

.step-even {
	background-color:#333;
	color:#e5e5e5;
}

.step-even .step-desc {
	float:right;
}

.step-even .step-img {
	float:right;
}

.step-video {
	overflow:hidden;
}

.step-no {
	width: 95px;
	height: 95px;
	border: 2px solid;
	border-radius: 50%;
}

.step-no .no-inner {
	font-size: 72px;
	line-height: 86px;
}

.step-details .step-title {
	margin-top: 0;
	margin-bottom: 24px;
}

.step-details .step-description {
	margin-bottom: 48px;
}

.step-details .sub-steps {
	margin-left: 30px;
}

.step-details .sub-steps li {
	margin-bottom: 24px;
}

.sub-steps .icon {
	float:left;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	line-height: 40px;
	padding: 0px 13px;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.sub-steps .sub-text {
	border: 1px solid;
	height: 40px;
	line-height: 40px;
	display: table;
	padding: 0 10px;
}


/* ================ Video Section ================ */
#section-video {
	position:relative;
}
.container.big-video {
	padding-top: 96px;
	padding-bottom: 120px;
}

.video-content iframe {
border: 0 !important;
}





/* ================ ScreenShots Section ================ */
#section-screenshots {
	background-color:#333333;
	color:#e5e5e5;
}

.container.screenshots {
	padding-top: 120px;
	padding-bottom: 96px;
}

#portfolio-loader {
	display:none;
	position: relative;
	min-height: 700px;
}


.porfolio-container {
	position:relative;
}

.screenshot {
	margin-bottom: 32px;
	padding: 4px;
	border: 1px solid #444;
	border-radius: 4px;
}

.photo-box{
	position:relative;
	overflow:hidden;
}

.photo-box img {
    width: 100%;
    -moz-transition: all 1.2s linear;
    -o-transition: all 1.2s linear;
    -webkit-transition: all 1.2s linear;
    transition: all 1.2s linear
}

.photo-overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in
}

.photo-overlay h4 {
	display:inline-block;
	color:#fff;
	font-size: 16px;
	font-weight: 700;
	padding: 4px;
	margin-top: 30px;
}

.photo-zoom:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: "";
    border-style: none solid solid none;
    border-width: 0 130px 130px 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    -moz-transform: rotate(-90deg) translatex(-40px) translatey(40px);
    -ms-transform: rotate(-90deg) translatex(-40px) translatey(40px);
    -o-transform: rotate(-90deg) translatex(-40px) translatey(40px);
    -webkit-transform: rotate(-90deg) translatex(-40px) translatey(40px);
    transform: rotate(-90deg) translatex(-40px) translatey(40px);
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in
}

.photo-zoom a {
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -moz-transform: translatex(40px) translatey(40px);
    -ms-transform: translatex(40px) translatey(40px);
    -o-transform: translatex(40px) translatey(40px);
    -webkit-transform: translatex(40px) translatey(40px);
    transform: translatex(40px) translatey(40px)
}

.photo-zoom a:hover {
	color:#ccc;
}


/* ------------- ScreenShots hover effect style ------------- */

.screenshot:hover .photo-overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

.screenshot:hover .photo-box img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.screenshot:hover .photo-zoom:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-transform: rotate(-90deg) translatex(0) translatey(0);
    -ms-transform: rotate(-90deg) translatex(0) translatey(0);
    -o-transform: rotate(-90deg) translatex(0) translatey(0);
    -webkit-transform: rotate(-90deg) translatex(0) translatey(0);
    transform: rotate(-90deg) translatex(0) translatey(0)
}

.screenshot:hover .photo-zoom a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-transform: translatex(0) translatey(0);
    -ms-transform: translatex(0) translatey(0);
    -o-transform: translatex(0) translatey(0);
    -webkit-transform: translatex(0) translatey(0);
    transform: translatex(0) translatey(0)
}


/* ------------- Single Project ------------- */
#portfolio-load {
	display: none;
	position:relative;
	left: 105%;
	min-height: 400px;
}

.backToProject {

}

.back-button {
	display:none;
	padding-top: 60px;
}

.project-details h5, .project-info h5 {
	display:inline-block;
	margin-top:0;
	font-weight: 600;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.project-details .details-list {}

.project-details .details-list li {
	color:#e5e5e5;
	margin-bottom: 4px;
}

.project-details .details-list li i {
	margin-right: 7px;
}

.project-details .details-list li .strong {
margin-right: 8px;
}


/* ================ Testimonials Section ================ */
#section-testimonials {
	color:#e5e5e5;
}

.testimonials-wrap {
	position:relative;
}

.testimonials {
	padding-top: 120px;
	padding-bottom: 120px;
}

.testimonials .comment {
	font-size: 18px;
	margin-bottom: 48px;
}


.testimonial .happy-client {
	display: table;
	border-bottom: 1px solid;
	max-width: 280px;
	font-weight: 400;
	margin: 0 auto 5px;
}

.testimonial .client-info {
	font-size: 14px;
}

#bx-pager {
	margin-top: 48px;
}

.client-photos .photo-hold {
	display:inline-block;
	width: 100px;
	height: 100px;
	padding: 10px;
	margin-right: 20px;
	border: 1px solid;
	border-radius: 4px;
	box-sizing: border-box;
}


.client-photos .photo-bg {
	background: #000;
	display: block;
}


.client-photos img {
	opacity: .4;
}



.client-photos .active img {
	opacity: 1;
}


/* ================ Pricing Section ================ */
#section-pricing {
	background: #f9f9f9;
	color:#666;
}

.container.pricing {
	padding-top: 120px;
	padding-bottom: 120px;
}

.pricing .section-title h3 {
	color:#666;
}

.single-pricing {
	position: relative;
	background: #FFFFFF;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

.pricing-head {
	overflow: hidden;
	padding: 24px 0;
}


.best-pricing .pricing-head {
	background: #333;
}

.best-pricing .price h3 {
	color:#e5e5e5;
}

.pricing-heading {
	margin-top: 0;
	margin-bottom: 0;
}

.single-pricing .price h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 38px;
}

.single-pricing .price .dollar {
	font-size: 20px;
	vertical-align: super;
	font-weight: normal;
}

.single-pricing .price .month {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 300;
	color:#959292;
}

.single-pricing .package-features {
	margin-bottom: 15px;
}

.single-pricing .package-features li:first-child {
	border-top: 1px solid #EEE;
}

.single-pricing .package-features li {
	margin: 0px;
	padding-bottom: 9px;
	padding-top: 9px;
	border-bottom: 1px solid #EEE;
	color: #666;
}

.single-pricing .package-features li span {
	margin-right: 8px;
}

.single-pricing .sign-up {
	padding-bottom: 15px;
}


/* ================ Subscribe Section ================ */
#section-subscribe {
	position:relative;
}

.container.subscribe {
	padding-top: 120px;
	padding-bottom: 120px;
}

.subscription-success, .subscription-failed {
	display:none;
	color: #e5e5e5;
}

.subscribe h2 {
	margin-bottom: 30px;
}

#subscription-form {
	overflow: hidden;
	width: 100%;
}

#subscription-form  .input-email {
	display: block;
	height: 55px;
	padding-left: 20px;
	width: 480px;
	color: #F4F4F4;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #fff;
	margin: auto;
	margin-bottom: 14px;
}


/* ================ Download Section ================ */
#section-download {
	background-color: #333;
}

.container.download {
	padding-top: 120px;
	padding-bottom: 120px;
}

.download h2 {
	margin-bottom: 30px;
}

.download-buttons {
	clear:both;
}

.download-buttons a {
	margin-top: 0;
}



/* ================ Contact Section ================ */
#section-contact {
	position:relative;
}

.contact {
	padding-top: 120px;
	padding-bottom: 120px;
}

.contact h2 {
	margin-bottom: 30px;
}

.confirmation {
	display:none;
	clear: both;
	color: #e5e5e5;
}

.confirmation p span {
	margin-right: 8px;
}

.contact-form {
	/*color:#f9f9f9;*/
	color: #ccc
}

.contact-form .input-field {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 50px;
}

.textarea-field, .input-field {
	border: 1px solid #111;
}

.contact-form .form-item {
	width: 100%;
	padding: 5px 15px;
	/*border-color:#ffffff;*/
	border-color:#ccc;
	border-radius: 2px;
	background: transparent;
	box-shadow: none;
	height: 53px;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.contact-form .form-item::-webkit-input-placeholder {
	color: #333;
}

.contact-form .form-item:-moz-placeholder {
	color: #333;
}

.contact-form .form-item::-moz-placeholder {
	color: #333;
}

.contact-form .form-item:-ms-input-placeholder {
	color: #333;
}

.contact-form .subform {
	margin-top: 20px;
}

.contact-form .form-item:hover, .contact-form .form-item:focus {
	border-color:#ccc;
	box-shadow: none;
}


.attend-form {
	/*color:#f9f9f9;*/
	color: #666
}

.attend-form .input-field {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 50px;
}

.attend-form .form-item {
	width: 100%;
	padding: 5px 15px;
	/*border-color:#ffffff;*/
	border-color:#ccc;
	border-radius: 0px;
	background: transparent;
	box-shadow: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.attend-form .form-item::-webkit-input-placeholder {
	color: #333;
}

.attend-form .form-item::-moz-placeholder {
	color: #333;
}

.attend-form .form-item::-moz-placeholder {
	color: #333;
}

.contact-form .form-item:-ms-input-placeholder {
	color: #333;
}

.contact-form .subform {
	margin-top: 20px;
}

.contact-form .form-item:hover, .contact-form .form-item:focus {
	border-color:#ccc;
	box-shadow: none;
}

/* ============ Description Section =============== */
.desc-section{
	background-color: #dde2e4;
	font-family: 'Asap', sans-serif;
}
.desc{
	padding-top: 80px;
}
.desc-title{
	font-size: 36.2px;
	line-height: 1;
	text-align: center;
	color: #4d4d4d;
}
.desc-p{
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	color: #4d4d4d;
	padding-top: 28px;
}
.box-info{
	display: inline-block;
	vertical-align: top;
}
.box-info-number{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #4d4d4d;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
}

.box-info-number-center{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #4d4d4d;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.box-info-text-sides{
	width: 132px;
	font-size: 19px;
	text-align: left;
	color: #4d4d4d;
	padding-top: 7px;
}
.box-info-text{
	padding-top: 7px;
	color: #4d4d4d;
	font-size: 19px;
	text-align: center;
	color: #4d4d4d;
}
.row-numbers{
	min-height: 130px;
	padding-top: 43px;
	padding-bottom: 43px;
}
/* ============ Offer Section =============== */
.offer-section{
	font-family: 'Asap', sans-serif;
	background-color: #ffffff;
}
.with-border{
	border-right: 1px solid #cccccc4d;
}
.offer-title-p{
	padding-bottom: 62px;
	padding-top: 62px;
}
.offer-title{
	width: 261px;
	height: 27px;
	font-size: 23px;
	line-height: 2.57;
	letter-spacing: 1.2px;
	text-align: center;
	color: #4d4d4d;
}
.offer-types{
	text-align: initial;
}

.offer-sub-title{
  font-size: 16.5px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #4d4d4d;
  margin:0px;
  
}
.offer-sub-title-legend{
	font-size: 16.5px;
	font-weight: bold;
	padding-bottom: 34px;

}
.offer-list{
	
}
.offer-list-item{
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	color: #4d4d4d;
	padding-bottom: 25px;
}

.offer-last-step-row{
	padding: 0px;
	margin: 0px;
	text-align: left;
}
.offer-last-step-col{
	padding: 0px;
	padding-top: 21px;
	padding-bottom: 49px;
}
/* ================ Links Section ================ */
.links-section{
	background-color: #dde2e4;
	font-family: 'Asap', sans-serif;
	text-align: initial;
}
.links-row{
	padding-top: 58px;
}
.block-links-title{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #4d4d4d;
	padding-bottom: 30px;
	
}
.block-links-item > a{
	font-size: 14px;
	line-height: 1.71;
	text-align: left;
	color: #1daab5;
}
/* ================ Footer Section ================ */
#section-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #1daab5;
	color:#e5e5e5;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 600;
}

.footer-title {
	display: inline-block;
	margin-bottom: 40px;
	text-transform: none;
}

.social-icons ul li {
	display: inline-block;
}

.social-icons ul li a{
	margin-left: 10px;
	font-size: 28px;
	color: #9D9D9D;
	font-weight: normal;
	text-shadow: none;

	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.copyright {
	padding-top: 15px;
}


/*NEW */

.section{
	padding: 40px;
	text-align: center;
	color: #fff;
	height: 350px;
}

@media (min-width: 997px) and (max-width: 1200px){
	.section {
		height: 400px;
	}
}

@media (min-width: 992px) and (max-width: 996px){
	.section {
		height: 440px;
	}
}
.box_red{
	background: #e13f4e
}

.blue{
	background: #1fa6b0
}

.yellow{
	background: #f0c647
}

.blue-dark{
	background: #2d5066
}

.box{
	padding-top: 40px
}

.speaker-1{
	background: url("../images/ponente1.png") no-repeat;
	height: 350px;
	background-size: cover;
}
.speaker-2{
	background: url("../images/ponente2.png") no-repeat;
	height: 350px;
	background-size: cover;
}
.speaker-3{
	background: url("../images/ponente3.png") no-repeat;
	height: 350px;
	background-size: cover;
}

.speaker-1-box{
	height:180px;
	width:60px;
	background-color:#e13f4e;
	position:absolute;
	top:20%;
	left: -30px;


}
.speaker-2-box{
	height:180px;
	width:60px;
	background-color:#fdd24e;
	position:absolute;
	top:20%;
	left: 93%;
}
.speaker-3-box{
	height:180px;
	width:60px;
	background-color:#21a2ac;
	position:absolute;
	top:20%;
	left: -30px;
}

.speaker-content{
	/*padding-top: 100px*/
	padding-top: 8%
}

.parallax {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    overflow: hidden;
}

.modal-attend{
	padding-bottom:50px;
	padding-right:50px;
	padding-left:50px;
	padding-top:10px;
	/*max-height: 550px;*/
	overflow: auto
}

.logo1{
	height: 80px
}
.logo3{
	height: 100px
}

/* CUSTOMS */

.custom-alert{
	margin: 0 !important;
    font-weight: 400 !important;
}

.mlr0 {
	margin-left: 0 !important;
	margin-right: 0 !important
}

button.list-group-item {
    width: 100%;
    text-align: left;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.box-menu{
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
}
.box-head{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.box-middle{
	border: 1px solid #ccc;
}

.box-footer{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.icon-circle{
	padding-left: 7px;
	padding-right: 7px;
	border: 2px solid #ccc;
	border-radius: 50%;
	padding-top: 3.5px;
	padding-bottom: 3.5px;

}

.social-media{
	position:absolute;
	right: 100px;
}

.search{
	width: 200px;
	padding-top: 8px;
}

.dark{
	font-weight: 600;
}

.align-left{
	text-align: left
}

.uppercase{
	text-transform: uppercase;
}

.center{
	text-align:center
}

.menu-vertical{
	position: absolute;
	text-shadow: 0px 0px 12px #444;
	/*top:0;*/

}

.line{
	height:30px;
	width:2px;
	background:#fff;
	position:absolute;
	left: 4px;
	z-index: -999;
}
.line-1{
	top:22px
}
.line-2{
	top:62px
}
.line-3{
	top:102px
}
.line-4{
	top:142px
}

.period{
  background: #e13f4e;
  border-color: #e13f4e;
  height: 12px;
  width: 12px;
  box-shadow: 0px 0px 0px #444;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
	height: 6px;
	width:6px;
	position:absolute;
}

.period-1{
	left:49%
}

.period-2{
	left:50%
}

.period-3{
	left:51%
}

.point-ul {
    list-style: none;
    line-height: 1.5em;
    font-size: 18px
}
.point-ul li, .large-li{
	padding-top: 10px;
	padding-bottom: 10px;
}

.point-ul li:before {
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: #e13f4e;
    float: left;
    margin: .25em .25em 0;
    border-radius: 50%;
		/*margin-bottom: 50px;*/
		margin-right: 15px
}
/*.large-li:before {
	margin-bottom: 70px !important;
}*/

#calendar{
	color:#fff;
}

.city{
	color:#666 !important;
}

.city:hover{
	color:#e13f4e !important;
	font-weight: 500;
}

.tab-menu{
	color:#666;
	font-weight:500;
	font-size: 14px
}
.tab-menu p{
	margin-bottom: 0px;
}

.active-menu{
	//padding-left: 10px;
	border-bottom: 2px solid #1daab5
}
.active-menu a{
	color: #1daab5;
}

.tab-menu:hover{
	color: #1daab5;
}

.menu-box:hover{
	border-bottom: 2px solid #1daab5
}
.sub-menu{
	padding-top: 10px
}
.sub-menu a{
	background: #f4f4f4;
	width: 100%;
	border-radius: 0px;
	text-align: center;
	border:none;
}
.sub-menu button{
	background: #f4f4f4;
	width: 100%;
	border-radius: 0px;
	text-align: center;
	border:none;
	font-size: 12px
}

.sub-menu-box{
	padding-right: 2px;
	padding-left: 2px;
}

#dropdownMenu1{
	border:none
}
#dropdownMenu1:hover, #dropdownMenu1:focus, #dropdownMenu1:active{
	background: none;
	color:#ccc
}
.open > .dropdown-toggle.btn-default{
	background: none
}
@media (max-width: 768px) {
	.modal-attend{
		max-height: none;
	}
}

.form-date{
	height: 50px
}
.box-date{
	margin-top: 15px;
}

.icon-date{
	background: none;
    border-radius: 0px;
}
.box-logo{
	margin: 10px;
	padding: 10px ;
	border: 1px solid #ccc;
}

.popover{
  max-width: 500px
}

.m0{
  margin: 0px
}
.p0{
  padding: 0px
}

.ml0{
	margin-left: 0px;
}

.popover-content {
    margin-left:0px;
    margin-right:0px;
    margin-top:4px;
    margin-bottom:4px;
		padding: 0px
}
.popover-content p:first {
    margin:0px;
		padding: 0px
}
.filter-menu{
	top: 30px;
	padding: 10px;
	background: #f7f7f7;
	border: none;
	border-radius: 0px;
	width: 189px;
	margin-left: 2px;
}
.filter-search{
	left: -195px;
	background: #f7f7f7;
}
.filter-search li{
	padding-left: 40px
}

.filter-menu a, .filter-search a{
	background: #f7f7f7;
}
.filter-menu input{
	margin-left: 5px;
	width: 100%
}
.filter-search input{
	margin-left: 7px;
}
.filter-menu hr, .filter-search hr{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}

.total-company{
	font-size: 18px
}

.table-company{
	font-size: 14px
}
.table-company p{
	margin-bottom: 0px
}
.pointer{
	cursor: pointer;
}

.message {
	position: absolute;
    z-index: 9999;
    width: 100%;
		top: 55px;
    position: fixed;
}

.message span{
	position: absolute;
	right: 28px;
	font-weight: bold;
	font-size: 13px;
	margin-top: -1px;
	cursor:pointer;
}

.grey-circled-icon {
	background-color: #ededed;
	border-radius: 50%;
	color: black;
	padding: 70px;
	font-size: 30px;
}

.list-text {
	margin: 0;
	color: #333;
	font-size: 15px;
	padding: 1% 6%;
}

.header-propuesta{
	padding-top: 50px;
	padding-bottom: 30px;
}

.propuesta-section{
	padding-bottom: 50px;
}
.propuesta-section p{
	 padding-top: 40px;
}

.logo-propuesta{
	padding: 60px;
	width: 180px;
	height: 180px;
	margin-left: 80px;
}
@media (min-width: 768px){
	.modal-dialog {
	    width: 1200px;
	}
}

.modal-detail{
	padding-left: 0px;
  padding-top: 0px;
	border-radius: 0px;
	padding-bottom: 0px;
}

.close-style{
	font-size: 42px;
	font-weight: 100;
}

.grey{
	color: #bbb
}

.three-dots-container {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: 0px;
}


.dot {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #e13f4e;
    float: left;
    margin-right: 6px;
}

.modal .radio-inline{
	color: #039ede;
    text-decoration: underline;
}

.modal .control-label{
    font-weight: normal;
}

.modal .input-field{
    border-radius: 0px
}

.modal .form-group{
    margin-bottom: 0px
}

.modal h3{
    margin-top: 0px
}

.modal .modal-footer{
    border-top: 0px
}


.modal-content{
    border-radius: 0px
}

.ui-autocomplete {
    border-radius: 0px;
	padding:0px;
	margin: 0px
}

.ui-menu .ui-menu-item{
	background: #f9f9f9;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	height:55px;
	border:none;
}

.li-ui:hover{
	background: #eaeaea;
}


.complete-1{
	padding-top: 10px;
	height: 28px;
}

.complete-1 a{
	font-weight: bold;
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 20px;  
	height: 0px;
	color: #666;
}

.complete-2 a{  
	font-size: 12px;
	color:#ccc;
	height: 0px;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 20px; 
}

.italic{
	font-style: italic;
}

.progress{
	height: 10px;
	background-color: #ddd;

}

.ul-founderlist{
	list-style: none;
	color:#999;
}

.ul-founderlist li {
  padding-left: 1em; 
  text-indent: -.7em;
}

.ul-founderlist li::before {
  content: "• ";
  color: red; /* or whatever color you prefer */
  font-size: 250%; /* or whatever */
  vertical-align:middle;
}

.ui-widget.ui-widget-content{
	z-index: 9999  !important;
	width: 590px !important;
}

.tokenfield{
	height: 50px
}
.pt20{
	padding-top: 20px !important;
}

label.error {
	color: #a94442;
	font-weight: normal;
	font-size: 12px;
}

input.error, select.error, textarea.error {
	border: 1px solid #a94442 !important;
}












/*pasar a un archivo de css de startup*/

.submenu li {
	width: 33.33%;
}
.submenu li.current a, ul.nav > li > a:hover{
	color: #1daab5 !important;
}
.submenu > li > a:hover{
	border-color: transparent;
}
.submenu > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #1daab5;
	border: 0px solid #ccc;
}
.submenu > li.active{
	border-bottom: 2px solid #1daab5;
	padding-bottom: 2px;

}
.tab-content{
	padding-top: 30px
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
	position: absolute;
    margin-top: 0px;
    text-align: center;
	padding-top: 25px !important;
    padding-bottom: 25px;
    height: 51px !important;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    padding-bottom: 20px;
}

.tab-pane .media-text{
	color: #999
}
.table{
	padding: 20px;
	margin-top: 20px
}
.table thead{
	background: #f5f5f5
}
.table th, .table td{
    padding: 15px !important;
 }

 .info-level-invest-text {
    color: #4d4d4d;
    display: inline-block;
    font-family: Asap;
    font-size: 13px;
    line-height: 1.29;
}

.btn-primary-color{
	background-color: #e13f4e;
	color: #fff
}