	<div id="banner" class="header-section parallax" style="max-height: 220px;>
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container" style="padding-top:100px; padding-bottom:100px;">

  			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  <h3 style="font-size: 30px;">Registro/Login</h3>
					</div>

  		</div>
  	</div>
  	</div>
  	</div>