{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width: 900px;">

    <!-- Modal content-->
    <div class="modal-content modal-attend">
      <!--<div class="modal-header">-->
      <div class="row">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <h3 class="center">CREAR EVENTO</h3>


        <!--<h4 class="modal-title"></h4>-->
      <!--</div>-->
        <form class="attend-form support-form form-horizontal" method="POST" > {% csrf_token %}
          <div class="form-group" style="margin-bottom: 10px;">
           <label for="" class="col-sm-3 control-label">Tipo de reunion</label>
           <div class="col-sm-9">
             {% for category in categories%}
               <label class="radio-inline"><input type="checkbox" name="category" class="checkbox-radio" value="{{category.pk}}">  {{category}}</label>
            {% endfor %}
           </div>
          </div>
          <!--<select name="category" class="form-control" style="height: 50px;">
                <option value="">Categoria</option>
                {% for category in categories%}
                  <option value="{{category.pk}}">{{category}}</option>
                {% endfor %}
          </select>-->
      <div class="form-group">
        <label for="" class="col-sm-3 control-label pt20">Nombre sección</label>
        <div class="col-sm-9">
          <input id="name_section" class="input-field form-item field-name placeholder" type="text" required="required" name="name_section" placeholder="">
        </div>
      </div>
      <!--<div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <select class="form-control" id ="countries_select" name="country" style="height: 50px;">
                <option value="">Pais</option>
                {% for country in countries%}
                  <option value="{{country.pk}}" >{{country}}</option>
                {% endfor %}
          </select>
        </div>
      </div>
      <div class="row" style="padding-top:10px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <select class="form-control" id="cities_selet" name="city" style="height: 50px;">
                <option value="" >Ciudad</option>
                {% for city in cities%}
                  <option value="{{city.pk}}">{{city}}</option>
                {% endfor %}
          </select>
        </div>
      </div>-->
      <div class="form-group" >
        <label for="" class="col-sm-3 control-label pt20">Locacion</label>
        <div class="col-sm-9">
          <input  type="text" name="countries" class="input-field form-item field-name placeholder" id="location_2" value="" placeholder="" style="">
          </div>
      </div>
    
          <div class="form-group box-date">
              <label for="" class="col-sm-3 control-label pt20">Fecha del evento</label>
              <div class="col-sm-9">
              <div class='input-group date' id=''>
                <input id="datepicker" style="border-right: 0px;"  class="form-control form-date form-item field-name placeholder" type="text" required="required" name="date" placeholder="dd/mm/yyyy">
                  <span class="input-group-addon icon-date icon-datepicker">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      <!--<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group box-date">
              <div class='input-group date' id=''>
                <input id="datepicker" style="border-right: 0px;"  class="form-control form-date form-item field-name placeholder" type="text" required="required" name="date" placeholder="Fecha de evento">
                 <span class="input-group-addon icon-date icon-datepicker">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
          </div>
        </div>
      </div>-->
      <div class="form-group">
        <label for="" class="col-sm-3 control-label pt20">Lugar</label>
        <div class="col-sm-9">
          <input id="place" class="input-field form-item field-name placeholder" type="text" required="required" name="place" placeholder="Ej. Coworking Space Uhub">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label pt20">Direccion</label>
        <div class="col-sm-9">
          <input id="address" class="input-field form-item field-name placeholder" type="text" required="required" name="address" placeholder="Progreso 101, Centro">
        </div>
      </div>
          <div class="form-group" style="margin-bottom: 10px;">
              <label for="" class="col-sm-3 control-label">Hora de inicio</label>
              <div class="col-sm-9">
              <div class='input-group date' id='start_time_group'>
                <input id="start_time" style="border-right: 0px;" class="form-control form-date form-item field-name placeholder" type="text" required="required" name="start_time" placeholder="00:00 pm">
                  <span class="input-group-addon icon-date">
                      <span class="fa fa-clock-o"></span>
                  </span>
              </div>
              </div>
          </div>
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="" class="col-sm-3 control-label">Hora de término</label>
            <div class="col-sm-9">
            <div class='input-group date' id='end_time_group'>
              <input id="end_time" style="border-right: 0px;" class="form-control form-date form-item field-name placeholder" type="text" required="required"  name="end_time" placeholder="00:00 pm">
                <span class="input-group-addon icon-date">
                    <span class="fa fa-clock-o"></span>
                </span>
            </div>
            </div>
          </div>
      <!--<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <input id="link" class="input-field form-item field-name placeholder" type="text" required="required" name="link" placeholder="Otros links al evento">
        </div>
      </div>-->
      <div class="form-group">
        <label for="" class="col-sm-3 control-label pt20">Descripción</label>
        <div class="col-sm-9">
          <textarea id="description" class="textarea-field form-item field-message placeholder" required="required"  rows="5" name="description" placeholder="Ej. Este jueves 7 de Marzo a las 19:00 tendremos nuestra reunión #EEAAFounder&Teams, Nuestro invitado especial, Calos Gonzalez CMO y co-fundador de Hutsuit nos hablará los cuatro factores claves para crear estrategia de Email Marketing.."></textarea>
      </div>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button type="submit" class="fancy-button button-line button-white large zoom subform">Enviar</button>
      </div>
      </form>
    </div>

  </div>
</div>

<script type="text/javascript">

</script>
