{% load staticfiles %}
<footer>
	<div id="section-footer" class="footer-wrap">
		<div class="footer center">
			<!--<div class="row" style="padding-bottom: 30px;">
					<div class="col-md-12 center">
						<img src="{% static 'images/logocorfo_2.png' %}" alt="" style="height: 100px;" />
					</div>
			</div>-->
      <div class="row social-media" style="">
        <i class="fa fa-facebook " aria-hidden="true" style="	padding-left: 7px;
        	padding-right: 7px;
        	border: 2px solid #ccc;
        	border-radius: 50%;
        	padding-top: 3.5px;
        	padding-bottom: 3.5px;"></i>
        <i class="fa fa-twitter " aria-hidden="true" style="	padding-left: 4.6px;
        	padding-right: 4.6px;
        	border: 2px solid #ccc;
        	border-radius: 50%;
        	padding-top: 3.5px;
        	padding-bottom: 3.5px;"></i>
        <i class="fa fa-linkedin " aria-hidden="true" style="	padding-left: 5.8px;
        	padding-right: 5.8px;
        	border: 2px solid #ccc;
        	border-radius: 50%;
        	padding-top: 3.5px;
        	padding-bottom: 3.5px;"></i>
      </div>
      <div class="row">
        <div class="col-md-12">
        <a href="#">Equipo</a> | <a href="#">Partners</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <span>Contacto</span> <a href="#">hello@founderlist.la</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <p>Copyright © 2010-2016 <b>Founderlist.</b> Made by <a href="www.teamussolutions.com"><b>Teamus</b></a></p>
        </div>
      </div>



		</div>
	</div>

</footer>
