{% load staticfiles %}
<!--=== Header section Starts ===-->
<div id="header" class="header-section" >
  <!-- sticky-bar Starts-->
  <div class="sticky-bar-wrap">
    <div class="sticky-section">
      <div id="topbar-hold" class="nav-hold container">
        <nav class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--=== Site Name ===-->
            <a class="site-name navbar-brand" href="/home"> <img src="{% static 'images/logo_founderlist.png' %}" alt="" /></a>
          </div>

          <!-- Main Navigation menu Starts -->
          <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/how">Cómo funciona</a></li>
              <li><a href="/eeaa/1">Comunidad #EEAA</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Contenido</a></li>

              <li class="search" style="">
                <div class="input-group">
                      <input type="text" class="form-control" placeholder="">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </span>
                    </div><!-- /input-group -->
              </li>
              {% if user.is_authenticated %}
                <li>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <i class="fa fa-user-circle" title="{{user.username}}" style="font-size: 35px;
                                                                                padding-left: 8px;"> </i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="/logout">Log out</a></li>
                    </ul>
                  </div>
                </i>
                </li>
              {% else %}
              <li><a href="/login" style="display: inline-block;">Login</a>|<a href="/eeaa/#create_event" style="display: inline-block;">Registro</a></li>
              {% endif %}
            </ul>
          </div>
          <!-- Main Navigation menu ends-->
        </nav>
      </div>
    </div>
  </div>
</div>
  <!-- sticky-bar Ends-->
  <!--=== Header section Ends ===-->
