<div class="row progress-footer">  
	<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
	</div>  
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center">   
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60"
           aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
         </div>
       </div>
       <span >{{progress}}% Completado</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">   
    </div>
</div>   