{% load staticfiles %}

<title>FounderList</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/linea-icon.css' %}" />
<link rel="stylesheet" href="{% static 'css/fancy-buttons.css' %}" />

<!--=== Google Fonts ===-->
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"> 
<link href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
<!--=== Other CSS files ===-->
<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery.vegas.css' %}" />
<link rel="stylesheet" href="{% static 'css/baraja.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />


<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}" />

<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />

<link rel="stylesheet" href="{% static 'css/bootstrap-timepicker.css' %}" />
<link href="{% static 'lib/typeahead/dist/css/bootstrap-tokenfield.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!--=== Main Stylesheets ===-->
<link rel="stylesheet" href="{% static 'css/style_home.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

<!--=== Color Scheme, three colors are available red.css, orange.css and gray.css ===-->
<link rel="stylesheet" id="scheme-source" href="{% static 'css/schemes/gray.css' %}" />
<link rel="stylesheet" id="scheme-source" href="{% static 'css/menu.css' %}" />
<link rel="stylesheet" id="scheme-source" href="{% static 'css/eeaa/home.css' %}" />
<link rel="stylesheet" id="scheme-source" href="{% static 'css/helpers.css' %}" />
<!--=== Internet explorer fix ===-->
<!-- [if lt IE 9]>
  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif] -->
  <!-- Se puede cambiar:
  -color de logo
  - fondo header
-->

