{% load staticfiles %}
<!--==== Js files ====-->
<!--==== Essential files ====-->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.baraja.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<!--==== MailChimp Widget plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!--==== Scroll and navigation plugins ====-->
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base/menu.js' %}"></script>


<!--<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-timepicker.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script type="text/javascript" src="{% static 'lib/typeahead/dist/bootstrap-tokenfield.js' %}" charset="UTF-8"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js" type="text/javascript"></script>

  <script type="text/javascript">
  	var countries;
  </script>
