{% load staticfiles %}
<div class='row '>
  <div class='container '>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <section id="is_for_me">
        <h3 class="how-top-title">¿FounderList es para mi?</h3>
        <p>
          FounderList está pensado para profesionales interesados en comenzar a invertir en emprendimientos de alto impacto, siguiendo a inversionistas con más experiencia.
        </p>
        <ul>
          <li>
            <span>
              a. Solicita unirte al Syndicate de un inversionista experimentado y co-invierte en con el y con otros profesionales 		destacados, en las inversiones que lidere.
            </span>
          </li>
          <li>
            <span>
              b. Quienes lideran un Syndicate buscan co-invertir con profesionales que trabajen en empresas destacadas y 			cuenten con conocimientos y redes que puedan agregar valor.
            </span>
          </li>
          <li>
            <span>
              c. Aminora el riesgo de tus inversiones al seguir a un Inversionista Líder experimentado y gracias al apoyo que los 		co-inversionistas puedan brindarle a la compañía invertida.
            </span>
          </li>
          <li>
            <span>
              d. Diversifica tus opciones co-invirtiendo montos más pequeñas en diversas compañías.
            </span>
          </li>
        </ul>
      </section>
      <section id="why_invert_follower">
        <h3>¿Por qué invertir a través de FounderList?</h3>
        <ul>
          <li>
            <span>
              <b>1. Accede a deals destacados de Latinoamérica</b>
              <p>
                Un deal es una oportunidad de inversión, una compañía que tienen su ronda de inversión activa. En FounderList 			podrás revisar cientos de compañías de diferentes países.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>2. Enriquece tu capital social co-invirtiendo</b>
              <p>
                	En FounderList podrás co-invertir con inversionistas ángeles experimentados, family offices, fondos de inversión y 		profesionales de importantes empresas.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>	3. Facilitamos los procesos legales, administrativos y contables de tu inversión</b>
              <p>
                Contamos con plantillas editables de los instrumentos de inversión, documentos legales y proveemos soporte legal y 		contable para que todo sea más simple.
              </p>
            </span>
          </li>
        </ul>
      </section >
      <section id="how_work_follower">
        <h3>Funcionamiento</h3>
        <ul>
          <li>
            <span>
              <b>1. Regístrate como inversionista y completa tu perfil</b>
              <p>
                Regístrate como inversionista y completa tus preferencias de inversión. Un perfil completo aumentará tus 				posibilidades de conectar con otros inversionistas destacados.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>	2. Acreditación y Asignación</b>
              <p>
                Luego de registrarte te contactaremos para conocernos y saber más de tu experiencia. Una vez acreditado, un 			miembro de FounderList te será asignado como contacto para apoyarte en tus inversiones, dudas e intereses.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>3. Elección: Únete a un Syndicate o co-invierte en deals independientes</b>
              <p>
                Al acreditarte podrás solicitar unirte a un Syndicate y seleccionar uno a uno en qué deals te gustaría co-invertir y en 		cuáles no. Puedes unirte a más de un Syndicate.
              </p>
              <p>
                Ventaja: Podrás buscar y co-invertir en deals de tu interés, con previo acuerdo del inversionista que lidera el deal y la 		compañía que está buscando inversión.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>	4. Cierre de deals</b>
              <p>
                Los inversionistas toman en promedio 3 a 10 días en tomar la decisión de co-invertir. Los procedimientos legales y 		bancarios suelen tomar 15 a 20 días una vez todos los inversionistas tengan sus montos comprometidos.
              </p>
              <p>
                Si un deal llamó tu atención y tienes intenciones de invertir, te recomendamos rápidamente solicitar más 				información o una sesión de preguntas/respuestas con el inversionistas líder, FounderList y/o la compañía. 				FounderList te puede ayudar a gestionar todo esto.
              </p>
            </span>
          </li>
        </ul>
      </section>
      <section id="requirements">
        <h3>Requisitos para invertir en FounderList</h3>
        <ul>
          <li>
            <span>
              1.  Debes estar registrado y acreditado.
            </span>
          </li>
          <li>
            <span>
              2. FounderList no tiene montos mínimos ni máximos de inversión. Estos montos son definidos caso a caso por el 			inversionista líder y la compañía que está siendo invertida
            </span>
          </li>
          <li>
            <span>
              3. El inversionista líder y la compañía que será invertida, son los encargados de revisar caso a caso los  antecedentes 		de potenciales inversionistas que deseen co-invertir.
            </span>
          </li>
        </ul>
	    </section>
      <section id="carry_follower">
        <h3>Carry, definición y funcionamiento</h3>
        <p style="font-style: italic;">
          “Carry es un porcentaje de las ganancias generadas cuando una inversión es rentable.”
        </p>
        <p>
          <b>Carry del Inversionista Líder:</b> Cuando una inversión se vuelve líquida, FounderList paga un porcentaje de las ganancias obtenidas por el Syndicate al inversionista líder. Un inversionista líder puede solicitar hasta un 20% de Carry por deal a los inversionistas de su Syndicate como condición para unirse a este o para co-invertir en un deal que este lidera
        </p>
      </section>
      <section id="price_follower">
        <h3>Costos y Ejemplos</h3>
        <p>
          <b>Fee 6% →</b> FounderList cobrará el 6% del total del monto invertido. Las Startups solo pagan a FounderList un 3% del Monto total, mientras que los inversionistas pagan un 3% sobre el monto total invertido.
        </p>
        <p>
          Ej. La Startup “Hutsuit” ha levantado USD $100K a través de FounderList. Hutsuit recibirá USD $97K, mientras que los Inversionistas depositarán USD $103K
        </p>
        <p>
          <b>Carry 5% →</b> Cuando una inversión se vuelve líquida, FounderList cobrará un 5% de las ganancias obtenidas por el Syndicate. Este es un cobro que se realiza a los inversionistas si es que obtienen ganancias, no a las compañías
        </p>
        <p>
          Ej. Eduardo, es un notable inversionista ángel, quien decide liderar un Syndicate para invertir en la compañía “Hutsuit.la”. La compañía está ofreciendo un 10% por USD $100K, por ende su Valorización es de USD $1M. Max como inversionista líder invertirá USD $20K y lo demás será reunido en Backers.
        </p>
        <p>
          Eduardo en su rol de Inversionista Líder, puede cobrarle a quienes quieran co-invertir en su Syndicate entre un 0 - 20% de Carry; en esta ocasión ha solicitado un 10%. Otros 8 inversionistas quieren co-invertir en este Syndicate, aceptando el Carry de Eduardo y FounderList, y cada uno invertirá USD 10K, completando así el total buscado por la compañía.
        </p>
        <p>
          Luego de 3 años, la Valorización de la compañía ha aumentado exponencialmente a $10M y se ha tomado la decisión de venderla a un competidor. Dado que los inversionistas tienen un 10% de participación, tuvieron un exit de 10x, por lo que sus ganancias a repartir serán de USD $1M:
        </p>
        <ul>
          <li>
            <span>
              a. Primero se devuelve a los inversionistas lo inicialmente invertido a prorrata. Quedan USD $900K a repartir
            </span>
          </li>
          <li>
            <span>
              b. Eduardo se queda con un 10% de los USD $900K y FounderList con un 5%
            </span>
          </li>
          <li>
            <span>
              c. Lo restante se divide a Prorrata entre todos los inversionistas del Syndicate
            </span>
          </li>
        </ul>
        <p>
          <b>Costos Administrativos →</b>  Gasto adicional por cada inversión realizada, que deberá ser pagado a prorrata por los inversionistas. Estos incluyen:
        </p>
        <ul>
          <li>
            <span>
              	Constitución del SPV (SpA o LLC). Esto cubre gastos notariales, inscripción de la sociedad y protocolización
            </span>
          </li>
          <li>
            <span>
              	Gestión de abogados para el proceso
            </span>
          </li>
          <li>
            <span>
              Contabilidad del SPV durante 1 año
            </span>
          </li>
          <li>
            <span>
              Gestión de la creación de una cuenta bancaria para el SPV
            </span>
          </li>
        </ul>
        <p>
          El costo promedio de esto es de un total de USD $1000 y FounderList no lucrará de este cobro
        </p>
        <h3>Costos Opcionales</h3>
        <p>
          <b>A. Plantillas editables de documentos legales →</b> FounderList proveerá, las plantillas editables de los instrumentos de inversión (Equity, Nota Convertible o SAFE) y documentos legales (Term Sheet, Pactos de Accionistas, Contratos de Vesting y Prestación de Servicios) para proceder con la inversión. Si Fundadores y/o Inversionistas quisieran realizarles modificaciones, los costos serán adicionales e independientes a FounderList y para proceder con estas modificaciones ofrecemos 2 caminos:
        </p>
        <ul>
          <li>
            <span>
              <b>Referencia de FounderList:</b> Founderlist junto con su sus entidades aliadas, solicitarán las modificaciones que desean 		realizarse a los documentos y las implementará. Este sería un costo adicional fijado por la entidad aliada, 				FounderList no obtendrá ganancias de esto
            </span>
          </li>
          <li>
            <span>
              <b>Independiente:</b> Pueden solicitar uno o más de estos Due Diligence a una empresa externa
            </span>
          </li>
        </ul>
        <p>
          <b>B. Due Diligence →</b> Inversionistas opcionalmente pueden solicitar un Due Diligence a la compañía y ofrecemos 2 caminos para hacerlo:
        </p>
        <ul>
          <li>
            <span>
              <b>Referencia de FounderList:</b> Founderlist gestionará la conexión con sus entidades aliadas para realizar un Due 			Diligence Legal y/o Financiero. Este sería un costo adicional fijado por la entidad aliada, FounderList no obtendrá 		ganancias de esto
            </span>
          </li>
          <li>
            <span>
	            <b>Independiente:</b> Pueden solicitar uno o más de estos Due Diligence a una empresa externa
            </span>
          </li>
        </ul>
      </section>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 relative">
      <div class="box-lateral-menu">
        <a class="option" attr-id="is_for_me">¿FounderList es para mi?</a>
        <hr>
        <a class="option" attr-id="why_invert_follower">¿Por qué invertir a través de FounderList?</a>
        <hr>
        <a class="option" attr-id="how_work_follower">Funcionamiento</a>
        <hr>
        <a class="option" attr-id="requirements">Requisitos para invertir en FounderList</a>
        <hr>
        <a class="option" attr-id="coinvertir_follower">Con quien puedes co-invertir en FounderList</a>
        <hr>
        <a class="option" attr-id="carry_follower">Carry, definición y funcionamiento</a>
        <hr>
        <a class="option" attr-id="price_follower">Costos y Ejemplos</a>
        <hr>
        <div class="center">
          <a href="/home/register_investor_s1/" class=" button-line btn button-line button-white large zoom subform button-new">
            Registro como inversionista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
