<div class='row '>
  <div class='container '>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <section id="what_is_founderlist">
        <h3 class="how-top-title">¿Qué es FounderList? </h3>
        <p>
        FounderList es una plataforma online que facilita la inversión en compañías latinoamericanas de etapa temprana.
        </p>
        <p>
          Podrás recibir inversión e inversionistas podrán liderar una ronda de inversión o co-invertir con inversionistas ángeles expertos, fondos de inversión e inversionistas privados en las compañías más destacadas de Latinoamérica.
        </p>
        <div class='row '>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h2>+70</h2>
            <p>
              CIUDADES
            </p>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h2>+15</h2>
            <p>
              PAISES
            </p>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h2>+18.000</h2>
            <p>
              EMPRENDEDORES
            </p>
          </div>
        </div>
      </section>
      <section id="what_is_syndicate">
        <h3>¿Qué es un Syndicate?</h3>
        <p>
          Es un Fondo de capital creado para invertir en una compañía específica. Inversionistas co-invierten en el fondo para de manera conjunta invertir en una compañía. Esta inversión es liderada por inversionistas ángeles o inversionistas privados.
        </p>
        <p>
          Los Syndicates son privados. Inversionistas pueden aplicar a un Syndicate y podrán decidir en qué oportunidades de inversión les gustaría participar.
        </p>
      </section>
      <section id="founderlist_to">
        <h3>A quien está dirigido FounderList</h3>
        <ul>
          <li><span>Emprendedores que buscan levantar capital de inversionistas ángeles e inversionistas privados</span></li>
          <li><span>Emprendedores interesados en participar de eventos de FounderList y otros beneficios </span></li>
          <li><span>Inversionistas con experiencia invirtiendo en compañías de alto potencial de crecimiento </span></li>
          <li><span>Inversionistas sin experiencia que desean aprender a invertir en este tipo de compañías</span></li>
        </ul>
      </section>
      <section id="benefits">
        <h3>Beneficios más allá de la inversión</h3>
        <ul>
          <li><span><b>Emprendedores:</b> Te invitaremos a Sesiones de Emprendedores Anónimos en tu ciudad y eventos con inversionistas. 		Te enviaremos contenido sobre aprendizajes obtenidos por destacados emprendedores entorno a temáticas clave para el desarrollo de una Startup</span></li>
          <li><span><b>Inversionistas:</b> Te invitaremos a eventos de inversionistas de FounderList y recibirás información preferencial de oportunidades de inversión destacadas.</span></li>
        </ul>
        <p>
          <br>
          <b>FounderList para Emprendedores:</b>
        </p>
        <p>
          <b>Emprendedores:</b> Te invitaremos a Sesiones de Emprendedores Anónimos en tu ciudad y eventos con inversionistas. 		Te enviaremos contenido sobre aprendizajes obtenidos por destacados emprendedores entorno a temáticas clave para el desarrollo de una Startup
        </p>
        <p>
          <b>Inversionistas:</b>
          Te invitaremos a eventos de inversionistas de FounderList y recibirás información preferencial de 			oportunidades de inversión destacadas.
        </p>
      </section>
      <button class=" button-line btn" style="margin: 30px 0; padding: 10px 20px;">
        Registra tu compañia
      </button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 relative">
      <div class="box-lateral-menu">
        <a class="option" attr-id ="what_is_founderlist">Que es FounderList</a>
        <hr>
        <a class="option" attr-id="what_is_syndicate">Que es un Syndicate</a>
        <hr>
        <a class="option" attr-id="">Funcionamiento</a>
        <hr>
        <a class="option" attr-id="founderlist_to">A quien va dirigido FounderList</a>
        <hr>
        <a class="option" attr-id="benefits">Beneficios más allá de la inversion</a>
        <hr>
        <div class="center">
          <a href="/home/register_investor_s1/" class=" button-line btn button-line button-white large zoom subform button-new">
            Registro como startup
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
