{% load staticfiles %}
<div class='row '>
  <div class='container '>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <section id="why_invest">
        <h3 class="how-top-title">¿Por qué invertir a través de FounderList?</h3>
        <ul>
          <li>
            <span>
              <b>	Accede a deals atractivos y gana Carry con tus inversiones</b>
              <p>
                Accede fácil y rápido a la información de compañías destacadas de Latinoamérica con rondas de inversión activas. 		Podrás definir un Carry del 0 - 20% a backers que deseen unirse a tu Syndicate y así podrás multiplicar tu retorno.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Enriquece tu capital social con un Syndicate</b>
              <p>
                FounderList te da acceso a cientos de Inversionistas ángeles experimentados, administradores de family offices, 			fondos de inversión y profesionales de importantes empresas, que pueden co-invertir en los Deals que selecciones
                y decidas invertir
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Facilitamos los procesos legales, administrativos y contables de tu inversión</b>
                Contamos con plantillas editables de los más modernos instrumentos de inversión (Equity, Nota Convertible o SAFE), 		documentos legales (Term Sheet, Pactos de Accionistas, Contratos y documentación para crear el SPV), y proveemos 		soporte legal y contable
            </span>
          </li>
        </ul>
      </section>
      <section id="testimonials">
        <h3>Testimonios de inversionistas</h3>
        <div class='row '>
          <div class='container '>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 box-img">
          <img src="" alt="" />
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p style="font-style: italic;">
              Buffalo created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd. ”
            </p>
          </div>
          </div>
        </div>
      </section>
      <section id="funcionamiento">
        <h3>Funcionamiento</h3>
        <ul>
          <li>
            <span>
              <b>Paso 1. Regístrate como inversionista</b>
              <p>
                Regístrate como inversionista y completa tus preferencias de inversión. Al hacerlo podrás ver la descripción de cada 		Startup en FounderList, recibirás correos de Compañías destacadas y oportunidades personalizadas, en caso que 		encajen con tus preferencias.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 2. Acreditación y Asignación</b>
              <p>
                Luego de registrarte te contactaremos para conocernos y saber más de tu experiencia. Una vez acreditado, un 			miembro de FounderList te será asignado como contacto para apoyarte en tus inversiones, dudas e intereses.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 3. Elección: Crea un Syndicate antes o después de encontrar un deal</b>
              <p>
                Al terminar el proceso de acreditación podrás solicitar la creación de un Syndicate e invitar a tus contactos a que se 		unan y/o invitar a inversionistas de FounderList a que lo hagan. Los que se unan podrán co-invertir contigo en los 		deals que líderes, a través de FounderList
              </p>
              <p>
                <b>Ventaja:</b> Aumenta tu Capital Social desde el inicio y aumenta la velocidad de tus inversiones al tener backers 			comprometidos previamente contigo (Los backers podrán decidir en qué inversiones te acompañarán y en cuáles no, 		por lo que no hay riesgo)
              </p>
              <p>
                Podrás revisar deals y negociar sus términos con la compañía. En aquellas rondas que tu lideres y comprometas un 		monto a invertir, se podrán primero buscar los backers y una vez todos estén comprometidos, se procederá a crear 		el Syndicate.
              </p>
              <p>
                	<b>Ventaja:</b> Solo procederás con la creación del Syndicate cuando desees invertir en una compañía, para luego buscar 		potenciales backers que te acompañen.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 4. Cierre de la negociación</b>
              <p>
                Los inversionistas toman en promedio 3 a 10 días en tomar la decisión de co-invertir. Los procedimientos legales y 		bancarios suelen tomar 15 a 20 días una vez todos los inversionistas tengan sus montos comprometidos.
              </p>
              <p>
                Una estrategia exitosa para reunir potenciales inversionistas y aumentar la probabilidad de co-inversión, es tener 		una videollamada o reunión de preguntas/respuestas entre FounderList, inversionistas y la compañía. FounderList te 		puede ayudar a gestionar esto.
              </p>
            </span>
          </li>
        </ul>
      </section>
      <section id="deals">
        <h3>Seleccionando deals para tu Syndicate</h3>
        <p>
          Los inversionistas de FounderList buscan invertir en deals atractivos y a los que puedan agregarles valor. Estos son los criterios que evalúan al seleccionar y que puedes conversar con el miembro de FounderList que se te haya asignado para apoyarte:
        </p>
        <ul>
          <li>
            <span>
              <b>	Dominio de expertise </b>
              <p>
                Tienen conocimientos que pueden potenciar el negocio
              </p>
              <b>Industria de expertise</b>
              <p>
                Tienen conocimientos del funcionamiento de la industria
              </p>
              <b>Redes de contacto</b>
              <p>
                Cuentan con contactos adecuados para potenciar el negocio
              </p>
              <b>Tesis de Inversión</b>
              <p>
                Tipo de negocio, monto de dinero, valorización, etc. se ajustan a su tesis
              </p>
              <b>Potenciales co-inversionistas</b>
              <p>
                Cuenta con potenciales co-inversionistas conocidos para este deal
              </p>
            </span>
          </li>
        </ul>
      </section>
      <section id="coinvertir">
        <h3>Con quien puedes co-invertir en FounderList</h3>
        <p>
          En FounderList podrás invitar a co-invertir o recibir solicitudes para unirse a tu Syndicate de:
        </p>
        <ul>
          <li>
            <span>
              Inversionistas registrados en FounderList, Inversionistas ángeles, fondos de inversión, family offices y profesionales 		de destacadas empresas.
            </span>
          </li>
          <li>
            <span>
              Contactos personales con o sin experiencia en inversión en Startups. Founderlist te apoyará en caso de que no 			cuenten con experiencia en este tipo de inversiones.
            </span>
          </li>
        </ul>
        <p>
          Estadísticamente hemos comprobado que los mejores co-inversionistas se sienten atraídos por el tipo de deals en los que has invertido, por un plan continuo de inversiones y buenas referencias de tus actuales co-inversionistas. Todo esto lo podrán encontrar en tu perfil.
        </p>
      </section>
      <section id="carry_invest">
        <h3>Carry, definición y funcionamiento</h3>
        <p style="font-style: italic;">
          “Carry es un porcentaje de las ganancias generadas cuando una inversión es rentable.”
        </p>
        <p>
          <b>Carry del Inversionista Líder:</b> Cuando una inversión se vuelve líquida, FounderList paga un porcentaje de las ganancias obtenidas por el Syndicate al inversionista líder. Un inversionista líder puede solicitar hasta un 20% de Carry por deal a los inversionistas de su Syndicate como condición para unirse a este o para co-invertir en un deal que este lidera
        </p>
      </section>
      <section id="price_invest">
        <h3>Costos y Ejemplos</h3>
        <p>
          Fee 6% → FounderList cobrará el 6% del total del monto invertido. Las Startups solo pagan a FounderList un 3% del Monto total, mientras que los inversionistas pagan un 3% sobre el monto total invertido.
        </p>
        <p>
          Ej. La Startup “Hutsuit” ha levantado USD $100K a través de FounderList. Hutsuit recibirá USD $97K, mientras que los Inversionistas depositarán USD $103K
        </p>
        <p>
          Carry 5% → Cuando una inversión se vuelve líquida, FounderList cobrará un 5% de las ganancias obtenidas por el Syndicate. Este es un cobro que se realiza a los inversionistas si es que obtienen ganancias, no a las compañías
        </p>
        <p>
          Ej. Eduardo, es un notable inversionista ángel, quien decide liderar un Syndicate para invertir en la compañía “Hutsuit.la”. La compañía está ofreciendo un 10% por USD $100K, por ende su Valorización es de USD $1M. Max como inversionista líder invertirá USD $20K y lo demás será reunido en Backers.
        </p>
        <p>
          Eduardo en su rol de Inversionista Líder, puede cobrarle a quienes quieran co-invertir en su Syndicate entre un 0 - 20% de Carry; en esta ocasión ha solicitado un 10%. Otros 8 inversionistas quieren co-invertir en este Syndicate, aceptando el Carry de Eduardo y FounderList, y cada uno invertirá USD 10K, completando así el total buscado por la compañía.
        </p>
        <p>
          Luego de 3 años, la Valorización de la compañía ha aumentado exponencialmente a $10M y se ha tomado la decisión de venderla a un competidor. Dado que los inversionistas tienen un 10% de participación, tuvieron un exit de 10x, por lo que sus ganancias a repartir serán de USD $1M:
        </p>
        <ul>
          <li>
            <span>
              a. Primero se devuelve a los inversionistas lo inicialmente invertido a prorrata. Quedan USD $900K a repartir
            </span>
          </li>
          <li>
            <span>
              b. Eduardo se queda con un 10% de los USD $900K y FounderList con un 5%
            </span>
          </li>
          <li>
            <span>
              c. Lo restante se divide a Prorrata entre todos los inversionistas del Syndicate
            </span>
          </li>
        </ul>
        <p>
          <b>Costos Administrativos → </b> Gasto adicional por cada inversión realizada, que deberá ser pagado a prorrata por los inversionistas. Estos incluyen:
        </p>
        <ul>
          <li>
            <span>
              Constitución del SPV (SpA o LLC). Esto cubre gastos notariales, inscripción de la sociedad y protocolización
            </span>
          </li>
          <li>
            <span>
              Gestión de abogados para el proceso
            </span>
          </li>
          <li>
            <span>
              Contabilidad del SPV durante 1 año
            </span>
          </li>
          <li>
            <span>
              Gestión de la creación de una cuenta bancaria para el SPV
            </span>
          </li>
        </ul>
        <h3>Costos Opcionales</h3>
        <p>
          <b>A. Plantillas editables de documentos legales → </b>FounderList proveerá, las plantillas editables de los instrumentos de inversión (Equity, Nota Convertible o SAFE) y documentos legales (Term Sheet, Pactos de Accionistas, Contratos de Vesting y Prestación de Servicios) para proceder con la inversión. Si Fundadores y/o Inversionistas quisieran realizarles modificaciones, los costos serán adicionales e independientes a FounderList y para proceder con estas modificaciones ofrecemos 2 caminos:
        </p>
        <ul>
          <li>
            <span>
              <p>
                <b>Referencia de FounderList:</b> Founderlist junto con su sus entidades aliadas, solicitarán las modificaciones que desean 		realizarse a los documentos y las implementará. Este sería un costo adicional fijado por la entidad aliada, 				FounderList no obtendrá ganancias de esto
              </p>
            </span>
          </li>
          <li>
            <span>
              <p>
                <b>Independiente:</b> Pueden solicitar uno o más de estos Due Diligence a una empresa externa
              </p>
            </span>
          </li>
        </ul>
        <p>
          <b>B. Due Diligence →</b> Inversionistas opcionalmente pueden solicitar un Due Diligence a la compañía y ofrecemos 2 caminos para hacerlo:
        </p>
        <ul>
          <li>
            <span>
              <p>
                <b>Referencia de FounderList:</b> Founderlist gestionará la conexión con sus entidades aliadas para realizar un Due 			Diligence Legal y/o Financiero. Este sería un costo adicional fijado por la entidad aliada, FounderList no obtendrá 		ganancias de esto
              </p>
            </span>
          </li>
          <li>
            <span>
              <p>
                <b>Independiente:</b> Pueden solicitar uno o más de estos Due Diligence a una empresa externa
              </p>
            </span>
          </li>
        </ul>
      </section>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 relative">
      <div class="box-lateral-menu">
        <a class="option" attr-id ="why_invest">¿Por qué invertir a través de FounderList? </a>
        <hr>
        <a class="option" attr-id="testimonials">Testimonios</a>
        <hr>
        <a class="option" attr-id="funcionamiento">Funcionamiento</a>
        <hr>
        <a class="option" attr-id="deals">Seleccionando deals para tu Syndicate</a>
        <hr>
        <a class="option" attr-id="coinvertir">Con quien puedes co-invertir en FounderList</a>
        <hr>
        <a class="option" attr-id="carry_invest">Carry, definición y funcionamiento</a>
        <hr>
        <a class="option" attr-id="price_invest">Costos y Ejemplos</a>
        <hr>
        <div class="center">
          <a href="/home/register_investor_s1/" class=" button-line btn button-line button-white large zoom subform button-new">
            Registro como inversionista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
