{% load staticfiles %}
<div class='row '>
  <div class='container'>
    <div class="center">
      <h2 class="team-sub-title" style="font-size: 24px;">PREGUNTAS FRECUENTES</h2>
      <div class="relative">
          <div class="three-dots-container">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
          </div>
      </div>
    </div>
    <div class="sub-menu-invest">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h3>Startups e inversionistas</h3>
        <ul>
          <li><a attr-id="q1">¿Qué tipo de compañías se pueden registrar?</a></li>
          <li><a attr-id="q2">¿Vale la pena registrarse en founderlist si no estoy
          buscando inversión?</a></li>
          <li><a attr-id="q3">¿Cuál es el procedimiento para conectar con
          un inversionista?</a></li>
          <li><a attr-id="q4">¿Cómo puedo iniciar una ronda de inversión?</a></li>
          <li><a attr-id="q5">¿Cómo puedo prevenir que otros roben mi idea?</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h3>Inversionistas lideres</h3>
        <ul>
          <li><a>¿Cuáles son los requisitos para crear un Syndicate?</a></li>
          <li><a>¿Cuáles son los pasos para crear un Syndicate?</a></li>
          <li><a>¿Puedo invitar a inversionistas que no están
          en FounderList a ser parte del Syndicate?</a></li>
          <li><a>¿Puedo liderar más de un Syndicate?</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h3>Inversionistas</h3>
        <ul>
          <li><a>¿Cuáles son los requisitos para crear un Syndicate?</a></li>
          <li><a>¿Cuáles son los pasos para crear un Syndicate?</a></li>
          <li><a>¿Puedo invitar a inversionistas que no están en FounderList
          a ser parte del Syndicate?</a></li>
          <li><a>¿Puedo liderar más de un Syndicate?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row '>
  <div class='container '>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <section id="startups_entrepreneur">
        <h3 id="q1">¿Qué tipo de compañías se pueden registrar?</h3>
        <p>
          Founderlist es una plataforma abierta para Startups (compañías de alto potencial de crecimiento con un modelo generalmente escalable) y compañías tradicionales. Cabe mencionar que gran parte de los inversionistas de FounderList, al menos hasta la fecha, buscan modelos de negocio escalables y que tengan algún componente tecnológico, sin embargo, también hay un porcentaje de ellos que buscan invertir en negocios tradicionales.
        </p>
        <h3 id="q2">¿Vale la pena registrarse en founderlist si no estoy buscando inversión?</h3>
        <p>
          FounderList es más que procesos de inversión. Al registrarte podrás recibir periódicamente contenido de temáticas clave para el desarrollo de tu compañía, invitaciones a nuestras Sesiones de Emprendedores Anónimos #EEAA en tu ciudad y las transmisiones en vivo de Sesiones en otros países, además de invitaciones a eventos de emprendedores e inversionistas. También podrás ofrecer tus servicios a otros emprendedores y buscar algunos que necesites y podrás conectar con emprendedores e inversionistas de distintas ciudades.
        </p>
        <h3 id="q3">¿Cuál es el procedimiento para conectar con un inversionista?</h3>
        <p>
          El primer paso que te sugerimos es que el perfil de tu compañía, de los fundadores y la del equipo esté completa. Luego ve al perfil de tu compañía y presiona “Iniciar Ronda de Inversión” y completa los campos.
        </p>
        <p>
          Inversionistas podrán ver el perfil de la compañía, el de sus integrantes y los términos de la ronda, y podrán tomar la decisión de ponerse en contacto a través de FounderList. Tu también podrás solicitar seguir y enviarle un mensaje a inversionistas en tu red de contactos.
        </p>
        <h3 id="q4">¿Cómo puedo iniciar una ronda de inversión?</h3>
        <p>
          El primer paso es que la información de tu compañía, fundadores y la del equipo que trabaja en ella esté completa. Para ello sugerimos fuertemente puedas completar al máximo el perfil de tu compañía en FounderList e idealmente el perfil personal de tu equipo esté completo. Listo esto, ve a tu perfil de compañía y presiona “Iniciar Ronda de Inversión” y completa los detalles de tu ronda.
        </p>
        <h3 id="q5">¿Cómo puedo prevenir que otros roben mi idea? </h3>
        <p>
          La información que se describe en el perfil de tu compañía es pública, salvo por algunos items debidamente señalados, como por ejemplo sus Métricas y Términos de su Ronda, los cuales sólo podrán ser vistos por inversionistas acreditados en FounderList. En caso de querer reservar cierta información, te animamos a no disponerla públicamente o proceder conlos mecanismos de resguardo de información pertinentes.
        </p>
        <h3>¿Cuántos Inversionistas se añaden a mi Capitalization Table? </h3>
        <p>
          La entidad que entrará en el Capitalization Table es solo una, el Syndicate, vehículo que reúne a todos los inversionistas que invertirán en una compañía determinada. Esto quiere decir que en lugar de que cada inversionista tenga un porcentaje de participación independiente de los otros inversionistas, todos los inversionistas co-invertirán a través del mismo vehículo para entrar como una solo unidad en el cap table, facilitar la organización y toma de decisiones
        </p>
      </section>
      <section id="invert_lider">
        <h3>¿Debo tener o conformar un Directorio si quiero hacer una ronda de inversión en FounderList? </h3>
        <p>
          <b>Inversionista Líder →</b>  Es entre todos los inversionistas el que asume el rol de líder y representará los intereses de todos ellos, ante la Startup. A su vez es el encargado de agregarle valor periódicamente a la Startup en su proceso de crecimiento. El cómo y cada cuánto será este aporte, es un acuerdo entre inversionista líder y la compañía, previo a concretar la inversión.
        </p>
        <p>
          <b>Inversionista/Backer →</b> Inversionista que solicita unirse voluntariamente a un Syndicate. También se encarga de aportar su experiencia para que la Startup haga crecer su negocio y así aumentar la probabilidad de que su inversión sea exitosa.
        </p>
        <h3>¿Debo tener o conformar un Directorio si quiero hacer una ronda de inversión en FounderList? </h3>
        <p>
          Tener o conformar un directorio no es obligatorio, aunque hay algunos Syndicates que pueden solicitarlo como requisito en caso de querer realizar tu Ronda de Inversión con ellos. No obstante, te recomendamos que exista un directorio, por el valor que este puede agregar en tu crecimiento.
        </p>
        <h3>¿Cuál es la estructura legal de un Syndicate? (Aplica para Chile)</h3>
        <p>
          Tú Startup deberá tener el formato de sociedad por acciones de conformidad con las disposiciones contenidas en el artículo 424 y siguientes del Código de Comercio Chileno.
        </p>
        <p>
          Por su parte, los Inversionistas reunidos en el Syndicate participarán en una segunda sociedad por acciones que reunirá, a prorrata de sus aportes, sus respectivas participaciones. Será esta sociedad por acciones la que invertirá en tu Startup, pero además será dicha sociedad la que invertirá cómo un único inversionista y quien designará a un miembro en el directorio de tu Startup.
        </p>
        <h3>¿Qué es Carry? </h3>
        <p>
          Carry es un porcentaje de las ganancias generadas cuando una inversión es rentable. Para más información, puedes ver Carry definición y funcionamiento en FounderList para Emprendedores, Inversionistas Líderes e Inversionistas.
        </p>
      </section>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 relative">
      <div class="box-lateral-menu" style="padding-bottom: 0;">
        <a class="option" attr-id="startups_entrepreneur">Startups/Emprendedores</a>
        <hr>
        <a class="option" attr-id="invert_lider">Inversionistas Líderes</a>
        <hr>
        <a class="option" attr-id="invert">Inversionistas</a>
      </div>
    </div>
  </div>
</div>