{% load staticfiles %}
<div class='row '>
  <div class='container '>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <section id="why_founderlist">
        <h3 class="how-top-title">Por qué levantar capital en FounderList</h3>
        <ul>
          <li>
            <span>
              <b>Obtén financiamiento de inversionistas destacados en menos tiempo</b>
              <p>
                Financiamiento de Inversionistas ángeles, fondos de inversión, family offices y profesionales de destacadas 				empresas, que pueden agregar valor a tu negocio.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Solo una organización (Syndicate) entrará a tu Cap Table</b>
              <p>
                Los inversionistas que co-invertirán serán reunidos en un Syndicate y es esta organización la que entrará al Cap 			Table de tu compañía como una sola unidad, en lugar de que cada inversionista tenga un porcentaje de 				participación independiente de ella.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Gestión más simple y decisiones más rápidas</b>
              <p>
                Podrán acordar conjuntamente con uno de los inversionistas que este sea el líder del Syndicate, mientras que los 		demás inversionistas serán backers. El líder representará a los backers ante ustedes y así se facilitará la toma de 		decisiones de diferentes temas.
              </p>
            </span>
          </li>
        </ul>
      </section>
      <section id="study">
        <h3>Casos de estudio</h3>
        <div class='row '>
          <div class='container '>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 box-img">
          <img src="{% static 'images/keteka.png' %}" alt="" />
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <p>
              <b>Keteka</b>
            </p>
            <ul>
              <li>
                <span>La ronda de KETEKA cerró exitosamente con USD $87K</span>
              </li>
              <li>
                <span>Se conformó un Syndicate con 7 inversionistas que co-invirtieron</span>
              </li>
              <li>
                <span>Participaron inversionistas ángeles e inversionistas privados</span>
              </li>
              <li>
                <span>El líder del Sindicato fue el Fondo de Inversión Magma Partners</span>
              </li>
              <li>
                <span>La ronda de KETEKA fue un Follow-On de Magma Partners</span>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <br>
        <div class='row '>
          <div class='container '>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 box-img">
          <img src="{% static 'images/pleiq.png' %}" alt="" />
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <p>
              <b>PleIQ</b>
            </p>
            <ul>
              <li>
                <span>La ronda de PleIQ cerró exitosamente con USD $100K</span>
              </li>
              <li>
                <span>Se conformó un Syndicate con 2 inversionistas que co-invirtieron</span>
              </li>
              <li>
                <span>Participaron solo inversionistas privados</span>
              </li>
              <li>
                <span>El líder del Sindicato fue un Family Office</span>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <br>
      </section>
      <section id="how_work">
        <h3>Funcionamiento</h3>
        <ul>
          <li>
            <span>
              <b>Paso 1. Registra tu Startup en FounderList</b>
              <p>
                	Registra tu compañía, muéstrale a otros emprendedores y potenciales inversionistas tu producto/servicio y si lo 			deseas, declara los Términos de tu Ronda de Inversión
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 2. Contacto y Negociación</b>
              <p>
                Inversionistas podrán revisar tu información y decidir contactarte; tu también puedes contactarlos directamente y si 		hay mutuo interés, negociar los Términos de la Ronda. Mantener tu perfil actualizado es la mejor forma de mostrarle 		tus avances a inversionistas
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 3. Invita inversionistas</b>
              <p>
                Si ya cuentas con un Inversionista Líder y/o Backer, podremos invitar a otros inversionistas de FounderList a 			co-invertir en tu compañía. Si ustedes cuentan con inversionistas fuera de FounderList que deseen que participen, 		pueden invitarlos, somos muy flexibles frente a esto. FounderList te apoyará en las conversaciones y negociación con 		inversionistas.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 4. Cierre de la negociación</b>
              <p>
                	Una vez que tengamos a todos los inversionistas con montos comprometidos, te ayudaremos a proceder con todos 		los aspectos legales hasta que tengas el capital.
              </p>
            </span>
          </li>
          <li>
            <span>
              <b>Paso 5. Post cierre</b>
              <p>
                Al cerrar exitósamente tu ronda en FounderList, las probabilidades de levantar una segunda ronda son más altas, ya 		que la noticia del cierre y los avances que muestres en tu perfil serán vistos por otros destacados inversionistas que 		potencialmente podrían invertir.
              </p>
            </span>
          </li>
        </ul>
      </section>
      <section id="privacity">
        <h3>Privacidad</h3>
        <p>
          Hay cierta información del Perfil de tu compañía que es pública y hay otra que solo es visible para inversionistas acreditados en FounderList, como por ejemplo los Términos de tu Ronda de Inversión y Tracción.
        </p>
        <p>
          Los inversionistas Líderes suelen compartir información de tu compañía con otros potenciales inversionistas, por lo que te sugerimos que decidas qué información te gustaría compartir y cuál no.
        </p>
      </section>
      <section id="carry">
        <h3>Carry, definición y funcionamiento</h3>
        <p style="font-style: italic;">
          “Carry es un porcentaje de las ganancias generadas cuando una inversión es rentable.”
        </p>
        <p>
          <b>Carry del Inversionista Líder:</b> Cuando una inversión se vuelve líquida, FounderList paga un porcentaje de las ganancias obtenidas por el Syndicate al inversionista líder. Un inversionista líder puede solicitar hasta un 20% de Carry por deal a los inversionistas de su Syndicate como condición para unirse a este o para co-invertir en un deal que este lidera
        </p>
      </section>
      <section id="price">
        <h3>Costos y Ejemplos</h3>
        <p>
          <b>Fee 6% → </b>
          FounderList cobrará el 6% del total del monto invertido. Las Startups solo pagan a FounderList un 3% del Monto total, mientras que los inversionistas pagan un 3% sobre el monto total invertido.
        </p>
        <p>
          Ej. La Startup “Hutsuit” ha levantado USD $100K a través de FounderList. Hutsuit recibirá USD $97K, mientras que los Inversionistas depositarán USD $103K
        </p>
        <p>
          <b>Carry 5% →</b> Cuando una inversión se vuelve líquida, FounderList cobrará un 5% de las ganancias obtenidas por el Syndicate. Este es un cobro que se realiza a los inversionistas si es que obtienen ganancias, no a las compañías
        </p>
        <p>
          Ej. Eduardo, es un notable inversionista ángel, quien decide liderar un Syndicate para invertir en la compañía “Hutsuit.la”. La compañía está ofreciendo un 10% por USD $100K, por ende su Valorización es de USD $1M. Max como inversionista líder invertirá USD $20K y lo demás será reunido en Backers.
        </p>
        <p>
          Eduardo en su rol de Inversionista Líder, puede cobrarle a quienes quieran co-invertir en su Syndicate entre un 0 - 20% de Carry; en esta ocasión ha solicitado un 10%. Otros 8 inversionistas quieren co-invertir en este Syndicate, aceptando el Carry de Eduardo y FounderList, y cada uno invertirá USD 10K, completando así el total buscado por la compañía.
        </p>
        <p>
          Luego de 3 años, la Valorización de la compañía ha aumentado exponencialmente a $10M y se ha tomado la decisión de venderla a un competidor. Dado que los inversionistas tienen un 10% de participación, tuvieron un exit de 10x, por lo que sus ganancias a repartir serán de USD $1M
        </p>
        <p>
          Primero se devuelve a los inversionistas lo inicialmente invertido a prorrata. Quedan USD $900K a repartir
        </p>
        <p>
          Eduardo se queda con un 10% de los USD $900K y FounderList con un 5%
        </p>
        <p>
          Lo restante se divide a Prorrata entre todos los inversionistas del Syndicate
        </p>
        <p>
          <b>Costos Administrativos →</b>  Gasto adicional por cada inversión realizada, que deberá ser pagado a prorrata por los inversionistas. Estos incluyen:
        </p>
        <ul>
          <li>
            <span>Constitución del SPV (SpA o LLC). Esto cubre gastos notariales, inscripción de la sociedad y protocolización</span>
          </li>
          <li>
            <span>Gestión de abogados para el proceso</span>
          </li>
          <li>
            <span>Contabilidad del SPV durante 1 año</span>
          </li>
          <li>
            <span>Gestión de la creación de una cuenta bancaria para el SPV</span>
          </li>
        </ul>
        <p>
          El costo promedio de esto es de un total de USD $1000 y FounderList no lucrará de este cobro
        </p>
        <h3>Costos Opcionales</h3>
        <p>
          <b>A. Plantillas editables de documentos legales → </b>FounderList proveerá, las plantillas editables de los instrumentos de inversión (Equity, Nota Convertible o SAFE) y documentos legales (Term Sheet, Pactos de Accionistas, Contratos de Vesting y Prestación de Servicios) para proceder con la inversión. Si Fundadores y/o Inversionistas quisieran realizarles modificaciones, los costos serán adicionales e independientes a FounderList y para proceder con estas modificaciones ofrecemos 2 caminos:
        </p>
        <ul>
          <li>
            <span>
              <p>
                <b>Referencia de FounderList:</b> Founderlist junto con su sus entidades aliadas, solicitarán las modificaciones que desean 		realizarse a los documentos y las implementará. Este sería un costo adicional fijado por la entidad aliada, 				FounderList no obtendrá ganancias de esto
              </p>
              <p>
                <b>Independiente:</b> Pueden solicitar uno o más de estos Due Diligence a una empresa externa
              </p>
            </span>
          </li>
          <li>
            <span>
              <p>
                <b>Due Diligence → </b>Inversionistas opcionalmente pueden solicitar un Due Diligence a la compañía y ofrecemos 2 caminos para hacerlo:
              </p>
              <p>
                <b>Referencia de FounderList:</b> Founderlist gestionará la conexión con sus entidades aliadas para realizar un Due 			Diligence Legal y/o Financiero. Este sería un costo adicional fijado por la entidad aliada, FounderList no obtendrá 		ganancias de esto
              </p>
              <p>
                <b>Independiente:</b> Pueden solicitar uno o más de estos Due Diligence a una empresa externa
              </p>
            </span>
          </li>
        </ul>
      </section>


  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 relative">
    <div class="box-lateral-menu">
      <a class="option" attr-id="why_founderlist">¿Por qué invertir a través de FounderList?</a>
      <hr>
      <a class="option" attr-id="study">Casos de estudio</a>
      <hr>
      <a class="option" attr-id="how_work">Funcionamiento</a>
      <hr>
      <a class="option" attr-id="privacity">Privacidad</a>
      <hr>
      <a class="option" attr-id="carry">Carry, definición y funcionamiento</a>
      <hr>
      <a class="option" attr-id="price">Costos y Ejemplos</a>
      <hr>
      <div class="center">
          <a href="/home/register_investor_s1/" class=" button-line btn button-line button-white large zoom subform button-new">
            Registro como inversionista
          </a>
      </div>
    </div>
  </div>
</div>
