{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user_id}}';
		var event_id;
	</script>
	{% include 'include/script.html'%}
</head>
<body>
	{% if message %}
	<div class="alert alert-success custom-alert" style="position: absolute;
    z-index: 9999;
    width: 100%;">
		{{message}}
	<span style="position: absolute;right: 28px;font-weight: bold;font-size: 13px;margin-top: -1px;cursor:pointer;" onclick="dismissAlert()">
      x
    </span>
	</div>
	{% endif %}

  {% include 'include/header.html'%}


  <div id="banner" class="header-section parallax" style="background-image: url('{% static 'images/banner_eeaa_2.png' %}');">
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container home" style="padding-top:150px; padding-bottom:100px;">

  			<div class="row">

  				<div class="col-md-6 align-left" style="color:#fff">
            <h3 class="dark uppercase">Emprendedores anónimos</h3>
            <p>Emprendedores Anónimos #EEAA nació como una reunión con 5 personas en un cowork
en Chile, el 2013. Hoy, miles de emprendedores en LATAM se han reunido a potenciar
sus negocios, a través del aprendizaje de experiencias de éxito y fracaso</p>
            <h4 class="dark" style="font-size:19px">#EEAA es Alcohólicos Anónimos para emprendedores</h4>
            <div class="row">
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 center">
                <h1>+62</h1>
                <p c>
                  CIUDADES
                </p>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 center">
                <h1>+15</h1>
                <p>
                  PAISES
                </p>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 center">
                <h1>+17.000</h1>
                <p>
                  MIEMBROS
                </p>
              </div>
            </div>
            <div class="row center">
              <button type="submit" class="fancy-button button-line large zoom subform" data-toggle="modal" data-target="#myModal">
    							<b>Crear grupo #EEAA</b>
    					</button>
            </div>
  				</div>
  				<div class="col-md-6 " style="color:#fff; padding-top:70px; font-weight: 600;">

            <!--<img src="{% static 'images/logo_eeaa.png' %}" alt="" />-->
            <div id="menu-center">
              <ul class="onepage-pagination fadeInRight">
                  <li>
                    <a data-index="1" href="#section-home" class="active">
                      <div class="line line-1"></div>
                      <b class="menu-vertical" style="left: -90px; top: 0px;"> Presencia </b>
                      <span class="dot"></span>
                    </a>
                  </li>
                  <li>
                    <a data-index="2" href="#event">
                      <div class="line line-2"></div>
                      <b class="menu-vertical" style="left: -162px;top: 42px;"> Eventos por ciudad</b>
                      <span class="dot"></span>
                    </a>
                  </li>
                  <li>
                    <a data-index="3" href="#calendar" class="">
                      <div class="line line-3"></div>
                      <b class="menu-vertical" style="left: -188px; top: 82px;"> Calendario de eventos</b>
                      <span class="dot"></span>
                    </a>
                  </li>
                  <li>
                    <a data-index="4" href="#create_event">
                      <div class="line line-4"></div>
                      <b class="menu-vertical" style="left: -115px;top: 122px;"> Crear evento</b>
                      <span class="dot"></span>
                    </a>
                  </li>
                  <li>
                    <a data-index="5" href="#5">
                      <div class=""></div>
                      <b class="menu-vertical" style="left: -125px; top: 162px;"> Manual #EEAA</b>
                      <span class="dot"></span>
                    </a>
                  </li>
              </ul>
            </div>


  			</div>


  		</div>
  	</div>
  	</div>
  	</div>
<section id="event" style="">
  <div class="row" style="background:#eaeaea; padding-top:40px; padding-bottom:40px">
  <div class="container center" >
    <img src="{% static 'images/Slack.png' %}" alt="" style="height: 50px;" />
    <h3>ÚNETE A #EEAA EN SLACK</h3>
    <button type="submit" class="fancy-button button-line large zoom subform button-blue" data-toggle="modal" data-target="#myModal">
        <b>Solicitar información</b>
    </button>

  </div>
  </div>
	<div class="row">
		<div class="container center" >
			<h3 class="uppercase">Presencia</h3>
			<div class="period period-1">
			</div>
			<div class="period period-2">
			</div>
			<div class="period period-3">
			</div>
			<img src="{% static 'images/mapa.png' %}" alt="" />
		</div>
	</div>
	<div class='row countries' style="padding-left: 80px;">
		<div class="container" >
		<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
			{% for country, city in cities_1.items%}
			<p>
				<b>{{country}}</b>
			</p>
				{% for i in city %}
					<p>
						<a class="city" id-country="{{country}}">{{i}}</a>
					</p>
				{%endfor%}
			{% endfor %}

		</div>
		<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
			{% for country, city in cities_2.items%}
			<p>
				<b>{{country}}</b>
			</p>
				{% for i in city %}
					<p id-country="{{country}}">
						<a class="city" id-country="{{country}}">{{i}}</a>
					</p>
				{%endfor%}
			{% endfor %}


		</div>
		<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
			{% for country, city in cities_3.items%}
			<p>
				<b>{{country}}</b>
			</p>
				{% for i in city %}
					<p id-country="{{country}}">
						<a class="city" id-country="{{country}}">{{i}}</a>
					</p>
				{%endfor%}
			{% endfor %}

		</div>
		<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
			{% for country, city in cities_4.items%}
			<p>
				<b>{{country}}</b>
			</p>
				{% for i in city %}
					<p id-country="{{country}}">
						<a class="city" id-country="{{country}}">{{i}}</a>
					</p>
				{%endfor%}
			{% endfor %}

		</div>


		</div>
	</div>
</section>

<section class="parallax" style="background-image: url('{% static 'images/banner_2.png' %}'); padding-top:40px; padding-bottom:40px" id="calendar">
	<div class="container" >
		<div class='row center'>
		<h3 class="uppercase">CREANDO UN GRUPO #EEAA</h3>
		<div class="period period-1">
		</div>
		<div class="period period-2">
		</div>
		<div class="period period-3">
		</div>

			<h4 style="padding-top:40px">
				Si quieres Coordinar de un Capítulo en tu ciudad, por favor  sigue las siguientes indicaciones y cuéntanos.
			</h4>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: left;">
			<h3>¿Como funciona?</h3>
			<ul class="point-ul">
				<li>Empieza un capítulo o únete al equipo de uno ya existente, AQUI</li>
				<li> Recibirás nuestro Manual de #EEAA que te ayudará a tener éxito
				y evitar las dificultades que nosotros hemos experimentado</li>
				<li>Cada grupo contará con acceso a nuestros diseños para afiches de su sesión
				y también recibirá apoyo en difusión de nuestra parte</li>
				<li>Te invitaremos a un grupo privado de Slack para que puedas
				comunicarte con otros Coordinadores de Capítulos #EEAA
				de todos los países</li>
				<li class="large-li">Tendrás el respaldo de FounderList para realizar tus sesiones,
recibirás invitaciones a los eventos de FounderList y tendrás
preferencia si es que tienes un proyecto que busca levantar capital</li>
			</ul>

		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: left;">
			<h3>Cultura  #EEAA by FounderList</h3>
			<p>
				En #EEAA tenemos pilares culturales definidos y nos tomamos muy
en serio el respetarlos. La comunidad es Open Source por lo que
diversos emprendedores pueden tomar nuestros lineamientos,
siguiendo este reglamento:
			</p>
			<ul class="point-ul">
				<li>Baja tu ego, apoya y facilita la colaboración entre todos</li>
				<li>Vela por el bien de la comunidad y no por tu beneficio personal</li>
				<li>Si vas a utilizar el nombre de #EEAA, lúcete y asombra</li>
				<li>Todo feedback para mejorar es bienvenido</li>
			</ul>


		</div>
	<div>

</section>
<section class="center" id ="create_event" style="padding-bottom:40px; padding-top:40px">
	<div class="container" >
		<div class='row '>
		<h3 class="uppercase">¡EMPIEZA UN CAPÍTULO DE #EEAA HOY!</h3>
		<div class="period period-1">
		</div>
		<div class="period period-2">
		</div>
		<div class="period period-3">
		</div>

			<h4 style="padding-top:40px">
				Al registrarte aquí tendras un usuario en  <br>
				<a href="www.founderlist.la" style="color:#e13f4e">www.founderlist.la</a>
			</h4>
		</div>
		<div class="confirmation">
			<p><span class="fa fa-check"></span></p>
		</div>

		<form class="contact-form support-form" method="POST" > {% csrf_token %}
			<div class='row'>
				<div class="col-lg-12">
					<input id="email" class="input-field form-item field-email placeholder" type="email" required="required" name="email" placeholder="Correo Electrónico">
				</div>
			</div>
			<div class='row '>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<input id="name" class="input-field form-item field-name placeholder" type="text" required="required" name="name" placeholder="Nombre">
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<input id="last_name" class="input-field form-item field-name placeholder" type="text" required="required" name="last_name" placeholder="Apellido">
				</div>
			</div>
			<div class='row '>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input id="password_1" class="input-field form-item field-name placeholder" type="password" required="required" name="password_1" placeholder="Contraseña">
					</div>
			</div>
			<div class='row '>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input id="password_2" class="input-field form-item field-name placeholder" type="password" required="required" name="password_2" placeholder="Confirmar contraseña">
					</div>
			</div>

			<button type="submit" class="fancy-button button-line button-white large zoom subform">
				Registrarse
			</button>
		</form>
	</div>

</section>
  {% include 'include/script_js.html'%}



  {% include 'include/footer.html'%}

	<!-- Modal -->
	<div id="modal_event" class="modal fade" role="dialog">
		<div class="modal-dialog" style="max-width: 800px;">

			<!-- Modal content-->
			<div class="modal-content modal-attend" id="">
				<!--<div class="modal-header">-->
				<div class="row">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<h3 class="center">Evento</h3>
				<h3 class="align-left" id="name_event"></h3>
				<p id="category_event"></p>
				<p id="name_section"></p>
				<img src="{%static 'images/event_img.png' %}" alt="" />
				<p id="description_event"></p>
				<div class='row '>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						Fecha:
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<p id=date_event></p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					</div>
				</div>
				<div class='row '>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							Lugar:
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<p id=place_event></p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						</div>

				</div>

				<div class='row '>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							Hora:
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<p id=time_event></p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						</div>
				</div>

				<div class='row '>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							Más información:
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<p id=link_event></p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						</div>
				</div>
				<div class="alert alert-success custom-alert hidden" id="event_message" style="">
				</div>
				<button id="asistir" class="fancy-button button-line button-white large zoom subform" style="margin-left: 0px;">
					Asistir
				</button>
				<div class='row '>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<i class="fa fa-facebook-square" aria-hidden="true" style="color:#3c5b9a"></i>
					<i class="fa fa-twitter-square" aria-hidden="true" style="color:#2caae1"></i>
					<i class="fa fa-linkedin-square" aria-hidden="true" style="color:#0177b5"></i>
					<i class="fa fa-envelope" aria-hidden="true" style="color:#a6a6a6"></i>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal_event_not" class="modal fade" role="dialog">
	  <div class="modal-dialog" style="max-width: 800px;">

	    <!-- Modal content-->
	    <div class="modal-content modal-attend">
	      <!--<div class="modal-header">-->
				<div class="row">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<h3 class="center">No hay eventos para esta ciudad en los próximos días</h3>
			</div>
		</div>
</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog" style="max-width: 800px;">

	    <!-- Modal content-->
	    <div class="modal-content modal-attend">
	      <!--<div class="modal-header">-->
				<div class="row">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<h3 class="center">CREAR EVENTO</h3>


	        <!--<h4 class="modal-title"></h4>-->
	      <!--</div>-->
					<form class="attend-form support-form" method="POST" > {% csrf_token %}
	      <div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<select name="category" class="form-control" style="height: 50px;">
									<option value="">Categoria</option>
									{% for category in categories%}
										<option value="{{category.pk}}">{{category}}</option>
									{% endfor %}
						</select>
					</div>
	      </div>
				<div class='row '>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input id="name_section" class="input-field form-item field-name placeholder" type="text" required="required" name="name_section" placeholder="Nombre sección">
				</div>
				</div>
				<div class="row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<select class="form-control" id ="countries_select" name="country" style="height: 50px;">
									<option value="">País</option>
									{% for country in countries%}
										<option value="{{country.pk}}" >{{country}}</option>
									{% endfor %}
						</select>
					</div>
				</div>
				<div class="row" style="padding-top:10px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<select class="form-control" id="cities_selet" name="city" style="height: 50px;">
									<option value="" >Ciudad</option>
									{% for city in cities%}
										<option value="{{city.pk}}">{{city}}</option>
									{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group box-date">
                <div class='input-group date' id='date'>
									<input id="" style="border-right: 0px;" class="form-control form-date form-item field-name placeholder" type="text" required="required" name="date" placeholder="Fecha de evento">
                    <span class="input-group-addon icon-date">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
								<div class='input-group date' id='start_time'>
									<input id="" style="border-right: 0px;" class="form-control form-date form-item field-name placeholder" type="text" required="required" name="start_time" placeholder="Hora de inicio">
										<span class="input-group-addon icon-date">
												<span class="fa fa-clock-o"></span>
										</span>
								</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<div class='input-group date' id='end_time'>
								<input id="" style="border-right: 0px;" class="form-control form-date form-item field-name placeholder" type="text" required="required"  name="end_time" placeholder="Hora de termino">
									<span class="input-group-addon icon-date">
											<span class="fa fa-clock-o"></span>
									</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input id="place" class="input-field form-item field-name placeholder" type="text" required="required" name="place" placeholder="Lugar">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<input id="link" class="input-field form-item field-name placeholder" type="text" required="required" name="link" placeholder="Otros links al evento">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<textarea id="description" class="textarea-field form-item field-message placeholder" required="required"  rows="10" name="description" placeholder="Descripción"></textarea>
				</div>
				</div>

	      <div class="modal-footer" style="text-align: center;">
	        <button type="submit" class="fancy-button button-line button-white large zoom subform">Enviar</button>
	      </div>
				</form>
	    </div>

	  </div>
	</div>

	<script type="text/javascript">
	$(document).ready(function () {
		$('#countries_select').change(function () {
				country = (this).value
				$.ajax({
						url: "/ajax_cities/",
						data: {country: country, csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									$("#cities_selet").empty()
									$("#cities_selet").append("<option value=''>Ciudad</option>" );
									data['cities'].forEach(function(entry) {
											console.log(data['cities']);
											$("#cities_selet").append("<option value='"+
																										entry['id']+ "'>"+
																										entry['name'] +
																										"</option>")


									});
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
		});
		$('.city').on('click', function (e) {
				city = (this).text
				country = $(this).attr("id-country")
				$.ajax({
						url: "/ajax_event/",
						data: {city: city, country: country, csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									event_id = data["event"]["id"]
									if (!data["event"]){
										//$('#content_modal_event').text("No hay eventos para esta ciudad en los próximos días")
										$('#modal_event_not').modal('show');
									}else{
										$('#name_event').text(data["event"]["name"])
										if (data["event"]["category__name"]){
											$('#category_event').text(data["event"]["category__name"])
										}
										$('#name_section').text()
										$('#description_event').text(data["event"]["description"])
										$('#date_event').text(data["event"]["date"])
										$('#place_event').text(data["event"]["place"])
										$('#time_event').text(data["event"]["start_time"])
										$('#link_event').text(data["event"]["link"])
										$('#modal_event').modal('show');
									}
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
		});
		$('#asistir').on('click', function (e) {
			$.ajax({
					url: "/ajax_attend/",
					data: {user_id: user_id, event_id: event_id, csrfmiddlewaretoken:'{{csrf_token}}'},
					dataType: "json",
					cache: false,
					success: function(data) {
								$("#event_message").removeClass("hidden")
								$("#event_message").text(data["message"])
								return false;
					},
					error: function(jqXHR, textStatus, errorThrown) {
							if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
					},
					crossDomain: false,
					type: "POST",
			})
		})
	})
	setTimeout(function() {
      dismissAlert();
    }, 2500);
    function dismissAlert () {
      $('.alert.alert-success').fadeOut();
    };
    $('#date').datepicker({
    	format: 'yyyy/mm/dd'
    });
    $('#start_time, #end_time').datetimepicker({
    	icons: {
    		up: 'fa fa-chevron-up',
    		down: 'fa fa-chevron-down',
    	},
    	format: 'HH:mm'
    });
	</script>

</body>
