{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<script type="text/javascript">
		var user_id='{{user_id}}';
		var event_id;
		var countries = "{{countries_list}}"
        var countries = countries.replace(/u&#39;/g, '"').replace(/&#39;/g, '"')
        var countries = JSON.parse(countries)
	</script>
	{% include 'include/script.html'%}
</head>
<body>
	{% if message %}
	<div class="alert alert-success custom-alert message">
		{{message}}
	<span onclick="dismissAlert()">
      x
    </span>
	</div>
	{% endif %}
	<div class="alert alert-success custom-alert message hidden" id="event_message_home" style="">
	</div>

  {% include 'include/header.html'%}


  <div id="banner" class="header-section parallax" style="background-image: url('{% static 'images/banner_eeaa_2.png' %}');">
  	<div id="section-home" class="home-section-wrap center">
  		<!--<div class="section-overlay"></div>-->
  		<div class="container home" style="padding-top:150px; padding-bottom:100px;">

  			<div class="row">

  				<div class="col-md-6 align-left" style="color:#fff">
            <h3 class="dark uppercase">Emprendedores anónimos</h3>
            <p>Emprendedores Anónimos #EEAA nació como una reunión con 5 personas en un cowork
en Chile, el 2013. Hoy, miles de emprendedores en LATAM se han reunido a potenciar
sus negocios, a través del aprendizaje de experiencias de éxito y fracaso</p>
            <h4 class="dark" style="font-size:19px">#EEAA es Alcohólicos Anónimos para emprendedores</h4>
            <div class="row">
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 center">
                <h1>+62</h1>
                <p c>
                </p>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 center">
                <h1>+15</h1>
                <p>
                  PAISES
                </p>
              </div>
              <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 center">
                <h1>+17.000</h1>
                <p>
                  MIEMBROS
                </p>
              </div>
            </div>
            <div class="row center">
              <button type="submit" class="fancy-button button-line large zoom subform my-modal" data-toggle="modal" data-target="#myModal">
    							<b>Crear grupo #EEAA</b>
    					</button>
            </div>
  				</div>


  		</div>
  	</div>
	</div>  				<div class="col-md-6 " style="color:#fff; padding-top:70px; font-weight: 600;">




  			</div>
  	</div>
<section id="event" style="">
  <div class="row" style="background:#eaeaea; padding-top:40px; padding-bottom:40px">
  <div class="container center" >
    <img src="{% static 'images/Slack.png' %}" alt="" style="height: 50px;" />
    <h3>ÚNETE A #EEAA EN SLACK</h3>
    <button type="submit" class="button-line large zoom subform button-blue my-modal" data-toggle="modal" data-target="#myModal">
        <b>Solicitar información</b>
    </button>

  </div>
  </div>
	<div class="row">
		<div class="container center" >
			<h3 class="uppercase">Presencia</h3>
			<div class="period period-1">
			</div>
			<div class="period period-2">
			</div>
			<div class="period period-3">
			</div>
			<img src="{% static 'images/mapa.png' %}" alt="" />
		</div>
	</div>
</section>
	{% include 'arquitectura_eeaa/search.html'%}

<section class="row">
		<div class="container center" >
			<h3>TIPOS DE REUNIONES #EEAA</h3>
			<div class="period period-1">
			</div>
			<div class="period period-2">
			</div>
			<div class="period period-3">
			</div>
			<br>
			<p>
				<b>#EEAA Founders & Teams</b>
			</p>
			<p>
				Reúne a los mejores emprendedores de la ciudad entorno a un Fundador o miembro de una Startup, especialista en un tema en particular, para que comparta sus aprendizajes con la audiencia
			</p>
			<button type="submit" class="fancy-button button-line large zoom subform my-modal" data-toggle="modal" data-target="#myModal">
					<b>Inicia en tu ciudad</b>
			</button>
		</div>
</section>

<div class="row propuesta-section">
	<div class="container center" >
	<h3 class="header-propuesta">PROPUESTA DE VALOR</h3>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt50">
			<div class="grey-circled-icon logo-propuesta">
				<img src="{% static 'images/logo_1.png' %}" alt="" />
			</div>

			<p class="irp-area-text p0 bold">
				Apoya el desarrollo de la comunidad de emprendedores más grande de todo Latam
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt50">
			<div class="grey-circled-icon logo-propuesta">
				<img src="{% static 'images/logo_2.png' %}" alt="" />
			</div>
			<p class="irp-area-text p0 bold">
				Coordina reuniones y conecta con emprendedores de cientos de países diferentes
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mt50">
			<div class="grey-circled-icon logo-propuesta">
				<img src="{% static 'images/logo_3.png' %}" alt="" />
			</div>
			<p class="irp-area-text p0 bold">
				Participa de nuestras actividades exclusivas para coordinadores y potencia tu experiencia como emprendedor junto a nosotros

		</div>
	</div>
	</div>
</div>

  {% include 'include/footer.html'%}

	<!-- Modal -->
	<div id="modal_event" class="modal fade" role="dialog">
		<div class="modal-dialog" style="">

			<!-- Modal content-->
			<div class="modal-content modal-attend modal-detail" id="">
				<!--<div class="modal-header">-->

				<div class='row'>
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<img src="{%static 'images/event_img.png' %}" alt="" />
					</div>
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
						<div class="row">
							<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
								<h3 class="align-left" id="name_event"></h3>

							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
								<h3><button type="button" class="close close-style" data-dismiss="modal">&times;</button></h3>
							</div>
						</div>
						<hr style="margin-top: 0px;">
						<p id="description_event"></p>
						<div class='row '>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<b class="grey">Locación:</b>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<p id=place></p>
							</div>
						</div>
						<div class='row '>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<b class="grey">Fecha del evento:</b>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<p id=date_event></p>
							</div>
						</div>
						<div class='row '>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<b class="grey">Lugar:</b>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p id=place_event></p>
								</div>
						</div>
						<div class='row '>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<b class="grey">Hora de inicio/termino:</b>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p id=time_event></p>
								</div>
						</div>
						<div class='row '>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<b class="grey">Link del evento:</b>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p id=link_event></p>
								</div>
						</div>
						<button id="asistir_modal" class="fancy-button button-line button-white large zoom subform" style="margin-left: 0px;">
							Asistir
						</button>
						<div class='row' style="padding-top:20px">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-facebook-square" aria-hidden="true" style="color:#3c5b9a; font-size: 28px;"></i>
							<i class="fa fa-twitter-square" aria-hidden="true" style="color:#2caae1; font-size: 28px;"></i>
							<i class="fa fa-linkedin-square" aria-hidden="true" style="color:#0177b5; font-size: 28px;"></i>
							<i class="fa fa-envelope" aria-hidden="true" style="color:#a6a6a6; font-size: 28px;"></i>
						</div>
						</div>
					</div>


				</div>

			</div>
			<div class="alert alert-success custom-alert" id="event_message" style="">
			</div>
		</div>
	</div>

	<div id="modal_event_not" class="modal fade" role="dialog">
	  <div class="modal-dialog" style="max-width: 800px;">

	    <!-- Modal content-->
	    <div class="modal-content modal-attend">
	      <!--<div class="modal-header">-->
				<div class="row">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<h3 class="center">No hay eventos para esta ciudad en los próximos días</h3>
			</div>
		</div>
</div>
  {% include 'include/create_event.html'%}
  {% include 'include/script_js.html'%}
	<script type="text/javascript">
	$(document).ready(function () {
		var id_selection = "{{id_selection}}";
		var location = "{{places_array}}";
		var coordination = "{{coordination_array}}";
		$(".token-input-dropdown").css("z-index","9999")

        
		location = location.replace(/u&#39;/g, '').replace(/&#39;/g, '').replace('[', '').replace(']', '').split(',')
		coordination = coordination.replace(/u&#39;/g, '').replace(/&#39;/g, '').replace('[', '').replace(']', '').split(',')
		$('#countries_select').change(function () {
				country = (this).value
				$.ajax({
						url: "/ajax_cities/",
						data: {country: country, csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									$("#cities_selet").empty()
									$("#cities_selet").append("<option value=''>Ciudad</option>" );
									data['cities'].forEach(function(entry) {
											console.log(data['cities']);
											$("#cities_selet").append("<option value='"+
																										entry['id']+ "'>"+
																										entry['name'] +
																										"</option>")


									});
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
		});
		$.fn.infoEvent = function() {
				pk = $(this).attr("id")
				$.ajax({
						url: "/ajax_event/",
						data: {pk: pk, csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									event_id = data["event"]["id"]
									if (!data["event"]){
										//$('#content_modal_event').text("No hay eventos para esta ciudad en los próximos días")
										$('#modal_event_not').modal('show');
									}else{
										$('#place').text(data["event"]["place"])
										$('#name_event').text(data["event"]["category__name"]+' '+data["event"]["name"])
										if (data["event"]["category__name"]){
											$('#category_event').text(data["event"]["category__name"])
										}
										$('#name_section').text()
										$('#description_event').text(data["event"]["description"])
										$('#date_event').text(data["event"]["date"])
										$('#place_event').text(data["event"]["place"])
										$('#time_event').text(data["event"]["start_time"])
										$('#link_event').text(data["event"]["link"])
										$('#modal_event').modal('show');
									}
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
		}; 

		$('.event').on('click', function (e) {
				$(this).infoEvent();
		});
		$('.asistir').on('click', function (e) {
			event_id = $(this).attr("id-event")
			//$( "#asistir_modal" ).trigger( "click" );
			$.ajax({
				url: "/ajax_attend/",
				data: {user_id: user_id, event_id: event_id, csrfmiddlewaretoken:'{{csrf_token}}'},
				dataType: "json",
				cache: false,
				success: function(data) {
							//$("#event_message").removeClass("hidden")
							//$("#event_message").text(data["message"])
							$("#event_message_home").css("display", "")
							$("#event_message_home").removeClass("hidden")
							$("#event_message_home").html(data["message"]+'<span onclick="dismissAlert()">x</span>')
							setTimeout(function() {
  								dismissAlert();
							}, 2500);
							return false;
				},
				error: function(jqXHR, textStatus, errorThrown) {
						if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
				},
				crossDomain: false,
				type: "POST",
			})
		})
		$('#asistir_modal').on('click', function (e) {
			$.ajax({
					url: "/ajax_attend/",
					data: {user_id: user_id, event_id: event_id, csrfmiddlewaretoken:'{{csrf_token}}'},
					dataType: "json",
					cache: false,
					success: function(data) {
								$("#event_message").css("display", "")
								$("#event_message").removeClass("hidden")
								$("#event_message").text(data["message"])
								//$("#event_message_home").css("display", "")
								//$("#event_message_home").removeClass("hidden")
								//$("#event_message_home").html(data["message"]+'<span onclick="dismissAlert()">x</span>')
								setTimeout(function() {
      								dismissAlert();
    							}, 2500);
								return false;
					},
					error: function(jqXHR, textStatus, errorThrown) {
							if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
					},
					crossDomain: false,
					type: "POST",
			})
		})

		//------------- other --------------//
		$('.filter_option').on('click', function (e) {
				$(this).parent().parent().removeClass('open');
				var data_type= $(this).attr('data-type')
				var value = $(this).text();
				console.log(data_type, value);

				$('#tokenfield-eeaa').tokenfield('createToken', { value: data_type, label: value });
				var values = $('#tokenfield-eeaa').tokenfield('getTokens');
				$.ajax({
						url: "/ajax_filter_eeaa/",
						data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									console.log(data);
									var result = data['events']
									var html_table;

									for (i in result) {
										html_table = html_table+ '<tr> \
											<td>' + result[i]['name'] +
											'</td>\
											<td>'+result[i]['country__name']+', '+ result[i]['city__name']+ '</td>\
											<td>'+result[i]['date']+'</td>\
											<td>'+result[i]['start_time']+ ' / ' +result[i]['end_time']+'</td>\
											<td>'+result[i]['place']+'</td>\
											<td><p>\
												<button id="" id-event="'+result[i]['id']+'" class="asistir button-line btn" style="height: auto; margin:0px;width: 90px;">\
													Asistir\
												</button>\
												</p><br>\
												<p>\
												<button id="'+result[i]['id']+'" class="btn btn-default event" style="width: 90px;">\
													+Info\
												</button>\
												</p>\
											</td>\
											<td>'+result[i]['link']+'</td>\
										</tr>'
									}
									$('.companies-show').empty()
									$('.companies-show').html(html_table)
									$('[data-toggle="popover"]').popover({html:true});
									$('.event').on('click', function (e) {
											$(this).infoEvent();
									});
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
		});
		$('#tokenfield-eeaa').on('tokenfield:removedtoken', function (e) {
			var values = $('#tokenfield-eeaa').tokenfield('getTokens');
			$.ajax({
					url: "/ajax_filter_eeaa/",
					data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
					dataType: "json",
					cache: false,
					success: function(data) {
								var result = data['events'];
								var html_table;
								for (i in result) {
									html_table = html_table+ '<tr> \
										<td>' + result[i]['name'] +
										'</td>\
										<td>'+result[i]['country__name']+', '+ result[i]['city__name']+ '</td>\
										<td>'+result[i]['date']+'</td>\
										<td>'+result[i]['start_time']+ ' / ' +result[i]['end_time']+'</td>\
										<td>'+result[i]['place']+'</td>\
										<td><p>\
											<button id="" id-event="'+result[i]['id']+'" class="asistir button-line btn" style="height: auto; margin:0px;width: 90px;">\
												Asistir\
											</button>\
											</p><br>\
											<p>\
											<button id="'+result[i]['id']+'" class="btn btn-default event" style="width: 90px;">\
												+Info\
											</button>\
											</p>\
										</td>\
										<td>'+result[i]['link']+'</td>\
									</tr>'
								}
								$('.companies-show').empty()
								$('.companies-show').html(html_table)
								$('[data-toggle="popover"]').popover({html:true});
								$('.event').on('click', function (e) {
									$(this).infoEvent();
								});
								return false;
					},
					error: function(jqXHR, textStatus, errorThrown) {
							if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
					},
					crossDomain: false,
					type: "POST",
			})
		})
		$( "#location" ).autocomplete({
				source: location,
				select: function (event, ui) {
					$('#tokenfield-eeaa').tokenfield('createToken', { value: 'place', label: ui.item.label });
					var values = $('#tokenfield-eeaa').tokenfield('getTokens');
					$.ajax({
							url: "/ajax_filter_eeaa/",
							data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
							dataType: "json",
							cache: false,
							success: function(data) {
										var result = data['result'];
										var html_table;
										for (i in result) {
											html_table = html_table+ '<tr> \
												<td>' + result[i]['name'] +
												'</td>\
												<td>'+result[i]['country__name']+', '+ result[i]['city__name']+ '</td>\
												<td>'+result[i]['date']+'</td>\
												<td>'+result[i]['start_time']+ ' / ' +result[i]['end_time']+'</td>\
												<td>'+result[i]['place']+'</td>\
												<td><p>\
													<button id="" id-event="'+result[i]['id']+'" class="asistir button-line btn" style="height: auto; margin:0px;width: 90px;">\
														Asistir\
													</button>\
													</p><br>\
													<p>\
													<button id="'+result[i]['id']+'" class="btn btn-default event" style="width: 90px;">\
														+Info\
													</button>\
													</p>\
												</td>\
												<td>'+result[i]['link']+'</td>\
											</tr>'
										}
										$('.companies-show').empty()
										$('.companies-show').html(html_table)
										$('[data-toggle="popover"]').popover({html:true});
										$('.event').on('click', function (e) {
											$(this).infoEvent();
										});
										return false;
							},
							error: function(jqXHR, textStatus, errorThrown) {
									if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
							},
							crossDomain: false,
							type: "POST",
					})
				},
			});
		$( "#coordination" ).autocomplete({
				source: coordination,
				select: function (event, ui) {
					$('#tokenfield-eeaa').tokenfield('createToken', { value: 'coordination', label: ui.item.label });
					var values = $('#tokenfield-eeaa').tokenfield('getTokens');
					$.ajax({
							url: "/ajax_filter_eeaa/",
							data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
							dataType: "json",
							cache: false,
							success: function(data) {
										var result = data['events'];
										console.log(data);
										var html_table;
										for (i in result) {
											html_table = html_table+ '<tr> \
												<td>' + result[i]['name'] +
												'</td>\
												<td>'+result[i]['country__name']+', '+ result[i]['city__name']+ '</td>\
												<td>'+result[i]['date']+'</td>\
												<td>'+result[i]['start_time']+ ' / ' +result[i]['end_time']+'</td>\
												<td>'+result[i]['place']+'</td>\
												<td><p>\
													<button id="" id-event="'+result[i]['id']+'" class="asistir button-line btn" style="height: auto; margin:0px;width: 90px;">\
														Asistir\
													</button>\
													</p><br>\
													<p>\
													<button id="'+result[i]['id']+'" class="btn btn-default event" style="width: 90px;">\
														+Info\
													</button>\
													</p>\
												</td>\
												<td>'+result[i]['link']+'</td>\
											</tr>'
										}
										$('.companies-show').empty()
										$('.companies-show').html(html_table)
										$('[data-toggle="popover"]').popover({html:true});
										$('.event').on('click', function (e) {
											$(this).infoEvent();
										});
										return false;
							},
							error: function(jqXHR, textStatus, errorThrown) {
									if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
							},
							crossDomain: false,
							type: "POST",
					})
				},
			});

			$('.select-filter').on('click', function (e) {
				var name=$(this).text()
				$.ajax({
						url: "/ajax_filters_select_eeaa/",
						data: {'name': name, 'user':'{{user.pk}}', 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
							data_filter = JSON.parse(data['data_filter'])
							$('#tokenfield-eeaa').tokenfield('setTokens', []);
							for (i in data_filter){
								$('#tokenfield-eeaa').tokenfield('createToken', { value: data_filter[i]['data_filter'], label: data_filter[i]['type_filter'] });

							}

							return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				}).done(function() {
					var values = $('#tokenfield-eeaa').tokenfield('getTokens');
					$.ajax({
							url: "/ajax_filter_eeaa/",
							data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , csrfmiddlewaretoken:'{{csrf_token}}'},
							dataType: "json",
							cache: false,
							success: function(data) {
										var result = data['result'];
										var html_table;
										for (i in result) {
												html_table = html_table+ '<tr> \
													<td>' + result[i]['name'] +
													'</td>\
													<td>'+result[i]['country__name']+', '+ result[i]['city__name']+ '</td>\
													<td>'+result[i]['date']+'</td>\
													<td>'+result[i]['start_time']+ ' / ' +result[i]['end_time']+'</td>\
													<td>'+result[i]['place']+'</td>\
													<td><p>\
														<button id="" id-event="'+result[i]['id']+'" class="asistir button-line btn" style="height: auto; margin:0px;width: 90px;">\
															Asistir\
														</button>\
														</p><br>\
														<p>\
														<button id="'+result[i]['id']+'" class="btn btn-default event" style="width: 90px;">\
															+Info\
														</button>\
														</p>\
													</td>\
													<td>'+result[i]['link']+'</td>\
												</tr>'
										}
										$('.companies-show').empty()
										$('.companies-show').html(html_table)
										$('[data-toggle="popover"]').popover({html:true});
										$('.event').on('click', function (e) {
											$(this).infoEvent();
										});
										return false;
							},
							error: function(jqXHR, textStatus, errorThrown) {
									if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
							},
							crossDomain: false,
							type: "POST",
					})

				});
			})

			$('.save').on('click', function (e) {
				var name_filter = $('#name_filter').val()
				if (!name_filter){
					$('.custom-alert').css('display', '')
					$('.message').removeClass('hidden')
					$('.message').html('Tiene que llenar el nombre del filtro<span onclick="dismissAlert()">x</span>')
					$('.save_information').removeClass('open');
					return 0
				}
				var values = $('#tokenfield-eeaa').tokenfield('getTokens');
				$.ajax({
						url: "/ajax_save_filter_eeaa/",
						data: {'filters[]': JSON.stringify(values), 'id_selection': id_selection , 'name':name_filter, 'user':'{{user.pk}}', csrfmiddlewaretoken:'{{csrf_token}}'},
						dataType: "json",
						cache: false,
						success: function(data) {
									$('.custom-alert').css('display', '')
									$('.message').removeClass('hidden')
									$('.message').html(data['message']+'<span onclick="dismissAlert()">x</span>')
									$('.save_information').removeClass('open');
									return false;
						},
						error: function(jqXHR, textStatus, errorThrown) {
								if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
						},
						crossDomain: false,
						type: "POST",
				})
			})

	})
	$(".my-modal").on('click', function(e) {
		var datepicker=false;
		$('.icon-datepicker').on('click', function (e) {
			if (datepicker){
				$( "#datepicker" ).data("DateTimePicker").hide();
				datepicker=false;
			}else{
				$( "#datepicker" ).data("DateTimePicker").show();
				datepicker=true;
			}

		})
		$( "#datepicker" ).datetimepicker({
			format: 'YYYY/MM/DD',
			allowInputToggle: true,
			icons: {
		        previous: 'fa fa-chevron-left',
		        next: 'fa fa-chevron-right',
		    },
		});
	});
	$('#start_time, #end_time, #end_time_group, #start_time_group').datetimepicker({
		icons: {
			up: 'fa fa-chevron-up',
			down: 'fa fa-chevron-down',
		},
		format: 'HH:mm',
		stepping: 10
	});
	$('.checkbox-radio').click(function(){
    	$('.checkbox-radio').each(function(){
          $(this).prop('checked', false); 
        }); 
        $(this).prop('checked', true);
    });
    $[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      return $( "<li class='li-ui'></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<div><a></a></div>" ).html("<div class='complete-1'><a>"+ item.label + "</a></div>") )
        .appendTo( ul );
    };
	setTimeout(function() {
      dismissAlert();
    }, 2500);
    function dismissAlert () {
      $('.alert.alert-success').fadeOut();
    };

	</script>

</body>
