{% load staticfiles %}		
<!--<input type="text" class="form-control" id="location_3" name="filter" value="" placeholder="Palabra Clave" />-->
								        
		<section id="sub_header">

			<div class="container" style="padding-top:20px;">
				<div class="row">

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 {%if id_selection == "1" %} active-menu {%endif%}">
						<a href="/eeaa/1/#sub_header" class="center tab-menu">
							<p>
								Reuniones pasadas
							</p>
							<p>
								{{event_before.count}}
							</p>
						</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 menu-box {%if id_selection == "2" %} active-menu {%endif%}">
					<a href="/eeaa/2/#sub_header" class="center tab-menu">
						<p>
							Próximas reuniones
						</p>
						<p>
							{{event_after.count}}
						</p>
					</a>
				</div>



			</div>
		</div>
		</section>

		<section>
			<div class="container" style="padding-top:20px; padding-bottom:40px;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="input-group">
							<!--<input type="text" class="form-control" placeholder="Palabra Clave"> -->
							<input type="text" class="form-control" id="tokenfield-eeaa" name="filter" value="" placeholder="Palabra Clave" />
							<span class="input-group-btn save_information">
								<button class="btn btn-default save_btn" type="button" aria-haspopup="true" aria-expanded="false">Guardar</button>
								<ul class="dropdown-menu filter-search">
									<input type="text" name="name_filter" style="width: 95%;" id="name_filter" value="" placeholder="Nombre del filtro">
									<div class='row ' style="margin-left: -8px;margin-right: 25px;">
										<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
											<br>
											<input type="checkbox" value="1" name="" >
										</div>
										<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
											<br>
											Enviame una notificación de alerta <br>
											cuando nuevas compañias <br>
											tengan match con este filtro.
											<p style="font-style: italic;">
												<br>
												Todas las alertas las recibiras en un <br>unico mail diario.
											</p>
										</div>


									</div>
									<li class="container_save"><button class="fancy-button button-line large save" type="button" >Guardar filtro</button>
									 </li>

								</ul>
							</span>
						</div><!-- /input-group -->
					</div>

				</div>

				<div class="row sub-menu">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sub-menu-box">
						<div class="form-group">
							<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Tipo <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu filter-menu">
								{%for i in type_filter%}
						    <li class="filter_option" data-type="type">  <a>{{i.name}}</a> <hr></li>
								{%endfor%}
						  </ul>
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sub-menu-box">
						<div class="form-group box-dropdown">
							<button type="button" class="btn btn-default filter-menu-btn" aria-haspopup="true" aria-expanded="false">
								Locación <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<input  type="text" name="location" id="location" value="" placeholder="Añadir locación">
								<li class="center" style="padding-bottom:15px"><hr><b>Locaciones Top 3</b></li>
								{%for i in places_top%}
								<li class="filter_option" data-type="place"><a>{{i.place__name}}</a></li>
								{%endfor%}
							</ul>
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sub-menu-box">
						<div class="form-group box-dropdown-2">
							<button type="button" class="btn btn-default filter-menu-btn" aria-haspopup="true" aria-expanded="false">
								Coordinador <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<input  type="text" name="coordination" id="coordination" value="" placeholder="Añadir Coordinador">
							</ul>
						</div>
					</div>

					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sub-menu-box">
						<div class="form-group">
							<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Mis Filtros y Alertas <span class="caret"></span>
							</button>
							<ul class="dropdown-menu filter-menu">
								<li class="center" style="padding-bottom:15px"><b>Filtros</b></li>
								{% if myfilters%}
									{%for i in myfilters%}
									<li class=""> <hr> </li>
									<li class="select-filter"><a>{{i.name}}</a></li>
									{%endfor%}
								{%else%}
									<li class="center">No has guardado ningún filtro</li>
								{%endif%}
							</ul>
						</div>
					</div>

				</div>

				<table class="table table-company">
			    <thead>
			      <tr>
			        <th>Reunión </th>
			        <th>Locación</th>
			        <th>Fecha</th>
			        <th>Hora inicio/ término</th>
			        <th style='width: 200px;'>Lugar</th>
			        <th>Asistencia</th>
			        <th>Link</th>
			      </tr>
			    </thead>
			    <tbody class="companies-show">
						{%for event in events%}
			      <tr>
			        <td>
								<p >
									{{event.name}}
								</p>
							</td>
			        <td>{{event.city}}, {{event.country}}</td>
			        <td>{{event.date|date:"d-m-Y"}}</td>
			        <td>{{event.start_time}} / {{event.end_time}}</td>
			        <td>{{event.place}}</td>
			        <td>
								<p>
									<button id="" id-event="{{event.pk}}" class="asistir button-line btn" style="height: auto; margin:0px;width: 90px;">
										Asistir
									</button>
								</p>
								<br>
								<p>
									<button id="{{event.pk}}" class="btn btn-default event" style="width: 90px;">
										+Info
									</button>
								</p>

							</td>
			        <td>{{event.link}}</td>
			      </tr>
						{%endfor%}
			    </tbody>
			  </table>


			</div>
		</section>
